.page-links {
	clear: both;
	.page-link {
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 36px;
		border: 2px solid @accent_color;
		background-color: @accent_color;
		color: @foreground_accent_color;
		display: inline-block;
		-webkit-border-radius:100%;
		-moz-border-radius:100%;
		border-radius:100%;
		.transition03;
		&.current,
		&:hover,
		&:focus {
			background-color: @accent_color;
			color: @foreground_accent_color;
			border-color: @accent_color;
		}
	}
	a > .page-link {
		background-color: transparent;
		border-color: #ddd;
		color: #666;
	}

	> .page-links-title {
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
		margin-right: 10px;
	}
}

/**
* Thumb
* ----------------------------------------------------------------------------
*/
.entry-thumbnail {
	img {
		width: 100%;
	}
	position: relative;
	.zoomGallery {
		position: absolute;
		bottom: 0;
		width: 56px;
		height: 55px;
		right: 0;
		line-height: 54px;
		font-size: 16px;
		text-align: center;
		color: #FFFFFF;
		z-index: 2;

		opacity: 0;

		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		-o-transform: scale(0.8);
		transform: scale(0.8);

		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-ms-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
	}
	&:hover {
		.zoomGallery {
			opacity: 1;
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
		}
		.entry-thumbnail-overlay:before{
			opacity: 1;
		}
		.product-deal-countdown {
			opacity: 0;
			z-index: -1;
		}
	}
}
.entry-thumbnail-overlay {
	position: relative;
	z-index: 2;
	display: block;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		z-index: 1;
		background-color: rgba(0,0,0,0.6);
		.transition03;
	}
}

.post-video {
	.entry-thumbnail-overlay:before {
		opacity: 1;
		background-color: rgba(0,0,0,0.8);
	}
	.zoomGallery {
		background-color: transparent;
		opacity: 1;
		font-size: 35px;
		color: #fff;
		width: 100px;
		height: 100px;
		border:5px solid #fff;
		line-height: 90px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		cursor: pointer;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		-webkit-border-radius:100%;
		-moz-border-radius:100%;
		border-radius:100%;
		&:hover {
			color: @accent_color;
			border-color: @accent_color;
		}
	}
}

@media (max-width: 480px) {
	.post-video {
		.zoomGallery {
			font-size: 20px;
			width: 60px;
			height: 60px;
			border-width: 3px;
			line-height: 54px;
		}
	}
}


.no-image{
	background-color: #f5f5f5;
	.block-center-inner {
		text-transform: uppercase;
		font-size: 24px;
		letter-spacing: 0.05em;
	}
}


/**
* Post Meta
* ----------------------------------------------------------------------------
*/
.entry-post-meta {
	display: inline-block;
	font-size: 0;
	margin-bottom: 20px;
	> div {
		display: inline-block;
		vertical-align: middle;
		font-size: 15px;
		color: #BBB;
		margin-right: 25px;
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		&:last-child {
			margin-right: 0;
		}
	}
	i {
		font-size: 16px;
		margin-right: 5px;
	}
}


/**
* Paging Navigation
* ----------------------------------------------------------------------------
*/
.paging-navigation {
	padding-top: 50px;
	text-align: center;
}
.woocommerce-pagination,
.paging-navigation,
.comment-navigation {
	font-size: 0;
	.page-numbers {
		margin-right: 5px;
		width: 48px;
		height: 48px;
		border: 2px solid #ddd;
		line-height: 44px;
		text-align: center;
		color: #666;
		font-size: 16px;
		letter-spacing: 0.02em;
		font-weight: normal;
		display: inline-block;
		-webkit-border-radius:100%;
		-moz-border-radius:100%;
		border-radius:100%;
		.transition03;
		&.current,
		&:hover,
		&:focus {
			background-color: @accent_color;
			color: @foreground_accent_color;
			border-color: @accent_color;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

@media (max-width: 480px) {
	.woocommerce-pagination,
	.paging-navigation,
	.comment-navigation {
		.page-numbers {
			width: 40px;
			height: 40px;
			line-height: 36px;
		}
	}
}

.woocommerce-pagination,
.paging-navigation,
.comment-navigation {
	.next,
	.prev {
		width: auto;
		border-color: transparent;
		i {
			font-size: 14px;
		}
		&:hover,
		&:focus {
			background-color: transparent;
			border-color: transparent;
			color: @accent_color;
		}
	}
	.next {
		margin-left: 15px;
	}
	.prev {
		margin-right: 20px;
	}
}


.entry-thumb-wrap {
	position: relative;
}

.entry-content-wrap {
	border: 1px solid #f8f8f8;
	padding: 30px 50px 50px 50px;
	.transition03();
}

.entry-thumb-wrap + .entry-content-wrap {
	border-top:none;
}

.entry-post-title {
	font-size: 34px;
	font-weight: bold;
	margin-bottom: 15px;
	color: #1f1f1f;
	letter-spacing: 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	.transition03;
	a {
		color: inherit;
		&:hover {
			color: @accent_color;
		}
	}
}
.entry-excerpt {
	margin-bottom: 37px;
	letter-spacing: 0.02em;
	p:last-child {
		margin-bottom: 0;
	}
}

.entry-content-footer {
	.social-share {
		float: right;
		margin-top: 6px;
		label {
			font-size: 13px;
			text-transform: uppercase;
			color: @text_color_bold;
			font-weight: bold;
			margin-right: 20px;
			i {
				font-size: 14px;
				color: #666;
				margin-left: 5px;
			}
		}
	}

	&.left {
		.social-share {
			float: none;
			margin-top: 25px;
		}
	}
}

article.sticky .entry-content-wrap {
	border: none;
	background-color: #f9f9f9;
}

.embed-responsive-large-image {
	padding-bottom: 55.1724138%;
}
.large-image .no-image:before {
	padding-bottom: 55.1724138%;
}

article.format-link,
article.format-quote {
	> .entry-thumb-wrap:not(.quote):before {
		content: "";
		display: inline-block;
		padding-bottom: 55.1724138%;
	}
}

.small-image .no-image:before,
.embed-responsive-small-image {
	padding-bottom: 69.047619%;
}

.size-370x543 .no-image:before,
.embed-responsive-size-370x543 {
	padding-bottom: 146.7567568%;
}
.size-370x370 .no-image:before,
.embed-responsive-size-370x370 {
	padding-bottom: 100%;
}

.size-370x243 .no-image:before,
.embed-responsive-size-370x243 {
	padding-bottom: 65.6756757%;
}

.size-640x420 .no-image:before,
.embed-responsive-size-640x420 {
	padding-bottom: 65.625%;
}



.format-audio .embed-responsive-large-image {
	padding: 0;
	overflow: inherit;
	height: auto;
	font-size: 0;
	iframe {
		height: 166px;
		position: static;
	}
}

/**
* Format Quote & Link
* ----------------------------------------------------------------------------
*/

.entry-quote-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0 30px;
	i {
		width: 40px;
		height: 40px;
		background: #fff;
		line-height: 40px;
		border-radius: 100%;
		margin-bottom: 15px;
		display: block;
	}
	p {
		color: #fff;
		font-size: 20px;
		font-style: italic;
		margin-bottom: 5px;
		&:after {
			content: "";
			width: 20px;
			border-top: 1px solid #fff;
			display: block;
			margin: 10px auto 0 auto;
		}
	}
	a {
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 0.4em;
		color: #fff;
		text-transform: uppercase;
	}
}

.entry-thumbnail-quote {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-clip: content-box;
	background-size: cover;
	background-position: center center;
}

.entry-thumb-wrap.quote {
	.entry-quote-content {
		position: relative;
		padding: 30px;
	}
	.block-center::before {
		display: none;
	}
}




.blog-wrap:not(.owl-carousel) {
	margin-bottom: -50px;
	article {
		padding-bottom: 50px;
	}
}

@media (min-width: 481px) {
	.format-gallery > .entry-thumb-wrap > .owl-carousel > .owl-dots {
		display: none !important;
	}
}

@media (max-width: 480px) {
	.format-gallery > .entry-thumb-wrap > .owl-carousel > .owl-nav {
		display: none !important;
	}
}

/**
* Grid Layout
* ----------------------------------------------------------------------------
*/

article.post-grid {

	.entry-post-title {
		font-size: 20px;
		letter-spacing: 0.02em;
		margin-bottom: 0;
	}

	.entry-post-meta > div {
		margin-right: 20px;
	}

	.entry-post-meta {
		margin-bottom: 15px;
	}

	.entry-excerpt {
		max-height: 5.4em;
		overflow: hidden;
		margin-bottom: 12px;
	}

	.entry-content-wrap {
		padding: 22px 30px;
		.transition03();
	}

	&.format-link,
	&.format-quote {
		> .entry-thumb-wrap:not(.quote):before {
			content: "";
			display: inline-block;
			padding-bottom: 69.047619%;
		}
	}

	.post-video {
		.zoomGallery {
			font-size: 20px;
			width: 60px;
			height: 60px;
			border-width: 3px;
			line-height: 54px;
		}
	}

	&:hover {
		.entry-content-wrap {
			-webkit-box-shadow: 0 5px 5px #f8f8f8;
			-moz-box-shadow: 0 5px 5px #f8f8f8;
			box-shadow: 0 3px 5px #f8f8f8;
		}
	}

}

.blog-masonry,
.blog-grid {
	&:not(.owl-carousel) {
		margin-bottom: -25px;
		article {
			padding-bottom: 25px;
		}
	}
}


@media (max-width: 767px) {
	.entry-content-wrap {
		padding: 20px 30px 30px 30px;
	}
}

@media (max-width: 480px) {
	.entry-content-wrap {
		padding: 10px 15px 15px 15px;
	}
	.entry-post-title {
		font-size: 25px;
	}

	.blog-wrap:not(.owl-carousel) {
		margin-bottom: -20px;
		article {
			padding-bottom: 20px;
		}
	}
	.paging-navigation {
		padding-top: 20px;
	}
}


/**
* Large Image 2
* ----------------------------------------------------------------------------
*/
article.post-large-image-2 {
	width: 100% !important;
	padding-left: 15px;
	padding-right: 15px;
	.entry-meta-category {
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #888;
		margin-bottom: 8px;
		font-weight: bold;
		a {
			color: inherit;
			&:hover {
				color: @accent_color;
			}
		}
	}
	.entry-post-title {
		font-size: 40px;
		margin-bottom: 12px;
		&:after {
			content: '';
			display: block;
			height: 3px;
			width: 60px;
			background-color: @accent_color;
			margin: 15px auto 0 auto;
		}
	}
	.entry-meta-date {
		font-size: 17px;
		font-style: italic;
		color: #999;
		letter-spacing: 0.02em;
		a {
			color: inherit;
		}
	}
	.entry-content-top {
		margin-bottom: 50px;
	}
	.entry-content-wrap {
		-webkit-box-shadow: 0 5px 5px #f8f8f8;
		-moz-box-shadow: 0 5px 5px #f8f8f8;
		box-shadow: 0 3px 5px #f8f8f8;
		border-width: 2px;
		padding: 20px 30px 50px 30px;;
	}
	.entry-excerpt {
		margin-bottom: 27px;
	}
}

/**
* Masonry
* ----------------------------------------------------------------------------
*/
article.post-masonry {
	img {
		width: 100%;
	}
	.entry-content-wrap {
		border: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		padding: 10px;
		background-color: rgba(0,0,0,0.8);
		opacity: 0;
		.transition03();
	}
	.entry-post-title {
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 10px;
		.transition03();
	}
	.entry-meta-date {
		font-size: 17px;
		font-style: italic;
		color: #ddd;
		letter-spacing: 0.02em;
		margin-bottom: 10px;
		a {
			color: inherit;
		}
	}
	.block-center-inner {
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
		transform: translateY(-20px);
		.transition03();
	}
	.entry-actions {
		font-size: 0;
		> a {
			width: 42px;
			height: 42px;
			line-height: 40px;
			display: inline-block;
			border: 1px solid rgba(255,255,255,0.4);
			font-size: 16px;
			text-align: center;
			color: #fff;
			-webkit-border-radius:100%;
			-moz-border-radius:100%;
			border-radius:100%;
			margin: 0 5px;
			.transition03();
			&:hover {
				border-color: @accent_color;
				background-color: @accent_color;
			}
		}
	}
	&:hover {
		.entry-content-wrap {
			opacity: 1;
		}
		.block-center-inner {
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
		}

	}
}


.blog-1-large-image-masonry:not(.owl-carousel){
	margin-bottom: -30px;
	article.post-large-image-2 {
		padding-bottom: 90px;
	}
	article.post-masonry {
		padding-bottom: 30px;
	}
}
.blog-large-image-2:not(.owl-carousel){
	margin-bottom: -90px;
	article {
		padding-bottom: 90px;
	}
}

/**
* Social share
* ----------------------------------------------------------------------------
*/
.social-share {
	font-size: 0;
	a {
		display: inline-block;
		width: 36px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		font-size: 16px;
		.border-radius(100%);
		background-color: #f2f2f5;
		color: @text_color_bold;
		.transition03;
		&:hover {
			background-color: @accent_color;
			color: @foreground_accent_color;
		}
		margin-right: 5px;
		&:last-child {
			margin-right: 0;
		}
	}
	&.classic {
		a {
			width: auto;
			height: auto;
			line-height: 1;
			font-size: 14px;
			color: @text_color_bold;
			background-color: transparent;
			.border-radius(0);
			margin-right: 15px;
			&:hover {
				color: @accent_color;
			}
		}
	}
	&.square {
		a {
			width: 38px;
			height: 38px;
			border: 1px solid @border_color;
			font-size: 14px;
			background-color: transparent;
			.border-radius(0);
			color: #777;
			margin-right: 10px;
			&:hover {
				color: @accent_color;
			}
		}
	}
}


/**
* Single Blog
* ----------------------------------------------------------------------------
*/
article.post-single {
	padding-bottom: 30px;
	border-bottom: 1px solid @border_color;
	.entry-thumb-wrap {
		margin-bottom: 40px;
		text-align: center;
	}
	.entry-content-wrap {
		padding: 0;
		border: none;
	}
	.entry-post-title {
		margin-bottom: 5px;
	}
	.entry-post-meta {
		margin-bottom: 30px;
	}

	.entry-thumbnail {
		display: inline-block;
	}
	.entry-thumbnail img {
		width: auto;
	}
}
.entry-meta-tag-wrap {
	padding: 20px 0;
	.social-share {
		display: table-cell;
		white-space: nowrap;
		vertical-align: middle;
		label {
			font-size: 13px;
			font-weight: bold;
			color: @text_color_bold;
			text-transform: uppercase;
			margin-right: 10px;
			i {
				display: none;
			}
		}
	}
}
.entry-meta-tag {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	padding-right: 20px;
	color: #bbb;
	a {
		color: inherit;
		font-size: 14px;
		&:hover {
			color: @accent_color;
		}
	}
	label {
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
		color: @text_color_bold;
		margin-right: 10px;
		display: inline-block;
	}
}


@media (max-width: 767px) {
	.entry-meta-tag {
		display: block;
		padding-right: 0;
	}
	.entry-meta-tag-wrap .social-share {
		display: block;
	}

    .entry-meta-tag + .social-share {
	    margin-top: 10px;
    }
}


/**
* Post Navigation
* ----------------------------------------------------------------------------
*/
.post-navigation {
	padding: 37px 0;
	> div {
		color: @text_color_bold;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bold;
		display: table-cell;
		width: 100%;
		white-space: nowrap;
		&:hover,
		&:focus {
			color: @accent_color;
		}
		i {
			font-size: 20px;
			position: relative;
			top: 4px;
		}
		a {
			color: inherit;
		}
	}
}

.entry-meta-tag-wrap + .post-navigation {
	background-color: #f7f7f7;
	padding-left: 20px;
	padding-right: 20px;
}

/**
* Author Bio
* ----------------------------------------------------------------------------
*/
.author-info {
	background-color: #f7f7f7;
	padding: 45px 40px;
}
.author-avatar {
	float: left;
	width: 100px;
	img {
		margin: 0;
		.border-radius(100%);
	}
}
.author-description {
	padding-left: 120px;
}
.author-title {
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: 0;
	color: @text_color_bold;
	&:hover {
		color: @accent_color;
	}
	a {
		color: inherit;
	}
}
.author-bio {
	margin-bottom: 10px;
}
@media (max-width: 480px) {
	.author-avatar {
		float: none;
		margin-bottom: 20px;
	}
	.author-description {
		padding-left: 0;
	}
}



/**
* Comment
* ----------------------------------------------------------------------------
*/
.block-title-classic {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	color: @text_color_bold;
	letter-spacing: 0;
	margin-bottom: 55px;
}
.comments-area {
	background-color: #f7f7f7;
	padding: 70px 50px 60px 50px;
}
article + .comments-area {
	margin-top: 50px;
}
.comments-list {
	padding-bottom: 40px;
	border-bottom: 1px solid #ddd;
}

.comment-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	li.comment + li.comment {
		margin-top: 35px;
		padding-top: 35px;
		border-top: 1px solid #fff;
	}

	.children {
		list-style: none;
		padding-left: 0;
		border-top: 1px solid #fff;
		margin-top: 35px;
		padding-top: 35px;
	}

	.avatar {
		margin: 0;
		padding: 0;
		float: left;
		width: 100px;
		.border-radius(100%);
	}
	.avatar + .comment-text {
		padding-left: 120px;
	}

	.author-name {
		font-weight: bold;
		letter-spacing: 0;
		color: @text_color_bold;
		font-size: 13px;
		text-transform: uppercase;
		margin-bottom: 5px;
		a {
			color: inherit;
			&:hover {
				color: @accent_color;
			}
		}
	}

	.comment-meta-date {
		color: #bbb;
		font-size: 14px;
		margin-bottom: 15px;
		letter-spacing: 0.02em;
	}
	.comment-body {
		position: relative;
	}

	.comment-meta {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0;
		a {
			display: inline-block;
			font-size: 13px;
			color: @accent_color;
			letter-spacing: 0.05em;
			.transition03;
			&:hover {
				color: @text_color_bold;
			}
		}
		a + a{
			margin-left: 10px;
		}
	}
}

@media (min-width: 768px) {
	.comment-list {
		.children > li > .comment-body {
			padding-left: 100px;
		}

		.children .children > li > .comment-body {
			padding-left: 200px;
		}

		.children .children .children > li > .comment-body {
			padding-left: 300px;
		}
		.children .children .children .children > li > .comment-body {
			padding-left: 400px;
		}
	}
}

.comment-form {
	margin-left: -7.5px;
	margin-right: -7.5px;

	input[type="text"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="tel"],
	textarea{
		height: 50px;
		color: #bbb;
		.placeholder(#bbb);
		background-color: #fff;
		border: 1px solid #ddd;
	}

	textarea {
		height: auto;
	}
}

.comment-form > p {
	margin-bottom: 15px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	width: 100%;
	float: left;
	input:not([type="submit"]),
	textarea {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.comment-form .comment-form-field {
		width: 50%;
	}
	.comment-form .comment-form-comment {
		width: 100%;
	}
}

.comment-body + .comment-respond,
.comments-list + .comment-respond {
	margin-top: 50px;
}

.comment-respond:after{
	content: '';
	display: table;
	clear: both;
}

.comment-form .form-submit {
	margin-bottom: 0;
}

.post-navigation + .post-related-wrap,
.author-info + .post-related-wrap,
.comments-area + .post-related-wrap {
	margin-top: 50px;
}


@media (max-width: 480px) {
	.comments-area {
		padding: 30px 15px 20px 15px;
	}

	.comment-list .avatar {
		display: none;
	}
	.comment-list .avatar + .comment-text {
		padding-left: 0;
	}

}
