.main-footer-wrapper {
	.widget {
		margin-bottom: 30px;
	}

	.sidebar .widget:last-of-type {
		margin-bottom: 0;
	}

	.widget-title {
		color: @footer_widget_title_color;
		font-size: 25px;
		margin-bottom: 40px;
		&:after {
			margin-top: 21px;
		}
	}
}
.main-footer {
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 0;
		background-color: @footer_bg_color;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	color: @footer_text_color;
	&.full-border,
	&.container-border .footer-inner {
		border-top: solid 1px @footer_border_color;
	}


	/**
	* Archive, categories, nav_menu
	* ----------------------------------------------------------------------------
	*/
	.widget_meta,
	.widget_archive,
	.widget_categories,
	.widget_nav_menu,
	.widget_pages,
	.widget_product_categories,
	.widget_recent_entries {
		li {
			color: @footer_text_color;
		}

		li + li {
			border-color: @footer_border_color;
		}
		ul ul {
			border-color: @footer_border_color;
		}
	}

	.widget_recent_comments,
	.widget_rss {
		li + li {
			border-color: @footer_border_color;
		}
	}

	/**
	* Calendar
	* ----------------------------------------------------------------------------
	*/
	.widget_calendar {
		.calendar_wrap caption{
			color: @footer_text_color;
		}
		#wp-calendar {
			width: 100%;
			th {
				background-color: @footer_border_color;
			}
			tbody td, th {
				border-color: @footer_border_color;
			}
			tfoot td {
				color: @footer_text_color;
			}
		}
	}

	/**
	* G5Plus:Posts
	* ----------------------------------------------------------------------------
	*/
	.widget-posts {
		li + li {
			border-color: @footer_border_color;
		}
		.entry-post-title {
			color: @footer_text_color_lighten;
		}
	}

	/**
	* Tag Clound
	* ----------------------------------------------------------------------------
	*/
	.tagcloud {
		a {
			color: @footer_text_color;
			border-color: @footer_border_color;
		}
	}

	/**
	* Product
	* ----------------------------------------------------------------------------
	*/
	.woocommerce ul.product_list_widget {
		li {
			border-color: @footer_border_color;
		}
		li a {
			color: @footer_text_color_lighten;
		}

		span.reviewer {
			color: @footer_text_color_lighten;
		}
	}

	.widget-info-box {
		li > i {
			color: @footer_text_color_lighten;
		}
	}





}
.footer-inner {
	padding-top: @footer_padding_top;
	padding-bottom: @footer_padding_bottom;
}

@media (max-width: 991px) {
	.main-footer .sidebar + .sidebar {
		margin-top: 30px;
	}
}

@media (min-width: 1370px) {
	.main-footer-wrapper .container-fluid {
		padding-left: 100px;
		padding-right: 100px;
	}
}

/**
* Bottom Bar
* ----------------------------------------------------------------------------
*/
.bottom-bar-wrapper {
	background-color: @bottom_bar_bg_color;
	color: @bottom_bar_text_color;

	&.full-border,
	&.container-border .bottom-bar-inner{
		border-top: solid 1px @bottom_bar_border_color;
	}

	.widget + .widget {
		margin-left: 10px;
	}
	.widget_text strong,
	.menu li > a:hover {
		color: @bottom_bar_text_color_lighten;
	}

	/**
	* Archive, categories, nav_menu
	* ----------------------------------------------------------------------------
	*/
	.widget_meta,
	.widget_archive,
	.widget_categories,
	.widget_nav_menu,
	.widget_pages,
	.widget_product_categories,
	.widget_recent_entries {
		li {
			color: @bottom_bar_text_color;
		}

		li + li {
			border-color: @bottom_bar_border_color;
		}
		ul ul {
			border-color: @bottom_bar_border_color;
		}
	}

	.widget_recent_comments,
	.widget_rss {
		li + li {
			border-color: @bottom_bar_border_color;
		}
	}

	/**
	* Calendar
	* ----------------------------------------------------------------------------
	*/
	.widget_calendar {
		.calendar_wrap caption{
			color: @bottom_bar_text_color_lighten;
		}
		#wp-calendar {
			width: 100%;
			th {
				background-color: @bottom_bar_border_color;
			}
			tbody td, th {
				border-color: @bottom_bar_border_color;
			}
			tfoot td {
				color: @bottom_bar_text_color;
			}
		}
	}

	/**
	* G5Plus:Posts
	* ----------------------------------------------------------------------------
	*/
	.widget-posts {
		li + li {
			border-color: @bottom_bar_border_color;
		}
		.entry-post-title {
			color: @bottom_bar_text_color_lighten;
		}
	}

	/**
	* Tag Clound
	* ----------------------------------------------------------------------------
	*/
	.tagcloud {
		a {
			color: @bottom_bar_text_color;
			border-color: @bottom_bar_border_color;
		}
	}

	/**
	* Product
	* ----------------------------------------------------------------------------
	*/
	.woocommerce ul.product_list_widget {
		li {
			border-color: @bottom_bar_border_color;
		}
		li a {
			color: @bottom_bar_text_color_lighten;
		}

		span.reviewer {
			color: @bottom_bar_text_color_lighten;
		}
	}

	.widget-info-box {
		li > i {
			color: @bottom_bar_text_color_lighten;
		}
	}
}
.bottom-bar-inner {
	padding-top: @bottom_bar_padding_top;
	padding-bottom: @bottom_bar_padding_bottom;
}

@media only screen and (min-width: 992px) {
	footer.enable-parallax {
		position: fixed !important;
		bottom: 0;
		left: 0;
		z-index: -1;
		right: 0;
		margin: auto;
		width: 100%;
		-webkit-backface-visibility: visible;
		-moz-backface-visibility: visible;
		-ms-backface-visibility: visible;
		backface-visibility: visible;
	}
	footer.enable-parallax.static {
		position: static!important;
	}

	body.boxed footer.enable-parallax {
		max-width: 1210px;
	}
}

@media only screen and (max-width: 991px) {
	.bottom-bar-left,
	.bottom-bar-right {
		text-align: center;
	}
	.bottom-bar-left {
		margin-bottom: 10px;
	}
	.sidebar.col-sm-6:nth-child(2n+1) {
		clear: both;
	}
}
@media (max-width: 767px) {
	footer.footer-collapse-able {
		.widget-title {
			margin-bottom: 0;
			cursor: pointer;
			&:before {
				content: '+';
				float: right;
			}
			&.title-expanded:before {
				content: '-';
			}
			&:after {
				margin-top: 7px;
			}
		}
		.widget-title + div,
		.widget-title + ul {
			padding-top: 20px;
			margin: 0;
		}

		.main-footer {
			.sidebar {
				margin-bottom: 0;
			}
			.sidebar + .sidebar {
				margin-top: 20px;
			}
		}
	}
	footer.main-footer-wrapper .col-sm-6:nth-child(2n+1) {
		clear: both;
	}

	.sidebar .two-col ul > li{
		width: auto;
		float: none;
	}
}

