//==============================================================================
// Shopping Cart
//==============================================================================
.shopping-cart-icon {
	line-height: 1;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	border-top: solid 7px transparent;
	border-bottom: solid 7px transparent;
	.subtotal-info-wrapper {
		display: inline-block;
	}
	> .icon {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 5px 10px 5px 0;

		i:before {
			content: '\f07a';
			font-family: "FontAwesome";
			font-style: normal;
			font-weight: 400;
		}
		span {
			position: absolute;
			margin: auto;
			top: -10px;
			right: 0;
			width: 18px;
			height: 18px;
			text-align: center;
			line-height: 18px;
			background-color: @accent_color;
			color: #fff;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			font-size: 11px;
			font-weight: 400;
			padding-right: 1px;
		}
	}
}

.shopping-cart-list {
	display: block;
	visibility: hidden;
	opacity: 0;
	margin-top: 15px;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 999;
	background: #fff;
	color: #212121;
	padding: 20px 0;
	width: 320px;
	line-height: 1.6;
	-webkit-box-shadow: 0 3px 8px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 8px 1px rgba(0,0,0,0.1);
	box-shadow: 0 3px 8px 1px rgba(0,0,0,0.1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-timing-function: cubic-bezier(1, 0.07, 1, 0.07);
	-moz-transition-timing-function: cubic-bezier(1, 0.07, 1, 0.07);
	-ms-transition-timing-function: cubic-bezier(1, 0.07, 1, 0.07);
	-o-transition-timing-function: cubic-bezier(1, 0.07, 1, 0.07);
	transition-timing-function: cubic-bezier(1, 0.07, 1, 0.07);

	li a {
		color: inherit;
		&:hover {
			color: @accent_color;
		}
	}
	ul.cart_list {
		list-style: none;
		margin: 0;
		max-height: 256px;
		overflow: hidden;
		position: relative;
		padding: 0 20px;
	}
	ul.cart_list li img {
		width: 60px;
	}

	ul.cart_list li {
		border-bottom: none;
		padding: 0;
	}


	ul.cart_list li+li {
		border-top: solid 1px @border_color;
		padding-top: 15px;
	}
	p.total {
		border-top: solid 1px @border_color;
		border-bottom: solid 1px @border_color;
		padding: 15px 0;
		margin: 20px;
	}

	ul.cart_list li:last-child {
		margin-bottom: 15px;
	}
	ul.cart_list li.empty {
		border-bottom: none;
		padding: 0;
		margin: 0;
		font-size: 16px;
		text-align: center;
	}
	li.mini_cart_item a.remove {
		position: absolute;
		right: 20px;
		font-size: 0;
		color: #212121!important;
		&:before {
			content: '\f00d';
			font-family: 'fontawesome';
			font-size: 13px;
		}
		&:hover {
			color: @accent_color!important;
		}
	}
	span.quantity {
		margin-top: 5px;
		display: block;
	}
	p.buttons {
		margin: 0;
		text-align: center;
	}
}

.widget_shopping_cart_content {
	position: relative;
	text-align: left;
	&:hover .shopping-cart-list {
		visibility: visible;
		opacity: 1;
		-webkit-transition-timing-function: cubic-bezier(0.11, 0.76, 0.24, 0.93);
		-moz-transition-timing-function: cubic-bezier(0.11, 0.76, 0.24, 0.93);
		-ms-transition-timing-function: cubic-bezier(0.11, 0.76, 0.24, 0.93);
		-o-transition-timing-function: cubic-bezier(0.11, 0.76, 0.24, 0.93);
		transition-timing-function: cubic-bezier(0.11, 0.76, 0.24, 0.93);
	}
}


//==============================================================================
// Canvas Menu
//==============================================================================

@canvas_menu_bg_color: #222;
@canvas_menu_text_color : #BBB;
@top_bar_text_color_lighten: lighten(@canvas_menu_text_color, 27%);
@canvas_menu_border_color: rgba(238,238,238,0.1);
nav.canvas-menu-wrapper {
	background-color: @canvas_menu_bg_color;
	color: @canvas_menu_text_color;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 100%;
	bottom: 0;
	width: 350px;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	overflow: hidden;
	padding: 100px 50px 50px 50px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	&.in {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.canvas-menu-close {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 60px;
		cursor: pointer;
		color: #666;
	}

	.widget-title {
		color: @accent_color;
		font-size: 14px;
		font-weight: 400;
		margin-bottom: 40px;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		&:after {
			display: none;
		}
	}

	/**
	* Archive, categories, nav_menu
	* ----------------------------------------------------------------------------
	*/
	.widget_meta,
	.widget_archive,
	.widget_categories,
	.widget_nav_menu,
	.widget_pages,
	.widget_product_categories,
	.widget_recent_entries {
		li {
			color: @canvas_menu_text_color;
		}

		li + li {
			border-color: @canvas_menu_border_color;
		}
		ul ul {
			border-color: @canvas_menu_border_color;
		}
	}

	.widget_recent_comments,
	.widget_rss {
		li + li {
			border-color: @canvas_menu_border_color;
		}
	}

	/**
	* Calendar
	* ----------------------------------------------------------------------------
	*/
	.widget_calendar {
		.calendar_wrap caption{
			color: @canvas_menu_text_color;
		}
		#wp-calendar {
			width: 100%;
			th {
				background-color: @canvas_menu_border_color;
			}
			tbody td, th {
				border-color: @canvas_menu_border_color;
			}
			tfoot td {
				color: @canvas_menu_text_color;
			}
		}
	}

	/**
	* G5Plus:Posts
	* ----------------------------------------------------------------------------
	*/
	.widget-posts {
		li + li {
			border-color: @canvas_menu_border_color;
		}
		.entry-post-title {
			color: @top_bar_text_color_lighten;
		}
	}

	/**
	* Tag Clound
	* ----------------------------------------------------------------------------
	*/
	.tagcloud {
		a {
			color: @canvas_menu_text_color;
			border-color: @canvas_menu_border_color;
		}
	}

	/**
	* Product
	* ----------------------------------------------------------------------------
	*/
	.woocommerce ul.product_list_widget {
		li {
			border-color: @canvas_menu_border_color;
		}
		li a {
			color: @top_bar_text_color_lighten;
		}

		span.reviewer {
			color: @top_bar_text_color_lighten;
		}
	}

	.widget-info-box {
		li > i {
			color: @top_bar_text_color_lighten;
		}
	}




}

body.admin-bar nav.canvas-menu-wrapper {
	top: 32px;
}


//==============================================================================
// Top bar
//==============================================================================
.bar-left {
	text-align: left;
	.menu {
		ul {
			left: 100%;
			right: auto;
		}
		li > ul {
			left: 0;
		}
	}
}

.bar-right {
	text-align: right;
	.widget {
		text-align: left;
	}
}

.bar-wrapper {
	.bottom-bar-inner .widget,
	.top-bar-inner .widget{
		display: inline-block;
		margin-bottom: 0;
		position: relative;
		+ .widget {
			margin-left: 40px;
		}
	}
	.menu {
		margin-top: 0;
		li {
			position: relative;
			font-size: 12px;
			color: inherit;
			border: none;
			&:hover > ul {
				display: block;
			}
		}
		> li {
			display: inline-block;
			line-height: 30px;
			border: none;
			+ li {
				margin-left: 30px;
				border: none;
			}
			> ul {
				right: 0;
			}
			&:hover ul {
				-webkit-transform: translateY(0);
				max-height: 1000px;
				visibility: visible;
				opacity: 1;
			}
			> a {
				padding: 0;
				&:before {
					display: none;
				}
			}
			.li-caret {
				display: none;

			}
		}
		ul {
			display: none;
			text-align: left;
			padding: 10px 15px;
			left: auto;
			right: 100%;
			min-width: 180px;
			background-color: #fff;
			color: #212121;
			-webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
			box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
			position: absolute;
			z-index: 9999;

			a {
				padding: 5px 0;
				&:hover {
					color: @accent_color!important;
				}
			}
		}

		li li li li > a:hover,
		li li li > a:hover,
		li li > a:hover,
		li > a:hover {
			padding-left: 0;
		}
	}

	&.text-center .bar-left,
	&.text-center .bar-right {
		text-align: center;
	}
}

.top-bar-wrapper a:hover {
	color: @accent_color;
}
.top-bar-wrapper a:hover when (@top_bar_bg_color = @accent_color) {
	color: #212121;
}



.top-bar-wrapper {
	line-height: 30px;
	font-size: 12px;
	background-color: @top_bar_bg_color;
	color: @top_bar_text_color;
	a {
		color: inherit;
	}
	&.full-border {
		border-bottom: solid 1px @top_bar_border_color;
	}
	&.container-border {
		.top-bar-inner {
			border-bottom: solid 1px @top_bar_border_color;
		}
	}

	.menu {
		li > a:hover{
			color: @top_bar_text_color_lighten;
		}
	}

	/**
	* Archive, categories, nav_menu
	* ----------------------------------------------------------------------------
	*/
	.widget-title {
		color: @top_bar_text_color;
	}


	.widget_meta,
	.widget_archive,
	.widget_categories,
	.widget_nav_menu,
	.widget_pages,
	.widget_product_categories,
	.widget_recent_entries {
		li {
			color: @top_bar_text_color;
		}

		li + li {
			border-color: @top_bar_border_color;
		}
		ul ul {
			border-color: @top_bar_border_color;
		}
	}

	.widget_recent_comments,
	.widget_rss {
		li + li {
			border-color: @top_bar_border_color;
		}
	}

	/**
	* Calendar
	* ----------------------------------------------------------------------------
	*/
	.widget_calendar {
		.calendar_wrap caption{
			color: @top_bar_text_color_lighten;
		}
		#wp-calendar {
			width: 100%;
			th {
				background-color: @top_bar_border_color;
			}
			tbody td, th {
				border-color: @top_bar_border_color;
			}
			tfoot td {
				color: @top_bar_text_color;
			}
		}
	}

	/**
	* G5Plus:Posts
	* ----------------------------------------------------------------------------
	*/
	.widget-posts {
		li + li {
			border-color: @top_bar_border_color;
		}
		.entry-post-title {
			color: @top_bar_text_color_lighten;
		}
	}

	/**
	* Tag Clound
	* ----------------------------------------------------------------------------
	*/
	.tagcloud {
		a {
			color: @top_bar_text_color;
			border-color: @top_bar_border_color;
		}
	}

	/**
	* Product
	* ----------------------------------------------------------------------------
	*/
	.woocommerce ul.product_list_widget {
		li {
			border-color: @top_bar_border_color;
		}
		li a {
			color: @top_bar_text_color_lighten;
		}

		span.reviewer {
			color: @top_bar_text_color_lighten;
		}
	}

	ul.widget-social-profiles {
		i {
			font-size: 12px;
		}
	}

	.widget-info-box {
		li > i {
			color: @top_bar_text_color_lighten;
		}
	}
}

.top-bar-inner {
	padding-top: @top_bar_padding_top;
	padding-bottom: @top_bar_padding_bottom;
}

//==============================================================================
// Header
//==============================================================================
@media screen and (min-width: (@responsive_breakpoint + 1px)) {
	header.header-mobile {
		display: none;
		height: 0;
	}
	.main-header {
		background-color: @header_bg_color;
		color: @header_text_color;
	}

	.header-wrapper {
		.container-inner {
			position: relative;
		}
	}

	.header-above-inner {
		padding-top: @header_padding_top;
		padding-bottom: @header_padding_bottom;
	}

	.logo-header {
		float: left;
		height: @logo_max_height;
		font-size: 0;
		position: relative;
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		img {
			max-height: @logo_max_height;
			padding-top: @logo_padding_top;
			padding-bottom: @logo_padding_bottom;
			position: relative;
			z-index: 1;
		}
	}

	.logo-sticky {
		display: none;
	}

	.header-row > .container,
	.header-wrapper > .container {
		position: relative;
	}

	.float-header {
		position: absolute;
		z-index: 999;
		left: 0;
		right: 0;
	}

	.float-header-none {
		position: relative;
		background-color: #222;
		color: #fff;
	}

	.primary-menu {
		float: right;
	}


	.header-nav-wrapper {
		background-color: @navigation_bg_color;
		color: @navigation_text_color;
	}

	// Header Customize
	.header-customize-wrapper {
		.header-customize-item:first-child {
			margin-left: 60px;
		}
	}

	.header-customize-nav {
		display: inline-block;
		vertical-align: middle;
		line-height: @navigation_height;
		color: @navigation_customize_text_color;
		.header-customize-item {
			margin-left: @header_customize_nav_spacing;
		}
		a {
			color: @navigation_customize_text_color;
			.transition03();
			&:hover {
				color: @navigation_text_color_hover;
			}
		}
		i {
			font-size: 16px;
		}

		.shopping-cart-icon {
			border-top: none;
			border-bottom: none;
		}
		.shopping-cart-icon .subtotal-info-wrapper {
			display: none;
		}
	}

	.header-customize-item {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		max-width: 100%;
		&.item-search {
			.search-form {
				width: 240px;
			}
			.search-field {
				font-size: 14px;
			}
		}
	}


	// END: header Customize
	.header-wrapper {
		&.full-border,
		&.container-border .container-inner {
			border-bottom: solid 1px @header_border_color;
		}
	}

	.header-above-wrapper {
		&.full-border,
		&.container-border .header-above-inner {
			border-bottom: solid 1px @header_above_border_color;
		}
	}

    .header-float {
	    position: absolute;
	    z-index: 999;
	    left: 0;
	    right: 0;
	    input[type="text"], input[type="search"], input[type="email"], input[type="url"], input[type="password"], input[type="tel"], textarea, select {
		    color: @header_text_color;
		    .placeholder(@header_text_color);
	    }

    }


	//==============================================================================
	// is-sticky
	//==============================================================================
	.is-sticky {
		.logo-header {
			height: 55px;
		}
		.x-nav-menu > .x-menu-item > .x-menu-a-text {
			padding-top: 15.5px;
			padding-bottom: 15.5px;
		}
		.header-customize-nav {
			line-height: 55px;
		}
		.logo-header img {
			max-height: 55px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.logo-sticky {
			display: initial;
		}
		.has-logo-sticky .no-sticky {
			display: none;
		}
	}

	.header-nav-hidden {
		nav.primary-menu > .x-nav-menu {
			opacity: 0;
			visibility: hidden;
			.transition03();
		}
		&.in {
			nav.primary-menu > .x-nav-menu {
				opacity: 1;
				visibility: visible;
			}
			.menu-switch > i:before {
				content: "\f00d";
			}
		}
	}
	// Header-XX: overwrite css
	.header-3 {
		.logo-header {
			float: none;
		}


		.header-nav-float {
			position: absolute;
			z-index: 99;
			margin-top: 30px;
			left: 0;
			right: 0;
			background-color: transparent;
		}

		nav.primary-menu {
			background-color: @navigation_bg_color;
			float: none;
			text-align: center;
		}

		.is-sticky .header-nav-wrapper {
			background-color: @navigation_bg_color;
		}
	}


    // Header 5
	.header-5 {
		.primary-menu {
			float: none;
			text-align: center;
			position: absolute;
			left: 0;
			right: 0;
		}
		.header-customize-nav {
			float: right;
		}
	}

	// HEADER LEFT
	body.header-is-left {
		padding-left: 240px;
	}
	body.admin-bar header.header-left {
		top: 32px;
	}

	header.header-left {
		.fixed();
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 999;
		width: 240px;
		background-color: @navigation_bg_color;
		.header-above-wrapper {
			margin-bottom: 50px;
		}
		.logo-header {
			float: none;
			text-align: center;
			background-color: @header_bg_color;
		}
		.ps-scrollbar-y-rail {
			right: 0;
		}
		.header-customize-nav {
			display: block;
			border-top: 1px solid rgba(238,238,238,0.1);
			height: 80px;
			.header-customize-item {
				width: 50%;
				text-align: center;
				border-left: 1px solid rgba(238,238,238,0.1);
				margin: 0;
				height: 100%;
				float: left;
				position: relative;
				&.item-custom-text,
				&.items-canvas-menu,
				&.item-search {
					line-height: 80px;
				}
				&.item-shopping-cart {
					.widget_shopping_cart_content {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: -10px;
						-webkit-transform: translate(-50%);
						-moz-transform: translate(-50%);
						-ms-transform: translate(-50%);
						-o-transform: translate(-50%);
						transform: translate(-50%);
					}
				}
			}

		}

		.shopping-cart-list {
			display: none;
		}

		.primary-menu {
			float: none;
			position: relative;
		}

		.x-nav-menu {
			display: block;

			> .x-menu-item {
				display: block;
				&:last-child {
					border-bottom: solid 1px rgba(238,238,238,0.1);
				}
			}

			.x-menu-item {
				display: block;
				margin: 0;
				border-top: solid 1px rgba(238,238,238,0.1);
				background-color: transparent;
				padding: 0;
				.transition03();

				> a.x-menu-a-text {
					color: inherit;
					line-height: 20px;
					font-size: 13px;
					padding: 12px 20px 12px 30px;
					display: block;
					margin: 0;
					position: relative;
					&:before, &:after {
						content: "\e684";
						margin-left: -10px;
						font-family: 'Pe-icon-7-stroke';
						font-size: 16px;
						font-weight: 400;
						vertical-align: top;
						opacity: 0;
						visibility: hidden;
					}
					&:before,
					> span.x-menu-text,
					> i.x-menu-icon {
						.transition03();
					}
					&:hover {
						&:before {
							opacity: 1;
							visibility: visible;
							margin-left: 0;
						}
					}
					b.x-caret {
						position: absolute;
						right: 20px;
						display: inline-block;
						&:before {
							content: '\e684';
						}
					}
				}
			}
		}

		.x-sub-menu-open > a b.x-caret {
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
		}
		.x-sub-menu {
			background-color: rgba(255, 255, 255, 0.05);
			background-image: none !important;
			display: none;
			position: static!important;
			overflow: visible !important;
			visibility: visible !important;
			opacity: 1 !important;
			z-index: 0;
			height: auto !important;
			width:auto !important;
			padding: 0;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			border-bottom: none;
			.x-menu-a-text {
				text-transform: none;
				> span {
					font-style: italic;
				}
			}
		}

		li.x-sub-menu-open > a.x-menu-a-text:after {
			content: '';
			display: block;
			position: absolute;
			top: 100%;
			border-left: solid 6px transparent;
			border-right: solid 6px transparent;
			border-top: solid 6px @navigation_bg_color;
			z-index: 1;
			margin: 0;
			right: auto;
			left: auto;
		}

		.x-col {
			float: none!important;
			width: auto!important;
		}

		.x-sub-menu-multi-column > .x-menu-item,
		.x-sub-menu-standard > .x-menu-item {
			padding-left: 0;
			padding-right: 0;
		}
		.x-sub-menu-standard > .x-menu-item + .x-menu-item > .x-menu-a-text {
			border-top: none;
		}
		.x-sub-menu-standard .x-sub-menu {
			margin-left: 0;
			margin-right: 0;
		}

		.x-sub-menu-tab > li.x-menu-active > a.x-menu-a-text:after {
			display: none;
		}

		.x-sub-menu-tab > li > ul.x-sub-menu {
			padding: 0;
		}
	}


    // Layout Flat
	body.flat {
		padding-top: 30px;
		.is-sticky .sticky-region,
		.float-header {
			left: 30px;
			right: 30px;
		}
	}

}

@media (min-width: 1370px) {
	.header-wrapper .container-fluid {
		padding-left: 100px;
		padding-right: 100px;
	}
}


.is-sticky {
	.sticky-region {
		/*position: fixed;*/
		.fixed();
		left: 0;
		right: 0;
		z-index: 999;
		-webkit-box-shadow: 1px 0 3px 2px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 1px 0 3px 2px rgba(0, 0, 0, 0.1);
		box-shadow: 1px 0 3px 2px rgba(0, 0, 0, 0.1);
		margin: auto;
	}
}
body:not(.header-is-float) .is-sticky {
	height: 55px;
}

.header-sticky-fix-style .is-sticky .sticky-region {
	background-color: rgba(0, 0, 0, 0.9);
	.x-nav-menu > .x-menu-item > .x-menu-a-text {
		color: #FFF;
	}
}

body.boxed .is-sticky .sticky-region {
	max-width: 1200px;
	width: 100%;
}

header.main-header,header.header-mobile {
	.textwidget > span i {
		font-size: 13px;
		margin-right: 5px;
	}
}
