/**
* Font
* ----------------------------------------------------------------------------
*/
.b-font {
	font-family: @body_font !important;
}

.s-font {
	font-family: @secondary_font !important;
}

/**
* Color
* ----------------------------------------------------------------------------
*/
.text-color-accent,
.text-color-accent-hover:hover {
	color: @accent_color !important;
}

.bg-accent {
	background-color: @accent_color !important;
}

.bg-black {
	background-color: #222;
}

.bg-bold {
	background-color: @text_color_bold;
}

.text-color-bold {
	color: @text_color_bold !important;
}

.text-color-light {
	color: @text_color_light !important;
}

.bordered {
	border: 1px solid @border_color !important;
}

.border-dark {
	border: 1px solid @border_color_dark !important;
}

.badge {
	background-color: @accent_color;
}

/**
* Padding Top
* ----------------------------------------------------------------------------
*/
.loop-padding-top(@prefix, @n, @i: 0, @step: 5) when (@i =< @n) {
	.@{prefix}-@{i} {
		padding-top: @i * 1px !important;
	}
	.loop-padding-top(@prefix, @n, (@i + @step), @step)
}

.loop-padding-top(pd-top, 100);
@media screen and (max-width: 991px) {
	.loop-padding-top(sm-pd-top, 100);
}

@media screen and (max-width: 767px) {
	.loop-padding-top(xs-pd-top, 100);
}

/**
* Padding Bottom
* ----------------------------------------------------------------------------
*/
.loop-padding-bottom(@prefix, @n, @i: 0, @step: 5) when (@i =< @n) {
	.@{prefix}-@{i} {
		padding-bottom: @i * 1px !important;
	}
	.loop-padding-bottom(@prefix, @n, (@i + @step), @step)
}

.loop-padding-bottom(pd-bottom, 100);
@media screen and (max-width: 991px) {
	.loop-padding-bottom(sm-pd-bottom, 100);
}

@media screen and (max-width: 767px) {
	.loop-padding-bottom(xs-pd-bottom, 100);
}

/**
* Margin Top
* ----------------------------------------------------------------------------
*/
.loop-margin-top(@prefix, @n, @i: 0, @step: 5) when (@i =< @n) {
	.@{prefix}-@{i} {
		margin-top: @i * 1px !important;
	}
	.loop-margin-top(@prefix, @n, (@i + @step), @step)
}

.loop-margin-top(mg-top, 100);
@media screen and (max-width: 991px) {
	.loop-margin-top(sm-mg-top, 100);
}

@media screen and (max-width: 767px) {
	.loop-margin-top(xs-mg-top, 100);
}

/**
* Margin Bottom
* ----------------------------------------------------------------------------
*/
.loop-margin-bottom(@prefix, @n, @i: 0, @step: 5) when (@i =< @n) {
	.@{prefix}-@{i} {
		margin-bottom: @i * 1px !important;
	}
	.loop-margin-bottom(@prefix, @n, (@i + @step), @step)
}

.loop-margin-bottom(mg-bottom, 100);
@media screen and (max-width: 991px) {
	.loop-margin-bottom(sm-mg-bottom, 100);
}

@media screen and (max-width: 767px) {
	.loop-margin-bottom(xs-mg-bottom, 100);
}

/**
* Letter Spacing
* ----------------------------------------------------------------------------
*/
.spacing-02 {letter-spacing: 0.02em!important;}
.spacing-03 {letter-spacing: 0.03em!important;}

/**
* Font Weight
* ----------------------------------------------------------------------------
*/
.fw-light {
	font-weight: 300 !important;
}

.fw-medium {
	font-weight: 500 !important;
}

.fw-semi-bold {
	font-weight: 600 !important;
}

.fw-bold {
	font-weight: 700 !important;
}

/**
* Font Size
* ----------------------------------------------------------------------------
*/
.fs-10 {
	font-size: 10px !important;
}

.fs-11 {
	font-size: 11px !important;
}

.fs-12 {
	font-size: 12px !important;
}

.fs-13 {
	font-size: 13px !important;
}

.fs-14 {
	font-size: 14px !important;
}

.fs-15 {
	font-size: 15px !important;
}

.fs-16 {
	font-size: 16px !important;
}

.fs-18 {
	font-size: 18px !important;
}

.fs-20 {
	font-size: 20px !important;
}

.fs-21 {
	font-size: 21px !important;
}

.fs-24 {
	font-size: 24px !important;
}

.fs-25 {
	font-size: 25px !important;
}

.fs-30 {
	font-size: 30px !important;
}

.fs-31 {
	font-size: 31px !important;
}

.fs-32 {
	font-size: 32px !important;
}

.fs-36 {
	font-size: 36px !important;
}

.fs-38 {
	font-size: 38px !important;
}

.fs-40 {
	font-size: 40px !important;
}

.fs-46 {
	font-size: 46px !important;
}

.fs-50 {
	font-size: 50px !important;
}

.fs-55 {
	font-size: 55px !important;
}

.fs-60 {
	font-size: 60px !important;
}

/**
* Font Style
* ----------------------------------------------------------------------------
*/
.text-italic {
	font-style: italic !important;
}

.uppercase {
	text-transform: uppercase !important;
}

/**
* Line Height
* ----------------------------------------------------------------------------
*/
.line-small {
	line-height: 1em !important;
}

.line-normal {
	line-height: 1.5em !important;
}

.line-medium {
	line-height: 1.6em !important;
}

.line-large {
	line-height: 1.8em !important;
}

.line-2x {
	line-height: 2em !important;
}

.line-3x {
	line-height: 3em !important;
}

.line-21 {
	line-height: 21px !important;
}

.line-24 {
	line-height: 24px !important;
}

.line-42 {
	line-height: 42px !important;
}

.line-1-2{
	line-height: 1.2em !important;
}
/**
* TRANSITION
* ----------------------------------------------------------------------------
*/
.transition03 {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.transition05 {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

/**
* OTHERS MIXIN
* ----------------------------------------------------------------------------
*/
.overflow-hidden {
	overflow: hidden !important;
}

//==============================================================================
// FUNCTION MIXIN
//==============================================================================
.fixed {
	position: fixed;
	.backface-visibility(visible);
	.transform(translate3d(0, 0, 0));
}

.pd-right-60 {
	padding-right: 60px;
}

@media screen and (max-width: 991px) {
	.md-pd-right-0 {
		padding-right: 0;
	}
}

/**
* Custom Columns Mobile
* ----------------------------------------------------------------------------
*/
@media (max-width: 479px) {
	.col-mb-1, .col-mb-2, .col-mb-3, .col-mb-4, .col-mb-5, .col-mb-6, .col-mb-7, .col-mb-8, .col-mb-9, .col-mb-10, .col-mb-11, .col-mb-12 {
		float: left;
	}

	.col-mb-12 {
		width: 100%;
	}

	.col-mb-11 {
		width: 91.66666667%;
	}

	.col-mb-10 {
		width: 83.33333333%;
	}

	.col-mb-9 {
		width: 75%;
	}

	.col-mb-8 {
		width: 66.66666667%;
	}

	.col-mb-7 {
		width: 58.33333333%;
	}

	.col-mb-6 {
		width: 50%;
	}

	.col-mb-5 {
		width: 41.66666667%;
	}

	.col-mb-4 {
		width: 33.33333333%;
	}

	.col-mb-3 {
		width: 25%;
	}

	.col-mb-2 {
		width: 16.66666667%;
	}

	.col-mb-1 {
		width: 8.33333333%;
	}

	.col-mb-pull-12 {
		right: 100%;
	}

	.col-mb-pull-11 {
		right: 91.66666667%;
	}

	.col-mb-pull-10 {
		right: 83.33333333%;
	}

	.col-mb-pull-9 {
		right: 75%;
	}

	.col-mb-pull-8 {
		right: 66.66666667%;
	}

	.col-mb-pull-7 {
		right: 58.33333333%;
	}

	.col-mb-pull-6 {
		right: 50%;
	}

	.col-mb-pull-5 {
		right: 41.66666667%;
	}

	.col-mb-pull-4 {
		right: 33.33333333%;
	}

	.col-mb-pull-3 {
		right: 25%;
	}

	.col-mb-pull-2 {
		right: 16.66666667%;
	}

	.col-mb-pull-1 {
		right: 8.33333333%;
	}

	.col-mb-pull-0 {
		right: auto;
	}

	.col-mb-push-12 {
		left: 100%;
	}

	.col-mb-push-11 {
		left: 91.66666667%;
	}

	.col-mb-push-10 {
		left: 83.33333333%;
	}

	.col-mb-push-9 {
		left: 75%;
	}

	.col-mb-push-8 {
		left: 66.66666667%;
	}

	.col-mb-push-7 {
		left: 58.33333333%;
	}

	.col-mb-push-6 {
		left: 50%;
	}

	.col-mb-push-5 {
		left: 41.66666667%;
	}

	.col-mb-push-4 {
		left: 33.33333333%;
	}

	.col-mb-push-3 {
		left: 25%;
	}

	.col-mb-push-2 {
		left: 16.66666667%;
	}

	.col-mb-push-1 {
		left: 8.33333333%;
	}

	.col-mb-push-0 {
		left: auto;
	}

	.col-mb-offset-12 {
		margin-left: 100%;
	}

	.col-mb-offset-11 {
		margin-left: 91.66666667%;
	}

	.col-mb-offset-10 {
		margin-left: 83.33333333%;
	}

	.col-mb-offset-9 {
		margin-left: 75%;
	}

	.col-mb-offset-8 {
		margin-left: 66.66666667%;
	}

	.col-mb-offset-7 {
		margin-left: 58.33333333%;
	}

	.col-mb-offset-6 {
		margin-left: 50%;
	}

	.col-mb-offset-5 {
		margin-left: 41.66666667%;
	}

	.col-mb-offset-4 {
		margin-left: 33.33333333%;
	}

	.col-mb-offset-3 {
		margin-left: 25%;
	}

	.col-mb-offset-2 {
		margin-left: 16.66666667%;
	}

	.col-mb-offset-1 {
		margin-left: 8.33333333%;
	}

	.col-mb-offset-0 {
		margin-left: 0;
	}
}

/*
---------Add new class--------*/
@media (min-width: 480px) {
	.active-mb {
		display: none;
	}
}

@media (max-width: 479px) {
	.active-mb {
		display: block;
	}

	.hidden-mb {
		display: none;
	}
}

.post-col-relative {
	margin-top: -330px;
}
.mg-bottom-150 {
	margin-bottom: 150px;
}

.icon-right:after {
	content: "\e680";
	font-family: 'Pe-icon-7-stroke';
	position: absolute;
	right: -15px;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 35px;
	color: #fff;
	line-height: 1;
}

@media (max-width: 991px) and (min-width: 480px) {
	&.xs-hidden:after {
		display: none;
	}
}

.pd-left-15 {
	padding-left: 15px !important;
}

.pd-right-15 {
	padding-right: 15px!important;
}

@media screen and (max-width: 479px) {
	.icon-right:after {
		right: 50%;
		top: 100%;
		transform: translate(50%, -100%);
	}

	.mb-pd-bottom-100 {
		padding-bottom: 100px !important
	}

	.mb-pd-left-0 {
		padding-left: 0 !important;
	}

	.mb-pd-right-0 {
		padding-right: 0 !important;
	}
}

.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-lg .vc_icon_element-icon {
	font-size: 48px !important;
}

.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md.vc_icon_element-have-style-inner {
	width: 64px !important;
	height: 64px !important;
	.vc_icon_element-icon {
		font-size: 22px !important;
	}
}

.box-shadow {
	padding: 30px;
	.vc_column-inner {
		background: #fff;
		box-shadow: 0 0 5px rgba(204, 204, 204, 0.25);
	}
}

.icon-box-col-absolute {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: auto;
	max-width: 100%;
	.vc_column-inner {
		padding-right: 0;
	}
	.wpb_single_image img {
		height: 100%;
		width: auto;
	}
}
.left-0{
	left: 0;
	right: auto;
	.vc_column-inner {
		padding-left: 0;
		padding-right: auto;
	}
}

.height-100 * {
	height: 100%;
}

.elm-absolute {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
.elm-relative {
	position: relative;
	z-index: 1;
}

@media (max-width: 599px) {
	.icon-box-col-absolute {
		display: none;
	}
}

.bg-gradient .vc_row-background-overlay {
	background-color: transparent !important;
	background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
}

.pd-left-40 {
	padding-left: 40px;
}

.pd-right-40 {
	padding-right: 40px;
}

.pd-left-15 {
	padding-left: 15px;
}

.pd-right-15 {
	padding-right: 15px;
}

.pd-left-55{
	padding-left: 55px;
}

.pd-right-55{
	padding-right: 55px;
}

.overflow-inherit {
	overflow: inherit !important;
}

.col-content-img-absolute {
	position: absolute;
	left: 50%;
	bottom: -25px;
	z-index: 1;
}

@media (max-width: 1199px) and (min-width: 992px){
	.md-pd-left-15{
		padding-left: 15px;
	}
}

@media (max-width: 991px) {
	.sm-pd-left-0 {
		padding-left: 0;
	}

	.sm-pd-right-0 {
		padding-right: 0;
	}

	.sm-text-center {
		text-align: center !important;
		* {
			text-align: center !important;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
		.g5plus-heading:after, &.g5plus-heading:after {
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.col-content-img-absolute {
		position: static;
		left: auto;
		bottom: auto;
	}
	.elm-absolute {
		position: static;
	}
}

.background-primary{
	background-color: @accent_color;
	color: #fff;
}
.background-gray{
	background-color: #EBEBEB;
}
.background-black{
	background-color: #111;
	color: #fff;
}

.go-to-top .vc_icon_element-icon{
	cursor: pointer;
}

.heading-page-title {
	font-size: 100px;
	line-height: 1.2;
	color: #1f1f1f;
	margin-bottom: 0 !important;
}
@media (max-width: 991px) {
	.heading-page-title {
		font-size: 60px;
	}
	.fs-change{
		font-size: 40px !important;
	}
}
@media (max-width: 767px) {
	.xs-text-center {
		text-align: center !important;
	}
	.col-xs-mg-left-0 > .vc_column-inner {
		margin-left: 0 !important;
	}
	.xs-pd-left-15 {
		padding-left: 15px !important;
	}
	.xs-pd-right-15 {
		padding-right: 15px !important;
	}
	.xs-fs-40 {
		font-size: 40px !important;
	}
}
@media (max-width: 479px) {
	.heading-page-title {
		font-size: 50px;
	}
	.fs-change{
		font-size: 28px !important;
	}
}

.bg-clip-content, .bg-clip-content > .vc_column-inner {
	background-clip: content-box !important;
}

.row-gap-10 {
	margin-left: -5px;
	margin-right: -5px;
	> .wpb_column > .vc_column-inner {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.elm-absolute-bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.elm-absolute-top-right {
	position: absolute;
	top: 0;
	right: 0;
}

.elm-absolute-bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
}

@media (min-width: 1200px) {
	.block-custom-content {
		position: absolute;
		top: 100px;
		right: 0;
		height: 100%;
		padding: 0 180px 0 100px;
		.vc_row {
			margin-top: 170px;
		}
		> .vc_column-inner {
			padding: 100px !important;
			height: 100%;
			background-color: #fff;
			box-shadow: 0 15px 25px rgba(204,204,204,0.35);
		}
	}
}
@media (max-width: 1525px) {
	.block-custom-content {
		padding: 0 50px;
		h1 {
			font-size: 60px !important;
		}
		> .vc_column-inner {
			padding: 50px !important;
		}
		.vc_row {
			margin-top: 70px;
		}
	}
}

@media (max-width: 1367px) {
	.block-custom-content > .vc_column-inner {
		height: auto;
	}
}

@media (max-width: 1199px) {
	.block-custom-content {
		margin-bottom: 50px;
		.vc_row {
			margin-top: 100px;
		}
		> .vc_column-inner {
			padding: 100px !important;
			background-color: #fff;
			box-shadow: 0 15px 25px rgba(204,204,204,0.35);
		}
	}
	.md-mg-bottom-0 {
		margin-bottom: 0;
	}
	.pd-left-55{
		padding-left: 0;
	}
	.pd-right-55{
		padding-right: 0;
	}
	.md-mg-bottom-40 {
		margin-bottom: 40px;
	}
}


@media (max-width: 767px) {
	.block-custom-content {
		.vc_row {
			margin-top: 60px;
		}
		> .vc_column-inner {
			padding: 50px !important;
		}
	}
	.xs-fs-40 {
		font-size: 40px !important;
	}
}

@media (max-width: 479px) {
	.block-custom-content {
		padding: 0;
		margin-bottom: 0;
		> .vc_column-inner {
			padding: 50px 15px !important;
		}
	}
	.mb-fs-28 {
		font-size: 28px !important;
	}
}

.instagram-footer {
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;

	}
	ul:not(.owl-loaded) {
		li {
			width: 14.285714%;
			display: inline-block;
		}
	}
}

.banner-up-to {
	width: 113px;
	height: 113px;
	margin-left: auto;
	margin-top: 10px;
	margin-right: 8px;
	.border-radius(50%);
	display: table;
	background-color: @accent_color;
	> p {
		display: table-cell;
		vertical-align: middle;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 1.2;
	}
}

.line-bottom-left {
	font-size: 70px;
	position: relative;
	margin-bottom: 76px !important;
	&:before {
		position: absolute;
		display: block;
		content: '';
		bottom: -30px;
		left: 0;
		width: 70px;
		height: 3px;
		background-color: @accent_color;
	}
}

@media ( max-width: 579px ) {
	.line-bottom-left {
		font-size: 48px;
	}
}
