.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	li {
		display: inline-block;
		a , span {
			font-size: 16px;
			color: #fff;
			line-height: 1.8;
		}
		span {
			color: #bababa;
		}
		a:hover {
			color: @accent_color !important;
		}
		&:after {
			font-family: 'FontAwesome';
			display: inline-block;
			content: '\f0da';
			font-size: 14px;
			padding: 0 8px 0 12px;
			color: #fff;
		}
	}
	li:last-child:after {
		display: none;
	}
}
.page-title {
	overflow: hidden;
	.page-title-background {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-size: cover;
		background-repeat: no-repeat;
		&:before {
			position: absolute;
			content: '';
			display: block;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		&.page-title-parallax {
			height: 200%;
			top: -25%;
		}
		&.page-title-overlay-dark {
			&:before {
				.rgba-bg-color(#000, 0.6);
			}
			p {
				color: #fff;
			}
		}
		&.page-title-overlay-light {
			&:before {
				.rgba-bg-color(#fff, 0.8);
			}
			h1, p, .breadcrumbs li > a {
				color: #000 !important;
			}
			.breadcrumbs li > span, .breadcrumbs li:after {
				color: #888 !important;
			}
		}
	}
	.page-title-inner {
		position: relative;
		z-index: 1;
	}
	h1 {
		letter-spacing: 0;
		margin: 0;
		display: inline-block;
		position: relative;
	}
	p {
		margin: 0;
		color: #fff;
		opacity: 0.65;
	}
	&.page-title-layout-normal {
		padding: 36px 0;
		position: relative;
		&:not(.page-title-background) {
			background-color: @accent_color;
			.breadcrumbs li a {
				color: #fff !important;
			}
		}
		h1 {
			color: #fff;
			font-size: 24px;
		}
		.breadcrumbs {
			position: absolute;
			right: 0;
			top: 50%;
			.transform(translateY(-50%));
			li span {
				color: #fff;
				opacity: 0.65;
			}
		}
	}
	&.page-title-layout-centered {
		padding: 110px 0;
		text-align: center;
		position: relative;
		&:not(.page-title-background) {
			background-color: #222;
		}
		h1 {
			font-size: 40px;
			color: #fff;
			text-transform: uppercase;
			&:before {
				position: absolute;
				content: '';
				display: block;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				bottom: -22px;
				width: 70px;
				height: 3px;
				background-color: @accent_color;
			}
			&.has-subtitle {
				&:before {
					bottom: -50px;
				}
			}
		}
		p {
			font-size: 16px;
			color: #fff;
			margin: 5px 0;
			opacity: 1;
		}
		.breadcrumbs {
			margin-top: 39px;
		}
	}
	&.page-title-layout-large-title {
		padding: 110px 0 150px;
		position: relative;
		&:not(.page-title-background):after {
			position: absolute;
			content: '';
			display: block;
			bottom: 0;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			height: 2px;
			background-color: #eee;
			max-width: 1200px;
			padding-left: 15px;
			padding-right: 15px;
			background-clip: content-box;
		}
		&:not(.page-title-background) .page-title-inner:before {
			display: block;
			content: '';
			position: absolute;
			background-color: #fcfcfc;
			width: 100px;
			height: 100%;
			z-index: 0;
			padding-top: 80px;
			padding-bottom: 80px;
			box-sizing: content-box;
			left: 0;
			top: 50%;
			.transform(translateY(-50%));
		}
		h1 {
			z-index: 1;
			text-transform: uppercase;
			font-size: 115px;
			line-height: 1;
			left: -8px;
			span {
				color: @accent_color;
			}
		}
		.breadcrumbs {
			position: relative;
			z-index: 1;
			li {
				a, span {
					color: #aaa;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 14px;
				}
				&:after {
					color: #aaa;
					content: '/';
					font-weight: bold;
					padding: 0 5px;
				}
			}
		}
		h1.has-subtitle {
			&:before {
				position: absolute;
				content: '';
				display: block;
				left: 8px;
				bottom: -60px;
				width: 70px;
				height: 3px;
				background-color: @accent_color;
			}
			+ p {
				font-size: 32px;
				margin-bottom: 20px;
			}
		}
		p {
			color: #aaa;
			opacity: 1;
		}
		&.page-title-background {
			.breadcrumbs {
				position: relative;
				z-index: 2;
				li {
					&:after, a, span {
						color: #fff;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.page-title {
		&.page-title-layout-normal {
			.breadcrumbs {
				position: static;
				.transform(translateY(0));
			}
		}
		&.page-title-layout-large-title {
			h1 {
				font-size: 80px;
				-ms-word-wrap: break-word;
				word-wrap: break-word;
			}
		}
	}
}

@media (max-width: 479px) {
	.page-title.page-title-layout-large-title {
		h1 {
			font-size: 48px;
		}
	}
}

