/*******************************************************************************
 *              bootstrap-rtl (version 3.3.2-rc1)
 *      Author: Morteza Ansarinia (http://github.com/morteza)
 *  Created on: March 05,2015
 *     Project: bootstrap-rtl
 *   Copyright: Unlicensed Public Domain
 *******************************************************************************/
html {
	direction: rtl
}

body {
	direction: rtl
}

.flip.text-left {
	text-align: right
}

.flip.text-right {
	text-align: left
}

.list-unstyled {
	padding-right: 0;
	padding-left: initial
}

.list-inline {
	padding-right: 0;
	padding-left: initial;
	margin-right: -5px;
	margin-left: 0
}

dd {
	margin-right: 0;
	margin-left: initial
}

@media (min-width: 768px) {
	.dl-horizontal dt {
		float: right;
		clear: right;
		text-align: left
	}

	.dl-horizontal dd {
		margin-right: 180px;
		margin-left: 0
	}
}

blockquote {
	border-right: 5px solid #eee;
	border-left: 0
}

.blockquote-reverse, blockquote.pull-left {
	padding-left: 10px;
	padding-right: 0;
	border-left: 5px solid #eee;
	border-right: 0;
	text-align: left
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: right
}

.col-xs-12 {
	width: 100%
}

.col-xs-11 {
	width: 91.66666667%
}

.col-xs-10 {
	width: 83.33333333%
}

.col-xs-9 {
	width: 75%
}

.col-xs-8 {
	width: 66.66666667%
}

.col-xs-7 {
	width: 58.33333333%
}

.col-xs-6 {
	width: 50%
}

.col-xs-5 {
	width: 41.66666667%
}

.col-xs-4 {
	width: 33.33333333%
}

.col-xs-3 {
	width: 25%
}

.col-xs-2 {
	width: 16.66666667%
}

.col-xs-1 {
	width: 8.33333333%
}

.col-xs-pull-12 {
	left: 100%;
	right: auto
}

.col-xs-pull-11 {
	left: 91.66666667%;
	right: auto
}

.col-xs-pull-10 {
	left: 83.33333333%;
	right: auto
}

.col-xs-pull-9 {
	left: 75%;
	right: auto
}

.col-xs-pull-8 {
	left: 66.66666667%;
	right: auto
}

.col-xs-pull-7 {
	left: 58.33333333%;
	right: auto
}

.col-xs-pull-6 {
	left: 50%;
	right: auto
}

.col-xs-pull-5 {
	left: 41.66666667%;
	right: auto
}

.col-xs-pull-4 {
	left: 33.33333333%;
	right: auto
}

.col-xs-pull-3 {
	left: 25%;
	right: auto
}

.col-xs-pull-2 {
	left: 16.66666667%;
	right: auto
}

.col-xs-pull-1 {
	left: 8.33333333%;
	right: auto
}

.col-xs-pull-0 {
	left: auto;
	right: auto
}

.col-xs-push-12 {
	right: 100%;
	left: 0
}

.col-xs-push-11 {
	right: 91.66666667%;
	left: 0
}

.col-xs-push-10 {
	right: 83.33333333%;
	left: 0
}

.col-xs-push-9 {
	right: 75%;
	left: 0
}

.col-xs-push-8 {
	right: 66.66666667%;
	left: 0
}

.col-xs-push-7 {
	right: 58.33333333%;
	left: 0
}

.col-xs-push-6 {
	right: 50%;
	left: 0
}

.col-xs-push-5 {
	right: 41.66666667%;
	left: 0
}

.col-xs-push-4 {
	right: 33.33333333%;
	left: 0
}

.col-xs-push-3 {
	right: 25%;
	left: 0
}

.col-xs-push-2 {
	right: 16.66666667%;
	left: 0
}

.col-xs-push-1 {
	right: 8.33333333%;
	left: 0
}

.col-xs-push-0 {
	right: auto;
	left: 0
}

.col-xs-offset-12,
.vc_col-xs-offset-12 {
	margin-right: 100%;
	margin-left: 0
}

.col-xs-offset-11,
.vc_col-xs-offset-11 {
	margin-right: 91.66666667%;
	margin-left: 0
}

.col-xs-offset-10,
.vc_col-xs-offset-10 {
	margin-right: 83.33333333%;
	margin-left: 0
}

.col-xs-offset-9,
.vc_col-xs-offset-9 {
	margin-right: 75%;
	margin-left: 0
}

.col-xs-offset-8,
.vc_col-xs-offset-8 {
	margin-right: 66.66666667%;
	margin-left: 0
}

.col-xs-offset-7,
.vc_col-xs-offset-7 {
	margin-right: 58.33333333%;
	margin-left: 0
}

.col-xs-offset-6,
.vc_col-xs-offset-6 {
	margin-right: 50%;
	margin-left: 0
}

.col-xs-offset-5,
.vc_col-xs-offset-5 {
	margin-right: 41.66666667%;
	margin-left: 0
}

.col-xs-offset-4,
.vc_col-xs-offset-4 {
	margin-right: 33.33333333%;
	margin-left: 0
}

.col-xs-offset-3,
.vc_col-xs-offset-3 {
	margin-right: 25%;
	margin-left: 0
}

.col-xs-offset-2,
.vc_col-xs-offset-2 {
	margin-right: 16.66666667%;
	margin-left: 0
}

.col-xs-offset-1,
.vc_col-xs-offset-1 {
	margin-right: 8.33333333%;
	margin-left: 0
}

.col-xs-offset-0,
.vc_col-xs-offset-0 {
	margin-right: 0;
	margin-left: 0
}

@media (min-width: 768px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: right
	}

	.col-sm-12 {
		width: 100%
	}

	.col-sm-11 {
		width: 91.66666667%
	}

	.col-sm-10 {
		width: 83.33333333%
	}

	.col-sm-9 {
		width: 75%
	}

	.col-sm-8 {
		width: 66.66666667%
	}

	.col-sm-7 {
		width: 58.33333333%
	}

	.col-sm-6 {
		width: 50%
	}

	.col-sm-5 {
		width: 41.66666667%
	}

	.col-sm-4 {
		width: 33.33333333%
	}

	.col-sm-3 {
		width: 25%
	}

	.col-sm-2 {
		width: 16.66666667%
	}

	.col-sm-1 {
		width: 8.33333333%
	}

	.col-sm-pull-12 {
		left: 100%;
		right: auto
	}

	.col-sm-pull-11 {
		left: 91.66666667%;
		right: auto
	}

	.col-sm-pull-10 {
		left: 83.33333333%;
		right: auto
	}

	.col-sm-pull-9 {
		left: 75%;
		right: auto
	}

	.col-sm-pull-8 {
		left: 66.66666667%;
		right: auto
	}

	.col-sm-pull-7 {
		left: 58.33333333%;
		right: auto
	}

	.col-sm-pull-6 {
		left: 50%;
		right: auto
	}

	.col-sm-pull-5 {
		left: 41.66666667%;
		right: auto
	}

	.col-sm-pull-4 {
		left: 33.33333333%;
		right: auto
	}

	.col-sm-pull-3 {
		left: 25%;
		right: auto
	}

	.col-sm-pull-2 {
		left: 16.66666667%;
		right: auto
	}

	.col-sm-pull-1 {
		left: 8.33333333%;
		right: auto
	}

	.col-sm-pull-0 {
		left: auto;
		right: auto
	}

	.col-sm-push-12 {
		right: 100%;
		left: 0
	}

	.col-sm-push-11 {
		right: 91.66666667%;
		left: 0
	}

	.col-sm-push-10 {
		right: 83.33333333%;
		left: 0
	}

	.col-sm-push-9 {
		right: 75%;
		left: 0
	}

	.col-sm-push-8 {
		right: 66.66666667%;
		left: 0
	}

	.col-sm-push-7 {
		right: 58.33333333%;
		left: 0
	}

	.col-sm-push-6 {
		right: 50%;
		left: 0
	}

	.col-sm-push-5 {
		right: 41.66666667%;
		left: 0
	}

	.col-sm-push-4 {
		right: 33.33333333%;
		left: 0
	}

	.col-sm-push-3 {
		right: 25%;
		left: 0
	}

	.col-sm-push-2 {
		right: 16.66666667%;
		left: 0
	}

	.col-sm-push-1 {
		right: 8.33333333%;
		left: 0
	}

	.col-sm-push-0 {
		right: auto;
		left: 0
	}

	.col-sm-offset-12,
	.vc_col-sm-offset-12 {
		margin-right: 100%;
		margin-left: 0
	}

	.col-sm-offset-11,
	.vc_col-sm-offset-11 {
		margin-right: 91.66666667%;
		margin-left: 0
	}

	.col-sm-offset-10,
	.vc_col-sm-offset-10 {
		margin-right: 83.33333333%;
		margin-left: 0
	}

	.col-sm-offset-9,
	.vc_col-sm-offset-9 {
		margin-right: 75%;
		margin-left: 0
	}

	.col-sm-offset-8,
	.vc_col-sm-offset-8 {
		margin-right: 66.66666667%;
		margin-left: 0
	}

	.col-sm-offset-7,
	.vc_col-sm-offset-7 {
		margin-right: 58.33333333%;
		margin-left: 0
	}

	.col-sm-offset-6,
	.vc_col-sm-offset-6 {
		margin-right: 50%;
		margin-left: 0
	}

	.col-sm-offset-5,
	.vc_col-sm-offset-5 {
		margin-right: 41.66666667%;
		margin-left: 0
	}

	.col-sm-offset-4,
	.vc_col-sm-offset-4 {
		margin-right: 33.33333333%;
		margin-left: 0
	}

	.col-sm-offset-3,
	.vc_col-sm-offset-3 {
		margin-right: 25%;
		margin-left: 0
	}

	.col-sm-offset-2,
	.vc_col-sm-offset-2 {
		margin-right: 16.66666667%;
		margin-left: 0
	}

	.col-sm-offset-1,
	.vc_col-sm-offset-1 {
		margin-right: 8.33333333%;
		margin-left: 0
	}

	.col-sm-offset-0,
	.vc_col-sm-offset-0 {
		margin-right: 0;
		margin-left: 0
	}
}

@media (min-width: 992px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: right
	}

	.col-md-12 {
		width: 100%
	}

	.col-md-11 {
		width: 91.66666667%
	}

	.col-md-10 {
		width: 83.33333333%
	}

	.col-md-9 {
		width: 75%
	}

	.col-md-8 {
		width: 66.66666667%
	}

	.col-md-7 {
		width: 58.33333333%
	}

	.col-md-6 {
		width: 50%
	}

	.col-md-5 {
		width: 41.66666667%
	}

	.col-md-4 {
		width: 33.33333333%
	}

	.col-md-3 {
		width: 25%
	}

	.col-md-2 {
		width: 16.66666667%
	}

	.col-md-1 {
		width: 8.33333333%
	}

	.col-md-pull-12 {
		left: 100%;
		right: auto
	}

	.col-md-pull-11 {
		left: 91.66666667%;
		right: auto
	}

	.col-md-pull-10 {
		left: 83.33333333%;
		right: auto
	}

	.col-md-pull-9 {
		left: 75%;
		right: auto
	}

	.col-md-pull-8 {
		left: 66.66666667%;
		right: auto
	}

	.col-md-pull-7 {
		left: 58.33333333%;
		right: auto
	}

	.col-md-pull-6 {
		left: 50%;
		right: auto
	}

	.col-md-pull-5 {
		left: 41.66666667%;
		right: auto
	}

	.col-md-pull-4 {
		left: 33.33333333%;
		right: auto
	}

	.col-md-pull-3 {
		left: 25%;
		right: auto
	}

	.col-md-pull-2 {
		left: 16.66666667%;
		right: auto
	}

	.col-md-pull-1 {
		left: 8.33333333%;
		right: auto
	}

	.col-md-pull-0 {
		left: auto;
		right: auto
	}

	.col-md-push-12 {
		right: 100%;
		left: 0
	}

	.col-md-push-11 {
		right: 91.66666667%;
		left: 0
	}

	.col-md-push-10 {
		right: 83.33333333%;
		left: 0
	}

	.col-md-push-9 {
		right: 75%;
		left: 0
	}

	.col-md-push-8 {
		right: 66.66666667%;
		left: 0
	}

	.col-md-push-7 {
		right: 58.33333333%;
		left: 0
	}

	.col-md-push-6 {
		right: 50%;
		left: 0
	}

	.col-md-push-5 {
		right: 41.66666667%;
		left: 0
	}

	.col-md-push-4 {
		right: 33.33333333%;
		left: 0
	}

	.col-md-push-3 {
		right: 25%;
		left: 0
	}

	.col-md-push-2 {
		right: 16.66666667%;
		left: 0
	}

	.col-md-push-1 {
		right: 8.33333333%;
		left: 0
	}

	.col-md-push-0 {
		right: auto;
		left: 0
	}

	.col-md-offset-12,
	.vc_col-md-offset-12 {
		margin-right: 100%;
		margin-left: 0
	}

	.col-md-offset-11,
	.vc_col-md-offset-11 {
		margin-right: 91.66666667%;
		margin-left: 0
	}

	.col-md-offset-10,
	.vc_col-md-offset-10 {
		margin-right: 83.33333333%;
		margin-left: 0
	}

	.col-md-offset-9,
	.vc_col-md-offset-9 {
		margin-right: 75%;
		margin-left: 0
	}

	.col-md-offset-8,
	.vc_col-md-offset-8 {
		margin-right: 66.66666667%;
		margin-left: 0
	}

	.col-md-offset-7,
	.vc_col-md-offset-7 {
		margin-right: 58.33333333%;
		margin-left: 0
	}

	.col-md-offset-6,
	.vc_col-md-offset-6 {
		margin-right: 50%;
		margin-left: 0
	}

	.col-md-offset-5,
	.vc_col-md-offset-5 {
		margin-right: 41.66666667%;
		margin-left: 0
	}

	.col-md-offset-4,
	.vc_col-md-offset-4 {
		margin-right: 33.33333333%;
		margin-left: 0
	}

	.col-md-offset-3,
	.vc_col-md-offset-3 {
		margin-right: 25%;
		margin-left: 0
	}

	.col-md-offset-2,
	.vc_col-md-offset-2 {
		margin-right: 16.66666667%;
		margin-left: 0
	}

	.col-md-offset-1,
	.vc_col-md-offset-1 {
		margin-right: 8.33333333%;
		margin-left: 0
	}

	.col-md-offset-0,
	.vc_col-md-offset-0 {
		margin-right: 0;
		margin-left: 0
	}
}

@media (min-width: 1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
		float: right
	}

	.col-lg-12 {
		width: 100%
	}

	.col-lg-11 {
		width: 91.66666667%
	}

	.col-lg-10 {
		width: 83.33333333%
	}

	.col-lg-9 {
		width: 75%
	}

	.col-lg-8 {
		width: 66.66666667%
	}

	.col-lg-7 {
		width: 58.33333333%
	}

	.col-lg-6 {
		width: 50%
	}

	.col-lg-5 {
		width: 41.66666667%
	}

	.col-lg-4 {
		width: 33.33333333%
	}

	.col-lg-3 {
		width: 25%
	}

	.col-lg-2 {
		width: 16.66666667%
	}

	.col-lg-1 {
		width: 8.33333333%
	}

	.col-lg-pull-12 {
		left: 100%;
		right: auto
	}

	.col-lg-pull-11 {
		left: 91.66666667%;
		right: auto
	}

	.col-lg-pull-10 {
		left: 83.33333333%;
		right: auto
	}

	.col-lg-pull-9 {
		left: 75%;
		right: auto
	}

	.col-lg-pull-8 {
		left: 66.66666667%;
		right: auto
	}

	.col-lg-pull-7 {
		left: 58.33333333%;
		right: auto
	}

	.col-lg-pull-6 {
		left: 50%;
		right: auto
	}

	.col-lg-pull-5 {
		left: 41.66666667%;
		right: auto
	}

	.col-lg-pull-4 {
		left: 33.33333333%;
		right: auto
	}

	.col-lg-pull-3 {
		left: 25%;
		right: auto
	}

	.col-lg-pull-2 {
		left: 16.66666667%;
		right: auto
	}

	.col-lg-pull-1 {
		left: 8.33333333%;
		right: auto
	}

	.col-lg-pull-0 {
		left: auto;
		right: auto
	}

	.col-lg-push-12 {
		right: 100%;
		left: 0
	}

	.col-lg-push-11 {
		right: 91.66666667%;
		left: 0
	}

	.col-lg-push-10 {
		right: 83.33333333%;
		left: 0
	}

	.col-lg-push-9 {
		right: 75%;
		left: 0
	}

	.col-lg-push-8 {
		right: 66.66666667%;
		left: 0
	}

	.col-lg-push-7 {
		right: 58.33333333%;
		left: 0
	}

	.col-lg-push-6 {
		right: 50%;
		left: 0
	}

	.col-lg-push-5 {
		right: 41.66666667%;
		left: 0
	}

	.col-lg-push-4 {
		right: 33.33333333%;
		left: 0
	}

	.col-lg-push-3 {
		right: 25%;
		left: 0
	}

	.col-lg-push-2 {
		right: 16.66666667%;
		left: 0
	}

	.col-lg-push-1 {
		right: 8.33333333%;
		left: 0
	}

	.col-lg-push-0 {
		right: auto;
		left: 0
	}

	.col-lg-offset-12,
	.vc_col-lg-offset-12 {
		margin-right: 100%;
		margin-left: 0
	}

	.col-lg-offset-11,
	.vc_col-lg-offset-11 {
		margin-right: 91.66666667%;
		margin-left: 0
	}

	.col-lg-offset-10,
	.vc_col-lg-offset-10 {
		margin-right: 83.33333333%;
		margin-left: 0
	}

	.col-lg-offset-9,
	.vc_col-lg-offset-9 {
		margin-right: 75%;
		margin-left: 0
	}

	.col-lg-offset-8,
	.vc_col-lg-offset-8 {
		margin-right: 66.66666667%;
		margin-left: 0
	}

	.col-lg-offset-7,
	.vc_col-lg-offset-7 {
		margin-right: 58.33333333%;
		margin-left: 0
	}

	.col-lg-offset-6,
	.vc_col-lg-offset-6 {
		margin-right: 50%;
		margin-left: 0
	}

	.col-lg-offset-5,
	.vc_col-lg-offset-5 {
		margin-right: 41.66666667%;
		margin-left: 0
	}

	.col-lg-offset-4,
	.vc_col-lg-offset-4 {
		margin-right: 33.33333333%;
		margin-left: 0
	}

	.col-lg-offset-3,
	.vc_col-lg-offset-3 {
		margin-right: 25%;
		margin-left: 0
	}

	.col-lg-offset-2,
	.vc_col-lg-offset-2 {
		margin-right: 16.66666667%;
		margin-left: 0
	}

	.col-lg-offset-1,
	.vc_col-lg-offset-1 {
		margin-right: 8.33333333%;
		margin-left: 0
	}

	.col-lg-offset-0,
	.vc_col-lg-offset-0 {
		margin-right: 0;
		margin-left: 0
	}
}

caption {
	text-align: right
}

th {
	text-align: right
}

@media screen and (max-width: 767px) {
	.table-responsive > .table-bordered {
		border: 0
	}

	.table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child {
		border-right: 0;
		border-left: initial
	}

	.table-responsive > .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child {
		border-left: 0;
		border-right: initial
	}
}

.radio label, .checkbox label {
	padding-right: 20px;
	padding-left: initial
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
	margin-right: -20px;
	margin-left: auto
}

.radio-inline, .checkbox-inline {
	padding-right: 20px;
	padding-left: 0
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
	margin-right: 10px;
	margin-left: 0
}

.has-feedback .form-control {
	padding-left: 42.5px;
	padding-right: 12px
}

.form-control-feedback {
	left: 0;
	right: auto
}

@media (min-width: 768px) {
	.form-inline label {
		padding-right: 0;
		padding-left: initial
	}

	.form-inline .radio input[type=radio], .form-inline .checkbox input[type=checkbox] {
		margin-right: 0;
		margin-left: auto
	}
}

@media (min-width: 768px) {
	.form-horizontal .control-label {
		text-align: left
	}
}

.form-horizontal .has-feedback .form-control-feedback {
	left: 15px;
	right: auto
}

.caret {
	margin-right: 2px;
	margin-left: 0
}

.dropdown-menu {
	right: 0;
	left: auto;
	float: left;
	text-align: right
}

.dropdown-menu.pull-right {
	left: 0;
	right: auto;
	float: right
}

.dropdown-menu-right {
	left: auto;
	right: 0
}

.dropdown-menu-left {
	left: 0;
	right: auto
}

@media (min-width: 768px) {
	.navbar-right .dropdown-menu {
		left: auto;
		right: 0
	}

	.navbar-right .dropdown-menu-left {
		left: 0;
		right: auto
	}
}

.btn-group > .btn, .btn-group-vertical > .btn {
	float: right
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
	margin-right: -1px;
	margin-left: 0
}

.btn-toolbar {
	margin-right: -5px;
	margin-left: 0
}

.btn-toolbar .btn-group, .btn-toolbar .input-group {
	float: right
}

.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
	margin-right: 5px;
	margin-left: 0
}

.btn-group > .btn:first-child {
	margin-right: 0
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0
}

.btn-group > .btn-group {
	float: right
}

.btn-group.btn-group-justified > .btn, .btn-group.btn-group-justified > .btn-group {
	float: none
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
	border-radius: 0
}

.btn-group > .btn-group:first-child > .btn:last-child, .btn-group > .btn-group:first-child > .dropdown-toggle {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}

.btn-group > .btn-group:last-child > .btn:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0
}

.btn .caret {
	margin-right: 0
}

.btn-group-vertical > .btn + .btn, .btn-group-vertical > .btn + .btn-group, .btn-group-vertical > .btn-group + .btn, .btn-group-vertical > .btn-group + .btn-group {
	margin-top: -1px;
	margin-right: 0
}

.input-group .form-control {
	float: right
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}

.input-group-addon:first-child {
	border-left: 0;
	border-right: 1px solid
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0
}

.input-group-addon:last-child {
	border-left-width: 1px;
	border-left-style: solid;
	border-right: 0
}

.input-group-btn > .btn + .btn {
	margin-right: -1px;
	margin-left: auto
}

.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
	margin-left: -1px;
	margin-right: auto
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
	margin-right: -1px;
	margin-left: auto
}

.nav {
	padding-right: 0;
	padding-left: initial
}

.nav-tabs > li {
	float: right
}

.nav-tabs > li > a {
	margin-left: auto;
	margin-right: -2px;
	border-radius: 4px 4px 0 0
}

.nav-pills > li {
	float: right
}

.nav-pills > li > a {
	border-radius: 4px
}

.nav-pills > li + li {
	margin-right: 2px;
	margin-left: auto
}

.nav-stacked > li {
	float: none
}

.nav-stacked > li + li {
	margin-right: 0;
	margin-left: auto
}

.nav-justified > .dropdown .dropdown-menu {
	right: auto
}

.nav-tabs-justified > li > a {
	margin-left: 0;
	margin-right: auto
}

@media (min-width: 768px) {
	.nav-tabs-justified > li > a {
		border-radius: 4px 4px 0 0
	}
}

@media (min-width: 768px) {
	.navbar-header {
		float: right
	}
}

.navbar-collapse {
	padding-right: 10px;
	padding-left: 10px
}

.navbar-brand {
	float: right
}

@media (min-width: 768px) {
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-right: -15px;
		margin-left: auto
	}
}

.navbar-toggle {
	float: left;
	margin-left: 10px;
	margin-right: auto
}

@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 25px 5px 15px
	}
}

@media (min-width: 768px) {
	.navbar-nav {
		float: right
	}

	.navbar-nav > li {
		float: right
	}
}

@media (min-width: 768px) {
	.navbar-left.flip {
		float: right !important
	}

	.navbar-right:last-child {
		margin-left: -15px;
		margin-right: auto
	}

	.navbar-right.flip {
		float: left !important;
		margin-left: -15px;
		margin-right: auto
	}

	.navbar-right .dropdown-menu {
		left: 0;
		right: auto
	}
}

@media (min-width: 768px) {
	.navbar-text {
		float: right
	}

	.navbar-text.navbar-right:last-child {
		margin-left: 0;
		margin-right: auto
	}
}

.pagination {
	padding-right: 0
}

.pagination > li > a, .pagination > li > span {
	float: right;
	margin-right: -1px;
	margin-left: 0
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
	margin-left: 0;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
	margin-right: -1px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0
}

.pager {
	padding-right: 0;
	padding-left: initial
}

.pager .next > a, .pager .next > span {
	float: left
}

.pager .previous > a, .pager .previous > span {
	float: right
}

.nav-pills > li > a > .badge {
	margin-left: 0;
	margin-right: 3px
}

.list-group-item > .badge {
	float: left
}

.list-group-item > .badge + .badge {
	margin-left: 5px;
	margin-right: auto
}

.alert-dismissable, .alert-dismissible {
	padding-left: 35px;
	padding-right: 15px
}

.alert-dismissable .close, .alert-dismissible .close {
	right: auto;
	left: -21px
}

.progress-bar {
	float: right
}

.media > .pull-left {
	margin-right: 10px
}

.media > .pull-left.flip {
	margin-right: 0;
	margin-left: 10px
}

.media > .pull-right {
	margin-left: 10px
}

.media > .pull-right.flip {
	margin-left: 0;
	margin-right: 10px
}

.media-right, .media > .pull-right {
	padding-right: 10px;
	padding-left: initial
}

.media-left, .media > .pull-left {
	padding-left: 10px;
	padding-right: initial
}

.media-list {
	padding-right: 0;
	padding-left: initial;
	list-style: none
}

.list-group {
	padding-right: 0;
	padding-left: initial
}

.panel > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child, .panel > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
	border-top-right-radius: 3px;
	border-top-left-radius: 0
}

.panel > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child, .panel > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child, .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child, .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 0
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
	border-bottom-left-radius: 3px;
	border-top-right-radius: 0
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child, .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child, .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child, .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
	border-bottom-right-radius: 3px;
	border-top-left-radius: 0
}

.panel > .table-bordered > thead > tr > th:first-child, .panel > .table-responsive > .table-bordered > thead > tr > th:first-child, .panel > .table-bordered > tbody > tr > th:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child, .panel > .table-bordered > tfoot > tr > th:first-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child, .panel > .table-bordered > thead > tr > td:first-child, .panel > .table-responsive > .table-bordered > thead > tr > td:first-child, .panel > .table-bordered > tbody > tr > td:first-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child, .panel > .table-bordered > tfoot > tr > td:first-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
	border-right: 0;
	border-left: none
}

.panel > .table-bordered > thead > tr > th:last-child, .panel > .table-responsive > .table-bordered > thead > tr > th:last-child, .panel > .table-bordered > tbody > tr > th:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child, .panel > .table-bordered > tfoot > tr > th:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child, .panel > .table-bordered > thead > tr > td:last-child, .panel > .table-responsive > .table-bordered > thead > tr > td:last-child, .panel > .table-bordered > tbody > tr > td:last-child, .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child, .panel > .table-bordered > tfoot > tr > td:last-child, .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
	border-right: none;
	border-left: 0
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object {
	right: 0;
	left: auto
}

.close {
	float: left
}

.modal-footer {
	text-align: left
}

.modal-footer .btn + .btn {
	margin-left: auto;
	margin-right: 5px
}

.modal-footer .btn-group .btn + .btn {
	margin-right: -1px;
	margin-left: auto
}

.modal-footer .btn-block + .btn-block {
	margin-right: 0;
	margin-left: auto
}

.popover {
	left: auto;
	text-align: right
}

.popover.top > .arrow {
	right: 50%;
	left: auto;
	margin-right: -11px;
	margin-left: auto
}

.popover.top > .arrow:after {
	margin-right: -10px;
	margin-left: auto
}

.popover.bottom > .arrow {
	right: 50%;
	left: auto;
	margin-right: -11px;
	margin-left: auto
}

.popover.bottom > .arrow:after {
	margin-right: -10px;
	margin-left: auto
}

.carousel-control {
	right: 0;
	bottom: 0
}

.carousel-control.left {
	right: auto;
	left: 0;
	background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .5) 0), color-stop(rgba(0, 0, 0, .0001) 100%));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
	background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
}

.carousel-control.right {
	left: auto;
	right: 0;
	background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0), color-stop(rgba(0, 0, 0, .5) 100%));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
	left: 50%;
	right: auto;
	margin-right: -10px
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
	right: 50%;
	left: auto;
	margin-left: -10px
}

.carousel-indicators {
	right: 50%;
	left: 0;
	margin-right: -30%;
	margin-left: 0;
	padding-left: 0
}

@media screen and (min-width: 768px) {
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
		margin-left: 0;
		margin-right: -15px
	}

	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
		margin-left: 0;
		margin-right: -15px
	}

	.carousel-caption {
		left: 20%;
		right: 20%;
	}
}

.pull-right.flip {
	float: left !important
}

.pull-left.flip {
	float: right !important
}

.text-right {
	text-align: left
}

.text-left {
	text-align: right
}

.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
	padding-right: 10px;
	padding-left: 10px
}

.col-xs-15 {
	width: 20%;
	float: right
}

@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: right
	}
}

@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: right
	}
}

@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: right
	}
}

//==============================================================================
// VC GRID LAYOUT
//==============================================================================
.vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9 {
	float: right;
}

@media (min-width: 1200px) {
	.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9 {
		float: right;
	}
}

@media (min-width: 992px) {
	.vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9 {
		float: right;
	}
}

@media (min-width: 768px) {
	.vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9 {
		float: right;
	}
}

/* --------------------------------------------
	GENERAL STYLES
-------------------------------------------- */
body {
	direction: rtl;
	unicode-bidi: embed;
}

input[type="tel"], input[type="text"], input[type="search"], input[type="email"], input[type="url"], input[type="password"], textarea {
	text-align: right;
}

select {
	background-position: 15px !important;
}

.fa-arrow-right:before {
	content: "\f060" !important;
}

.fa-arrow-left:before {
	content: "\f061" !important;
}

.fa-chevron-right:before {
	content: "\f053" !important;
}

.fa-chevron-left:before {
	content: "\f054" !important;
}

.fa-angle-right:before {
	content: "\f104";
}

.fa-angle-left:before {
	content: "\f105";
}

/*-------------------------------
   WIDGET
------------------------------*/
.widget-title {
	span {
		&:before {
			left: auto;
			right: 0;
		}
	}
}

.widget-border {
	.widget-title {
		span {
			margin-right: 10px;
		}
	}
}

.widget_archive,
.widget_categories,
.widget_nav_menu,
.widget_pages,
.widget_product_categories {
	li li a {
		padding-right: 30px;
		padding-left: 0;
	}
	li li li a {
		padding-right: 60px;
		padding-left: 0;
	}
	li li li li a {
		padding-right: 90px;
		padding-left: 0;
	}
	.li-caret {
		left: 0;
		right: auto;
	}
	&.widget-border {
		a {
			padding-right: 10px;
			padding-left: 0;
		}
		li li a {
			padding-right: 40px;
			padding-left: 0;
		}
		li li li a {
			padding-right: 70px;
			padding-left: 0;
		}
		li li li li a {
			padding-right: 100px;
			padding-left: 0;
		}
		.li-caret {
			left: 10px;
			right: auto;
		}
	}
}

.widget_archive,
.widget_categories {
	&.widget-border {
		select {
			margin-left: 0;
			margin-right: 10px;
		}
	}
}

.widget_calendar {
	#wp-calendar {
		td#next {
			text-align: left;
		}
	}
	&.widget-border {
		#wp-calendar {
			margin-right: 10px;
			margin-left: 0;
		}
	}
}

.widget_recent_comments,
.widget_rss,
.widget_recent_entries,
.woocommerce .widget_layered_nav,
.woocommerce .widget_layered_nav_filters,
.yith-woocompare-widget {
	ul:not(.yith-wcan-color):not(.yith-wcan-label):not(.yith-wcan-select) li {
		&:before {
			margin-left: 10px;
			margin-right: 0;
			content: '\f0d9';
		}
	}
}

.widget_meta ul:not(.yith-wcan-color):not(.yith-wcan-label):not(.yith-wcan-select) li a:before {
	padding-left: 10px;
	padding-right: 0;
	content: '\f0d9';
}

.yith-wcan-color li, .yith-wcan-label li {
	float: right !important;
}

.yith-woocompare-widget {
	&.widget-border {
		.clear-all {
			margin-right: 10px;
			margin-left: 0;
		}
		.compare {
			margin-left: 10px;
			margin-right: 0;
		}
	}
}

.widget-posts {
	.entry-thumb-wrap {
		float: right;
	}
	.entry-thumb-wrap + .entry-content-wrap {
		padding-right: 115px;
		padding-left: 0;
	}
	&.widget-border-round-background {
		.entry-thumb-wrap + .entry-content-wrap {
			padding-right: 85px;
			padding-left: 0;
		}
	}
	&.widget-border {
		.entry-thumb-wrap + .entry-content-wrap {
			padding-right: 85px;
			padding-left: 0;
		}
	}
	&.widget-border-background {
		.entry-thumb-wrap + .entry-content-wrap {
			padding-right: 85px;
			padding-left: 0;
		}
	}
}

.search-form {
	.search-field {
		padding-right: 10px;
		padding-left: 65px;
	}
	.search-submit {
		left: 0;
		right: auto;
		border: solid 3px transparent;
		border-right: 0;
	}
}

.widget_search,
.widget_product_search {
	&.widget-border {
		.search-field {
			margin-right: 10px;
			margin-left: 0;
		}
		.search-submit {
			left: 10px;
			right: auto;
		}
	}
}

.tagcloud {
	a {
		margin: 0 0 5px 5px;
	}
}

.social-profiles {
	li {
		margin-right: 20px;
		&:first-child {
			margin-right: 0;
		}
		+ li {
			margin-left: 0;
		}
	}
}

.social-profiles-title {
	margin-right: 0;
	margin-left: 15px;
}

.woocommerce ul.product_list_widget {
	li img {
		float: right;
		margin: 0 0 0 15px;
	}
	del span.amount {
		margin-left: 5px;
		margin-right: 0;
	}
}

.woocommerce .widget_layered_nav ul.yith-wcan-color {
	li a {
		margin: 0 0 5px 5px;
		&:hover {
			&:after {
				margin: 10px 10px 0 0;
				right: 0;
				left: auto;
			}
		}
	}
	li.chosen a {
		&:after {
			margin: 10px 10px 0 0;
			right: 0;
			left: auto;
		}
	}
}

.woocommerce .widget_layered_nav ul.yith-wcan-label {
	li a {
		margin: 0 0 5px 5px;
	}
}

.widget-twitter-item {
	> i {
		float: right;
	}
	> div {
		padding-right: 40px;
		padding-left: 0;
	}
}

.contact-info {
	li {
		+ li {
			margin-right: 40px;
			margin-left: 0;
			&:before {
				border-right: solid 1px #ddd;
				border-left: 0;
				left: 100%;
				right: auto;
				margin-left: 20px;
				margin-right: 0;
			}
		}
		i {
			margin-left: 5px;
			margin-right: 0;
		}
	}
}

.logged-in-as a {
	display: inline-block;
}

// Other
a.pp_expand, a.pp_contract, a.pp_close,
.pp_nav .pp_play, .pp_nav .pp_pause,
a.pp_arrow_previous, a.pp_arrow_next,
a.pp_previous, a.pp_next {
	text-indent: 10000px;
}

.dialog.dialog--open a[data-dialog-close], .a.pp_close {
	left: 5px !important;
	right: auto !important;
}

.pp_nav .pp_play, .pp_nav .pp_pause {
	float: right;
	margin-left: 4px;
	margin-right: 0;
}

.pp_nav {
	float: right;
	margin: 3px 0 0 10px;
}

.vc_tta.vc_tta-controls-align-left .vc_tta-panel-heading, .vc_tta.vc_tta-controls-align-left .vc_tta-tabs-container {
	text-align: right;
}

.vc_message_box {
	padding: 18px 69px 18px 18px !important;
}

.rtl .vc_message_box-icon {
	right: 0;
	left: auto;
}

/*-----------------------------
    HEADER
-----------------------------*/

.bar-left {
	text-align: right;
	.menu {
		ul {
			right: 100%;
			left: auto;
		}
		li > ul {
			right: 0;
			left: auto;
		}
	}
}

.bar-right {
	text-align: left;
	.widget {
		text-align: right;
	}
}

.bar-wrapper {
	.widget {
		+ .widget {
			margin-right: 40px;
			margin-left: 0;
		}
	}
	.menu {
		> li {
			&.menu-item-has-children {
				padding-left: 15px;
				padding-right: 0;
			}
			+ li {
				margin-left: 0;
				margin-right: 40px;
			}
			> ul {
				left: 0;
				right: auto;
			}
		}
		ul {
			right: auto;
			left: 100%;
			a {
				padding-right: 0;
			}
		}
	}
	.widget + .widget:before,
	.menu > li + li:before {
		right: -20px;
		left: auto;
	}
}

.top-bar-wrapper {
	.widget + .widget:before,
	.menu > li + li:before {
		border-right: solid 1px;
		border-left: 0;
	}
}

/*-----------------------------
     MENU
----------------------------*/

@media screen and (min-width: (@responsive_breakpoint + 1px)) {
	.x-col {
		float: right;
	}

	li.x-text-align-right {
		text-align: left;
	}

	li.x-text-align-left {
		text-align: right;
	}

	i.x-menu-icon.x-icon-left {
		padding-left: 10px;
		padding-right: 0;
	}

	i.x-menu-icon.x-icon-right {
		padding-right: 10px;
		padding-left: 0;
	}

	i.x-menu-icon.x-icon-left.x-disable-text {
		padding-left: 0;
	}

	i.x-menu-icon.x-icon-right.x-disable-text {
		padding-right: 0;
	}

	.x-sub-menu-standard .x-sub-menu.x-pos-left-menu-parent,
	.x-sub-menu-standard .x-sub-menu.x-pos-left-menu-bar {
		left: 100%;
		right: auto;
	}

	.x-sub-menu.x-pos-full {
		right: 0;
		left: 0;
	}

	.x-nav-menu {
		text-align: right;
		> .x-menu-item {
			> a b.x-caret {
				float: left;
				&:before {
					margin-right: 5px;
					margin-left: 0;
				}
			}
			+ .x-menu-item {
				margin-right: @navigation_spacing;
				margin-left: 0;
			}
		}
	}

	.x-sub-menu-standard {
		> .x-menu-item {
			b.x-caret {
				left: 20px;
				right: auto;
				&:before {
					content: "\e686";
				}
			}
		}
		a.x-menu-a-text {
			i.x-menu-icon,
			span.x-menu-text {
				padding-right: 10px;
			}
			i.x-menu-icon + span.x-menu-text {
				padding-right: 0;
			}
			&:hover {
				i.x-menu-icon,
				span.x-menu-text {
					padding-right: 20px;
				}
				i.x-menu-icon + span.x-menu-text {
					padding-right: 0;
				}
			}
		}
		.x-sub-menu {
			right: 100%;
			left: auto;
		}
	}

	.x-sub-menu-multi-column {
		padding-right: 20px;
		padding-left: 0;
		> .x-menu-item {
			padding-right: 0;
			padding-left: 20px;
		}
	}

	.x-sub-menu-tab {
		> li.x-menu-active {
			> a.x-menu-a-text {
				&:after {
					left: 0;
					right: auto;
					border-left: solid 8px #fff;
					border-right: 0;
				}
			}
		}
	}
}

/* -----------------------------
	SHORTCODE
------------------------------*/
// Clients
@media (min-width: 992px) {
	.g5plus-clients {
		.clients-columns .clients-item {
			&.no-border-right {
				border-left: none;
				border-right: inherit;
			}
			&.no-border-left {
				border-right: none;
				border-left: inherit;
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.g5plus-clients {
		.clients-columns.columns-sm-3 .clients-item {
			&:nth-child(3n+0) {
				border-left: none;
				border-right: inherit;
			}
			&:nth-child(3n+1) {
				border-right: none;
				border-left: inherit;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.g5plus-clients {
		.clients-columns {
			&.columns-sm-3 .clients-item {
				&:nth-child(3n+0) {
					border-left: none;
					border-right: inherit;
				}
				&:nth-child(3n+1) {
					border-right: none;
					border-left: inherit;
				}
			}
			&.columns-sm-2 .clients-item {
				&:nth-child(2n+0) {
					border-left: none;
					border-right: inherit;
				}
				&:nth-child(2n+1) {
					border-right: none;
					border-left: inherit;
				}
			}
		}
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.g5plus-clients {
		.clients-columns.columns-xs-2 .clients-item {
			&:nth-child(2n+0) {
				border-left: none;
				border-right: inherit;
			}
			&:nth-child(2n+1) {
				border-right: none;
				border-left: inherit;
			}
		}
	}
}

// CountDown
.g5plus-countdown {
	.countdown-section {
		.countdown-text {
			margin-right: 11px;
			margin-left: 0;
		}
	}
	.countdown-section + .countdown-section {
		margin-right: 60px;
		margin-left: 0;
	}
	&.cd-vertical {
		.countdown-section + .countdown-section {
			margin-right: 110px;
			margin-left: 0;
			&:before {
				right: -58px;
				left: auto;
			}
		}
		.countdown-text {
			margin-right: 0;
		}
	}
}

@media (max-width: 767px) {
	.g5plus-countdown {
		.countdown-section + .countdown-section {
			margin-right: 30px;
			margin-left: 0;
		}
		&.cd-vertical {
			.countdown-section + .countdown-section {
				margin-right: 50px;
				margin-left: 0;
				&:before {
					right: -30px;
					left: auto;
				}
			}
		}
	}
}

@media (max-width: 614px) {
	.g5plus-countdown {
		.countdown-section:last-child {
			margin-left: 23px;
			margin-right: 0;
		}
	}
}

@media (max-width: 478px) {
	.g5plus-countdown {
		&.cd-vertical {
			.countdown-section:last-child {
				margin-left: 60px;
				margin-right: 0;
			}
		}
	}
}

@media (max-width: 369px) {
	.g5plus-countdown {
		.countdown-section:last-child {
			margin-left: -5px;
			margin-right: 0;
		}
		.countdown-section:nth-last-child(2) {
			margin-right: 0;
		}
	}
}

@media (max-width: 331px) {
	.g5plus-countdown {
		&.cd-vertical {
			.countdown-section:last-child {
				margin-left: 40px;
				margin-right: 28px;
				&:before {
					right: -20px;
				}
			}
		}
	}
}

// Call To Action
.g5plus-cta {
	.cta-content {
		padding-left: 20px;
		padding-right: 0;
	}
}

@media (max-width: 767px) {
	.g5plus-cta {
		.cta-content {
			padding-left: 0;
		}
	}
}

// Drop Caps
.g5plus-drop-caps {
	p {
		> .first-letter {
			float: right;
		}
	}
}

.dc-classic {
	p > .first-letter {
		margin-left: 20px;
		margin-right: 0;
	}
}

.dc-outline, .dc-background {
	p {
		> .first-letter {
			margin-left: 25px;
			margin-right: 0;
		}
	}
}

// Feature-Box
.g5plus-feature-box {
	.feature-content {
		padding: 31px 33px 54px 40px;
	}
	.feature-thumb {
		i {
			right: auto;
			left: 20px;
		}
	}
}

// Heading
.g5plus-heading {
	&.text-right {
		&:after {
			margin-right: auto;
			margin-left: 0;
		}
	}
}

// Icon Box
.g5plus-icon-box {
	&:not(.icon-classic) {
		&.ib-left {
			.ib-content {
				padding-right: 20px;
				padding-left: 0;
			}
		}
		&.ib-right {
			.ib-content {
				padding-left: 20px;
				padding-right: 0;
			}
		}
	}
	&.icon-classic {
		&.ib-left {
			.ib-content {
				padding-right: 17px;
				padding-left: 0;
			}
		}
		&.ib-right {
			.ib-content {
				padding-left: 17px;
				padding-right: 0;
			}
		}
		&.ib-left-inline {
			.ib-content {
				span {
					padding-right: 15px;
					padding-left: 0;
				}
			}
		}
		&.ib-right-inline {
			.ib-content {
				span {
					padding-left: 15px;
					padding-right: 0;
				}
			}
		}
	}
	&.ib-right, &.ib-right-inline, &.ib-right-bg {
		text-align: left;
	}
	&.ib-right-bg {
		.ib-content {
			padding: 36.5px 0 36.5px 100px;
		}
		.ib-shape {
			border-right-width: 1px;
			border-right-style: solid;
			border-left: none;
			left: 0;
			right: auto;
		}
	}
}

// List
ul.g5plus-lists {
	&.clearfix {
		padding-right: 0;
	}
	span {
		float: right;
	}
	p {
		padding-right: 19px;
		padding-left: 0;
	}
}

ul.g5plus-list-size-sm {
	p {
		padding-right: 16px;
		padding-left: 0;
	}
	&.g5plus-lists-round {
		p {
			padding-right: 30px;
			padding-left: 0;
		}
	}
}

ul.g5plus-list-size-lg {
	p {
		padding-right: 23px;
		padding-left: 0;
	}
	&.g5plus-lists-round {
		p {
			padding-right: 42px;
			padding-left: 0;
		}
	}
}

ul.g5plus-lists-round {
	p {
		padding-right: 36px;
		padding-left: 0;
	}
}

// Menu Shortcode
.g5plus-menu {
	h4 {
		span:after {
			right: 100%;
			left: auto;
		}
	}
}

// OurTeams
.g5plus-ourteam {
	.ourteam-content {
		.social-wrap:hover .social-profiles .social-profiles-inner a + a {
			margin-right: 15px;
			margin-left: 0;
		}
		.social-profiles {
			a + a {
				margin-right: -10px;
				margin-left: 0;
			}
		}
	}
}

// Portfolio
.g5plus-portfolio {
	.portfolio-inner {
		.portfolio-item-content {
			a.link-single {
				margin-right: 16px;
				margin-left: 0;
			}
		}
		&:hover {
			a.link-single {
				margin-right: 6px;
				margin-left: 0;
			}
		}
	}
}

.portfolio-width15,
.portfolio-width20,
.portfolio-width22,
.portfolio-width25,
.portfolio-width32,
.portfolio-width33,
.portfolio-width40,
.portfolio-width50 {
	float: right;
}

.portfolio-single {
	.portfolio-thumbnail, .portfolio-single-item {
		.view-gallery {
			left: 20px;
			right: auto;
		}
	}
	&:not(.portfolio-two-columns) {
		.portfolio-info h4 {
			&:before {
				right: 0;
				left: auto;
			}
		}
	}
	.portfolio-info-detail {
		.portfolio-label {
			padding-left: 20px;
			padding-right: 0;
		}
	}
	.social-profile-share {
		ul {
			li {
				+ li {
					margin-right: 16px;
					margin-left: 0;
				}
			}
		}
	}
}

// Posts
.g5plus-posts {
	&.blog-equal-height {
		.entry-content-wrap {
			border-right-color: transparent;
			border-left-color: #f8f8f8;
		}
	}
	&.blog-equal-height-carousel {
		.owl-item.active + .owl-item.active .entry-content-wrap {
			border-right-color: transparent;
			border-left-color: #f8f8f8;
		}
	}
}

@media (min-width: 1200px) {
	.blog-equal-height {
		&.columns-1 > .gf-item-wrap .entry-content-wrap,
		&.columns-2 > .gf-item-wrap:nth-child(2n+1) .entry-content-wrap,
		&.columns-3 > .gf-item-wrap:nth-child(3n+1) .entry-content-wrap {
			border-right-color: #f8f8f8;
			border-left-color: inherit;
		}
	}

}

@media (min-width: 992px) and (max-width: 1199px) {
	.blog-equal-height {
		&.columns-md-1 > .gf-item-wrap .entry-content-wrap,
		&.columns-md-2 > .gf-item-wrap:nth-child(2n+1) .entry-content-wrap,
		&.columns-md-3 > .gf-item-wrap:nth-child(3n+1) .entry-content-wrap {
			border-right-color: #f8f8f8;
			border-left-color: inherit;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.blog-equal-height {
		&.columns-sm-1 > .gf-item-wrap .entry-content-wrap,
		&.columns-sm-2 > .gf-item-wrap:nth-child(2n+1) .entry-content-wrap,
		&.columns-sm-3 > .gf-item-wrap:nth-child(3n+1) .entry-content-wrap {
			border-right-color: #f8f8f8;
			border-left-color: inherit;
		}
	}

}

@media (min-width: 481px) and (max-width: 767px) {
	.blog-equal-height {
		&.columns-xs-1 > .gf-item-wrap .entry-content-wrap,
		&.columns-xs-2 > .gf-item-wrap:nth-child(2n+1) .entry-content-wrap,
		&.columns-xs-3 > .gf-item-wrap:nth-child(3n+1) .entry-content-wrap {
			border-right-color: #f8f8f8;
			border-left-color: inherit;
		}
	}
}

@media (max-width: 480px) {
	.blog-equal-height {
		&.columns-mb-1 > .gf-item-wrap .entry-content-wrap,
		&.columns-mb-2 > .gf-item-wrap:nth-child(2n+1) .entry-content-wrap,
		&.columns-mb-3 > .gf-item-wrap:nth-child(3n+1) .entry-content-wrap {
			border-right-color: #f8f8f8;
			border-left-color: inherit;
		}
	}
}

// Pricing Table
.g5plus-pricing-tables {
	&.prt_package {
		&.features_box {
			.pricing-features {
				text-align: right;
				ul {
					li {
						padding-right: 25px;
						padding-left: 0;
						&:first-child:after {
							content: "\200E";
						}
					}
				}
			}
		}
	}
}

// Progress
.g5plus-progress {
	.title {
		right: 0;
		left: auto;
	}
	#progress_bar {
		right: 0;
		left: auto;
	}
	#progress_value {
		left: 0;
		right: auto;
	}
}

// Testimonials
.g5plus-testimonials {
	&.tt_grid {
		.testimonial-item {
			text-align: right;
			.avatar {
				float: right;
			}
			.info {
				margin-right: 334px;
				margin-left: 0;
				padding-left: 20px;
				padding-right: 0;
			}
		}
	}
}

/* ---------------- CORE ------------------- */
.alignnone {
	margin: 5px 0 20px 20px;
}

.alignright {
	float: left;
	margin: 5px 20px 20px 0;
}

.alignleft {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignright {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignnone {
	margin: 5px 0 20px 20px;
}

a img.alignleft {
	float: right;
	margin: 5px 0 20px 20px;
}

.wp-caption.alignnone {
	margin: 5px 0 20px 20px;
}

.wp-caption.alignleft {
	margin: 5px 0 20px 20px;
}

.wp-caption.alignright {
	margin: 5px 20px 20px 0;
}

.entry-content blockquote {
	border-left-width: 0;
	border-right-width: 2px;
	padding: 0 15px 0 0;
}

/* ----------------------- DIALOG -------------------- */
.dialog,
.dialog__overlay {
	right: 0;
	left: auto;
}

.morph-shape {
	right: -2px;
	left: auto;
}

.dialog.dialog--open a[data-dialog-close] {
	left: 0;
	right: auto;
}

/*-----------BASE-MENU-------------*/
.main-menu:not(.x-nav-menu) {
	> li {
		+ li {
			margin-left: 0;
			margin-right: 30px;
		}
		ul {
			left: auto;
			right: 100%;
		}
		&:hover > ul {
			top: 100%;
			left: 0;
			right: auto;
		}
	}
	> li:last-child {
		> ul {
			left: 0;
			right: auto;
		}
		li:hover ul {
			left: 100%;
			right: auto;
		}
	}
}

.nav-menu-mobile:not(.x-nav-menu) b.menu-caret {
	left: 20px;
	right: auto;
}

/*----------BLOG--------------*/
.page-links > .page-links-title {
	margin-right: 0;
	margin-left: 10px;
}

.entry-post-meta {
	> div {
		margin-right: auto;
		margin-left: 25px;
		&:last-child {
			margin-right: 0;
			margin-left: 0;
		}
	}
	i {
		margin-right: 0;
		margin-left: 5px;
	}
}

.woocommerce-pagination,
.paging-navigation,
.comment-navigation {
	.page-numbers {
		margin-right: 0;
		margin-left: 5px;
		&:last-child {
			margin-left: 0;
		}
		&.next {
			i:before {
				content: "\f0d9";
			}
		}
		&.prev {
			i:before {
				content: "\f0da";
			}
		}
	}
}

.woocommerce-pagination,
.paging-navigation,
.comment-navigation {
	.next {
		margin-left: 0;
		margin-right: 15px;
	}
	.prev {
		margin-right: 0;
		margin-left: 20px;
	}
}

.entry-content-footer .social-share {
	float: left;
	label {
		margin-right: 0;
		margin-left: 20px;
		i {
			margin-left: 0;
			margin-right: 5px;
		}
	}
}

article.post-grid .entry-post-meta > div {
	margin-right: 0;
	margin-left: 20px;
}

article.post-masonry {
	.entry-content-wrap {
		left: auto;
		right: 0;
	}
}

.social-share {
	a {
		margin-right: auto;
		margin-left: 5px;
		&:last-child {
			margin-right: 0;
			margin-left: 0;
		}
	}
	&.classic a {
		margin-right: 0;
		margin-left: 15px;
	}
	&.square a {
		margin-right: 0;
		margin-left: 10px;
	}
}

.entry-meta-tag-wrap .social-share label {
	margin-left: 10px;
	margin-right: 0;
}

.entry-meta-tag {
	padding-right: 0;
	margin-left: 20px;
	label {
		margin-right: 0;
		margin-left: 10px;
	}
}

.post-navigation > div {
	&.nav-next i:before {
		content: '\e686';
	}
	&.nav-previous i:before {
		content: '\e684';
	}
}

.block-title-classic:after {
	content: '\200E';
}

@media (max-width: 767px) {
	.entry-meta-tag {
		padding-right: 0;
		padding-left: 0;
	}
}

.author-avatar {
	float: right;
}

.author-description {
	padding-left: 0;
	padding-right: 120px;
}

@media (max-width: 480px) {
	.author-description {
		padding-left: 0;
		padding-right: 0;
	}
}

.comment-list {
	.children {
		padding-left: 0;
		padding-right: 0;
	}
	.avatar {
		float: right;
	}
	.avatar + .comment-text {
		padding-left: auto;
		padding-right: 120px;
	}
	.comment-meta {
		right: auto;
		left: 0;
		a + a {
			margin-left: 0;
			margin-right: 10px;
		}
	}
}

@media (min-width: 768px) {
	.comment-list {
		.children > li > .comment-body {
			padding-left: 0;
			padding-right: 100px;
		}

		.children .children > li > .comment-body {
			padding-left: 0;
			padding-right: 200px;
		}

		.children .children .children > li > .comment-body {
			padding-left: 0;
			padding-right: 300px;
		}
		.children .children .children .children > li > .comment-body {
			padding-left: 0;
			padding-right: 400px;
		}
	}
}

.comment-form > p {
	float: right;
}

@media (max-width: 480px) {
	.comment-list .avatar + .comment-text {
		padding-left: 0;
		padding-right: 0;
	}
}

/* PAGE TITLE */
.breadcrumbs li:after {
	content: '\f0d9';
}

.page-title {
	.page-title-background {
		right: 0;
		left: auto;
	}
	&.page-title-layout-normal {
		.breadcrumbs {
			left: 0;
			right: auto;
		}
	}
	&.page-title-layout-large-title {
		h1.has-subtitle {
			&:before {
				right: 8px;
				left: auto;
			}
		}
	}
}

/*----------------FOOTER-------------*/
.main-footer:before {
	left: auto;
	right: 0;
}

.bottom-bar-wrapper {
	.widget + .widget {
		margin-left: auto;
		margin-right: 10px;
	}
}

@media (max-width: 767px) {
	footer.footer-collapse-able .widget-title:before {
		float: left;
	}
}

/*----------HEADER----------*/
//==============================================================================
// Shopping Cart
//==============================================================================
.shopping-cart-icon {
	> .icon {
		padding: 5px 0 5px 10px;
		span {
			right: auto;
			left: 0;
			padding-right: 0;
			padding-left: 1px;
		}
	}
}

.shopping-cart-list {
	right: auto;
	left: 0;
	li.mini_cart_item a.remove {
		right: auto;
		left: 20px;
	}
}

.widget_shopping_cart_content {
	text-align: right;
}

//==============================================================================
// Canvas Menu
//==============================================================================

nav.canvas-menu-wrapper {
	left: auto;
	right: 100%;
	.canvas-menu-close {
		right: 0;
		left: 10px;
	}
}

//==============================================================================
// Top bar
//==============================================================================
.bar-left {
	text-align: right;
	.menu {
		ul {
			left: auto;
			right: 100%;
		}
		li > ul {
			left: auto;
			right: 0;
		}
	}
}

.bar-right {
	text-align: left;
	.widget {
		text-align: right;
	}
}

.bar-wrapper {
	.bottom-bar-inner .widget,
	.top-bar-inner .widget {
		+ .widget {
			margin-left: 0;
			margin-right: 40px;
		}
	}
	.menu {
		> li {
			+ li {
				margin-left: 0;
				margin-right: 30px;
			}
			> ul {
				right: auto;
				left: 0;
			}
		}
		ul {
			text-align: right;
			left: 100%;
			right: auto;
		}
		li li li li > a:hover,
		li li li > a:hover,
		li li > a:hover,
		li > a:hover {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

//==============================================================================
// Header
//==============================================================================
@media screen and (min-width: (@responsive_breakpoint + 1px)) {
	.logo-header {
		float: right;
	}

	.primary-menu {
		float: left;
	}

	// Header Customize
	.header-customize-wrapper {
		.header-customize-item:first-child {
			margin-left: auto;
			margin-right: 60px;
		}
	}

	.header-customize-nav .header-customize-item {
		border-right: 1px solid rgba(238, 238, 238, 0.1);
		border-left: none;
		margin-left: 0;
		margin-right: @header_customize_nav_spacing;
	}

	// END: header Customize
	.header-5 {
		.header-customize-nav {
			float: left;
		}
	}


	// HEADER LEFT
	body.header-is-left {
		padding-left: 0;
		padding-right: 240px;
	}

	header.header-left {
		left: auto;
		right: 0;
		.ps-scrollbar-y-rail {
			right: auto;
			left: 0;
		}
		.header-customize-nav .header-customize-item {
			border-left: none;
			border-right: 1px solid rgba(238, 238, 238, 0.1);
			float: right;
		}

		.x-nav-menu {
			.x-menu-item {
				> a.x-menu-a-text {
					padding: 12px 30px 12px 20px;
					&:before {
						display: none;
					}
					&:after {
						display: inline-block;
					}
					b.x-caret {
						right: auto;
						left: 20px;
					}
				}
			}
		}
	}
}

header.main-header, header.header-mobile .textwidget > span i {
	margin-right: 5px;
	margin-left: 5px;
}

/*---------HEADER MOBILE----------*/

@media screen and (max-width: @responsive_breakpoint) {
	.top-bar-wrapper {
		.widget + .widget:before,
		.menu > li + li:before {
			border-left: none;
			border-right: solid 1px;
		}
	}

	.toggle-mobile-menu {
		float: right;
	}

	.item-shopping-cart,
	.mobile-search-button {
		float: left;
	}

	.item-shopping-cart + .mobile-search-button {
		margin-right: auto;
		margin-left: 20px;
	}

	.menu-drop-fly .search-form button {
		right: auto;
		left: 20px;
	}

	.menu-drop-dropdown {
		li li a.x-menu-a-text {
			padding-left: 0;
			padding-right: 20px;
		}
		li li li a.x-menu-a-text {
			padding-left: 0;
			padding-right: 40px;
		}
		li li li li a.x-menu-a-text {
			padding-left: 0;
			padding-right: 60px;
		}
	}

	.both-mobile-icon {
		.logo-mobile-wrapper {
			padding-right: 0;
			padding-left: 90px;
		}
	}

	.header-mobile-2 {
		.toggle-icon-wrapper {
			float: left;
			margin-left: 0;
			margin-right: 10px;
		}
		.logo-mobile-wrapper {
			text-align: right;
			padding-left: 90px;
			padding-right: 0;
		}
		.both-mobile-icon {
			.logo-mobile-wrapper {
				padding-right: 0;
				padding-left: 130px;
			}
		}
		.mobile-search-button {
			margin-right: 0;
			margin-left: 10px;
		}
		.item-shopping-cart + .mobile-search-button {
			margin-right: 0;
			margin-left: 20px;
		}
	}

	.header-mobile-3 {
		.toggle-icon-wrapper {
			margin-right: 0;
			margin-left: 20px;
		}
		.item-shopping-cart, .mobile-search-button {
			float: right;
		}
		.logo-mobile-wrapper {
			text-align: left;
			padding-left: 0;
			padding-right: 90px;
		}
		.both-mobile-icon {
			.logo-mobile-wrapper {
				padding-left: 0;
				padding-right: 130px;
			}
		}
		.item-shopping-cart + .mobile-search-button {
			margin-left: 0;
			margin-right: 10px;
		}
	}

	.header-mobile-4 {
		.both-mobile-icon {
			.logo-mobile-wrapper {
				padding-right: 0;
				padding-left: 50px;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	#search_popup_wrapper form {
		padding-right: 0;
		padding-left: 0;
	}
}

/*---------MENU---------*/

//==============================================================================
// DESKTOP MENU
//==============================================================================
@media screen and (min-width: (@responsive_breakpoint + 1px)) {
	// BASE CLASS
	//==========================================================================
	.x-col {
		float: right;
	}

	li.x-text-align-right {
		text-align: left;
	}

	li.x-text-align-left {
		text-align: right;
	}

	i.x-menu-icon.x-icon-left {
		padding-right: 0;
		padding-left: 10px;
	}

	i.x-menu-icon.x-icon-right {
		padding-left: 0;
		padding-right: 10px;
	}

	i.x-menu-icon.x-icon-left.x-disable-text {
		padding-right: 0;
		padding-left: 0;
	}

	i.x-menu-icon.x-icon-right.x-disable-text {
		padding-left: 0;
		padding-right: 0;
	}

	.x-sub-menu-standard .x-sub-menu.x-pos-left-menu-parent,
	.x-sub-menu-standard .x-sub-menu.x-pos-left-menu-bar {
		right: auto;
		left: 100%;
	}

	// X-NAV-MENU
	//==========================================================================
	.x-nav-menu {
		text-align: right;
		// MENU ITEM NAV
		> .x-menu-item {
			> a b.x-caret:before {
				margin-left: 0;
				margin-right: 5px;
			}

			+ .x-menu-item {
				margin-left: 0;
				margin-right: @navigation_spacing;
			}
		}
	}

	// MENU STANDARD
	.x-sub-menu-standard {
		> .x-menu-item {
			b.x-caret {
				right: auto;
				left: 0;
			}
		}
		a.x-menu-a-text {
			position: relative;
			&:before {
				position: absolute;
				content: '\e686';
				right: -10px;
				margin-left: 0;
			}
			&:hover {
				&:before {
					right: 0;
				}
			}
		}

		.x-sub-menu {
			left: auto;
			right: 100%;
			margin-left: 0;
			margin-right: 5px;
		}

		.x-sub-menu.x-pos-left-menu-parent {
			margin-left: 5px;
			margin-right: 0;
		}
	}

	// TABS
	.x-sub-menu-tab > li.x-menu-active > a.x-menu-a-text:after {
		right: auto;
		left: 0;
		border-right: none;
		border-left: solid 8px #111;
	}
}

//==============================================================================
// MOBILE MENU
//==============================================================================
@media screen and (max-width: @responsive_breakpoint) {
	i.x-icon-left {
		margin-right: 0;
		margin-left: 10px;
	}

	i.x-icon-right {
		margin-left: 0;
		margin-right: 10px;
	}

	.x-caret {
		right: auto;
		left: 0;
	}

	.menu-drop-fly {
		left: auto;
		right: -280px;
		.x-caret {
			right: 0;
			left: 20px;
		}
		.x-menu-a-text {
			padding-right: 20px !important;
		}
		.x-sub-menu:before {
			left: auto;
			right: 20px;
		}
	}

	body {
		left: auto;
		right: 0;
	}

	.mobile-nav-overlay {
		left: auto;
		right: 0;
	}

	body.mobile-nav-in {
		left: auto;
		right: 280px;
		.menu-drop-fly {
			left: auto;
			right: 0;
		}
		.is-sticky .sticky-region {
			left: -280px;
			right: 280px;
		}
	}
}

/*----------MIXINS-------*/

//==============================================================================
// FUNCTION MIXIN
//==============================================================================
.pd-right-60 {
	padding-right: 0;
	padding-left: 60px;
}

@media screen and (max-width: 991px) {
	.md-pd-right-0 {
		padding-left: 0;
	}
}

@media (max-width: 479px) {
	.col-mb-1, .col-mb-2, .col-mb-3, .col-mb-4, .col-mb-5, .col-mb-6, .col-mb-7, .col-mb-8, .col-mb-9, .col-mb-10, .col-mb-11, .col-mb-12 {
		float: right;
	}

	.col-mb-pull-12 {
		right: 0;
		left: 100%;
	}

	.col-mb-pull-11 {
		right: 0;
		left: 91.66666667%;

	}

	.col-mb-pull-10 {
		right: 0;
		left: 83.33333333%;
	}

	.col-mb-pull-9 {
		right: 0;
		left: 75%;
	}

	.col-mb-pull-8 {
		right: 0;
		left: 66.66666667%;
	}

	.col-mb-pull-7 {
		right: 0;
		left: 58.33333333%;
	}

	.col-mb-pull-6 {
		right: 0;
		left: 50%;
	}

	.col-mb-pull-5 {
		right: 0;
		left: 41.66666667%;
	}

	.col-mb-pull-4 {
		right: 0;
		left: 33.33333333%;
	}

	.col-mb-pull-3 {
		right: 0;
		left: 25%;
	}

	.col-mb-pull-2 {
		right: 0;
		left: 16.66666667%;
	}

	.col-mb-pull-1 {
		right: 0;
		left: 8.33333333%;
	}

	.col-mb-pull-0 {
		right: 0;
		left: auto;
	}

	.col-mb-push-12 {
		left: 0;
		right: 100%;
	}

	.col-mb-push-11 {
		left: 0;
		right: 91.66666667%;
	}

	.col-mb-push-10 {
		left: 0;
		right: 83.33333333%;
	}

	.col-mb-push-9 {
		left: 0;
		right: 75%;
	}

	.col-mb-push-8 {
		left: 0;
		right: 66.66666667%;
	}

	.col-mb-push-7 {
		left: 0;
		right: 58.33333333%;
	}

	.col-mb-push-6 {
		left: 0;
		right: 50%;
	}

	.col-mb-push-5 {
		left: 0;
		right: 41.66666667%;
	}

	.col-mb-push-4 {
		left: 0;
		right: 33.33333333%;
	}

	.col-mb-push-3 {
		left: 0;
		right: 25%;
	}

	.col-mb-push-2 {
		left: 0;
		right: 16.66666667%;
	}

	.col-mb-push-1 {
		left: 0;
		right: 8.33333333%;
	}

	.col-mb-push-0 {
		left: 0;
		right: auto;
	}

	.col-mb-offset-12 {
		margin-left: 0;
		margin-right: 100%;
	}

	.col-mb-offset-11 {
		margin-left: 0;
		margin-right: 91.66666667%;
	}

	.col-mb-offset-10 {
		margin-left: 0;
		margin-right: 83.33333333%;
	}

	.col-mb-offset-9 {
		margin-left: 0;
		margin-right: 75%;
	}

	.col-mb-offset-8 {
		margin-left: 0;
		margin-right: 66.66666667%;
	}

	.col-mb-offset-7 {
		margin-left: 0;
		margin-right: 58.33333333%;
	}

	.col-mb-offset-6 {
		margin-left: 0;
		margin-right: 50%;
	}

	.col-mb-offset-5 {
		margin-left: 0;
		margin-right: 41.66666667%;
	}

	.col-mb-offset-4 {
		margin-left: 0;
		margin-right: 33.33333333%;
	}

	.col-mb-offset-3 {
		margin-left: 0;
		margin-right: 25%;
	}

	.col-mb-offset-2 {
		margin-left: 0;
		margin-right: 16.66666667%;
	}

	.col-mb-offset-1 {
		margin-left: 0;
		margin-right: 8.33333333%;
	}

	.col-mb-offset-0 {
		margin-right: 0;
	}
}

.icon-right:after {
	right: auto;
	left: -15px;
}

.icon-box-col-absolute {
	right: auto;
	left: 0;
	.vc_column-inner {
		padding-left: 0;
	}
}

.left-0 {
	left: auto;
	right: 0;
	.vc_column-inner {
		padding-left: auto;
		padding-right: 0;
	}
}

.elm-absolute {
	left: auto;
	right: 0;
}

.pd-left-40 {
	padding-left: 0;
	padding-right: 40px;
}

.pd-right-40 {
	padding-right: 0;
	padding-left: 40px;
}

.pd-left-15 {
	padding-left: 0;
	padding-right: 15px;
}

.pd-right-15 {
	padding-right: 0;
	padding-left: 15px;
}

.pd-left-55 {
	padding-left: 0;
	padding-right: 55px;
}

.pd-right-55 {
	padding-right: 0;
	padding-left: 55px;
}

.col-content-img-absolute {
	right: 50%;
	left: auto;
}

@media (max-width: 1199px) and (min-width: 992px) {
	.md-pd-left-15 {
		padding-left: 0;
		padding-right: 15px;
	}
}

@media (max-width: 991px) {
	.sm-pd-left-0 {
		padding-right: 0;
	}

	.sm-pd-right-0 {
		padding-left: 0;
	}

	.col-content-img-absolute {
		right: auto;
	}
}

@media (max-width: 767px) {
	.col-xs-mg-left-0 > .vc_column-inner {
		margin-right: 0 !important;
	}

	.xs-pd-left-15 {
		padding-left: 0 !important;
		padding-right: 15px !important;
	}

	.xs-pd-right-15 {
		padding-right: 0 !important;
		padding-left: 15px !important;
	}
}

.elm-absolute-bottom-left {
	left: auto;
	right: 0;
}

.elm-absolute-top-right,
.elm-absolute-bottom-right {
	right: auto;
	left: 0;
}

@media (min-width: 1200px) {
	.block-custom-content {
		right: auto;
		left: 0;
		padding: 0 100px 0 180px;
	}
}

@media (max-width: 1525px) {
	.block-custom-content {
		padding: 0 50px;
	}
}

@media (max-width: 1199px) {
	.pd-left-55 {
		padding-right: 0;
	}

	.pd-right-55 {
		padding-left: 0;
	}
}

.banner-up-to {
	margin-left: 8px;
	margin-right: auto;
}

/* SHORTCODE.LESS */
.g5plus-btn-container {
	&.btn-right {
		text-align: left;
	}
	&.btn-left {
		text-align: right;
	}
}

.btn-icon-left {
	i {
		margin-left: 10px;
		margin-right: 0;
	}
}

.btn-icon-right {
	i {
		margin-right: 10px;
		margin-left: 0;
	}
}

.btn.btn-link {
	padding: 0 0 0 10px;
	&:before {
		left: 0;
		right: auto;
	}
	&:hover,
	&:focus {
		padding-left: 12px;
		padding-right: 0;
	}
}

.g5plus-banner {
	.bn-link {
		right: 0;
		left: auto;
	}
}

.jazz-effect {
	.effect-content {
		&:before {
			.transform(rotate(-45deg) scale(0.5));
		}
	}
	&:hover .effect-content {
		&:before {
			.transform(rotate(-45deg) scale(1));
		}
	}
}

.vc_progress_bar {
	.vc_single_bar .vc_bar {
		right: 0;
		left: auto;
	}
	&.prb_vl_move {
		.vc_single_bar {
			.vc_bar {
				.vc_label_units {
					left: -31px;
					right: auto;
					&:before {
						border-right: 0;
						border-left: 7px solid transparent;
						right: 0;
						left: auto;
					}
				}
			}
		}
	}
	&.prb_vl_right {
		.vc_single_bar {
			.vc_label_units {
				left: 0;
				right: auto;
			}
		}
	}
}

.vc_message_box {
	padding: 11px 45px 11px 1px;
}

/* Icon Box */
.g5plus-icon-box {
	&.ib-right-bg {
		.ib-shape {
			border-right-width: 1px;
			border-left-width: 0;
		}
	}
}

.vc_toggle {
	.vc_toggle_title {
		.vc_toggle_icon {
			right: -10px !important;
			left: auto !important;
			&:before {
				content: '\e686';
				left: -2px;
				transform: translate(57%, -47%);
			}
		}
	}
}

.g5plus-mailchimp {
	.shop-now {
		left: 0;
		right: auto;
	}
}

.form-subscribe {
	.g5plus-mailchimp {
		.subscribe {
			left: 0;
			right: auto;
		}
	}
}

.form-subscribe-us {
	input[type="text"], input[type="email"] {
		margin-left: 6px;
		margin-right: 0;
	}
}

/* TEMPLATE */
.back-to-top {
	left: 10px;
	right: auto;
	.transform(translateX(-100px));
}

.owl-nav {
	> div {
		&.owl-prev {
			margin-left: 5px;
			margin-right: 0;
		}
		&.owl-next {
			margin-right: 5px;
			margin-left: 0;
		}
	}
}

.owl-nav-top-68,
.owl-nav-top {
	> .owl-nav {
		left: 0;
		right: auto;
	}
}

@media (min-width: 1280px) {
	.owl-nav-center {
		> .owl-nav {
			> div {
				&.owl-prev {
					right: -20px;
					left: auto;
					.transform(translate(100%, -50%););
				}

				&.owl-next {
					left: -20px;
					right: auto;
					.transform(translate(-100%, -50%););
				}
			}
		}
	}
}

.owl-nav-center-inner {
	> .owl-nav {
		> div {
			&.owl-prev {
				right: 0;
				left: auto;
			}
			&.owl-next {
				left: 0;
				right: auto;
			}
		}
	}
	&:hover {
		> .owl-nav {
			> div {
				&.owl-prev {
					right: 20px;
					left: auto;
				}
				&.owl-next {
					left: 20px;
					right: auto;
				}
			}
		}
	}
}

.owl-dot-vertical {
	> .owl-dots {
		left: 30px;
		right: auto;
	}
}

.product-listing {
	.owl-nav-top-68,
	.owl-nav-top {
		> .owl-nav {
			left: 15px;
			right: auto;
		}
	}
}

.popup-overlay-wrapper {
	right: 0;
	left: auto;
}

.popup-overlay-content {
	.search-button {
		left: 30px;
		right: auto;
	}
}

.popup-overlay-result {
	.date {
		float: left;
	}
}

.toggle-icon-wrapper {
	&.in {
		.toggle-icon {
			span {
				opacity: 0;
			}
			&:before {
				.transform(rotate(-45deg));
			}
			&:after {
				.transform(rotate(45deg));
			}
		}
	}
}

.archive-search-wrap {
	.archive-search-wrap-inner {
		.search-icon {
			float: right;
			span {
				margin-right: 15px;
				margin-left: 0;
			}
		}
		.search-entry-content-wrap {
			padding-right: 70px;
			padding-left: 0;
		}
	}
}

.close-button {
	left: 1em;
	right: auto;
}

.popup-close {
	left: 5px;
	right: auto;
}

.gf-item-wrap {
	float: right;
}

/* TOP DRAWER */
.top-drawer-wrapper {
	.top-drawer-toggle {
		left: 0;
		right: auto;
	}
}

/* TTA */

.wpb-js-composer .vc_tta.vc_tta-tabs.vc_general .vc_tta-tab > a:after {
	content: "\200E";
}

.vc_toggle_size_md.vc_toggle_default .vc_toggle_content, .vc_toggle_size_md.vc_toggle_default .vc_toggle_title, .vc_toggle_size_md.vc_toggle_round .vc_toggle_content, .vc_toggle_size_md.vc_toggle_round .vc_toggle_title, .vc_toggle_size_md.vc_toggle_rounded .vc_toggle_content, .vc_toggle_size_md.vc_toggle_rounded .vc_toggle_title, .vc_toggle_size_md.vc_toggle_simple .vc_toggle_content, .vc_toggle_size_md.vc_toggle_simple .vc_toggle_title, .vc_toggle_size_md.vc_toggle_square .vc_toggle_content, .vc_toggle_size_md.vc_toggle_square .vc_toggle_title {
	padding-right: 33px;
	padding-left: 0;
}

.wpb-js-composer .vc_tta.vc_general .vc_tta-title-text:not(:empty):not(:first-child) {
	margin-left: 0;
	margin-right: 40px;
}

.wpb-js-composer .vc_tta.vc_tta-accordion {
	.vc_tta-panel-title .vc_tta-icon {
		float: right;
	}

	.vc_tta-controls-icon-position-left.vc_tta-panel-title > a,
	.vc_tta-controls-icon-position-right.vc_tta-panel-title > a {
		padding-right: 40px;
		padding-left: 0;
	}
}

.wpb-js-composer .vc_tta.vc_general.vc_tta-tabs.vc_tta-style-vertical-bar {
	.vc_tta-tabs-list .vc_tta-tab {
		a {
			border-left: solid 1px @border_color;
			border-right: none;
			padding: 0 25px 0 15px;
		}
		&:first-child a {
			padding-right: 0;
			padding-left: 15px;
		}
	}
}

/* WIDGET */
.sidebar-mobile-canvas-icon {
	.border-top-left-radius(4px);
	.border-top-right-radius(0);
	.border-bottom-right-radius(0);
	.border-bottom-left-radius(4px);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
	right: 0;
	left: auto;
}

.widget_archive,
.widget_categories,
.widget_nav_menu,
.widget_pages,
.widget_product_categories,
.widget_recent_entries {
	li > a {
		&:before {
			padding-left: 10px;
			padding-right: 0;
			content: '\f0d9';
		}
	}
	li li > a {
		padding-right: 40px;
		padding-left: 0;
	}
	li li li > a {
		padding-right: 60px;
		padding-left: 0;
	}
	li li li li > a {
		padding-right: 80px;
		padding-left: 0;
	}
	.li-caret {
		left: 0;
		right: auto;
	}
	li > a:hover {
		padding-right: 5px;
		padding-left: 0;
	}

	li li > a:hover {
		padding-right: 45px;
		padding-left: 0;
	}
	li li li > a:hover {
		padding-right: 65px;
		padding-left: 0;
	}
	li li li li > a:hover {
		padding-right: 85px;
		padding-left: 0;
	}
}

.widget_recent_comments,
.widget_rss {
	li {
		&:before {
			padding-left: 10px;
			padding-right: 0;
		}
	}
}

.widget_calendar {
	#wp-calendar {
		td#next {
			text-align: left;
		}
	}
}

.widget-posts {
	.entry-thumb-wrap {
		float: right;
	}
	.entry-thumb-wrap + .entry-content-wrap {
		padding-right: 110px;
		padding-left: 0;
	}
}

.search-form {
	.search-field {
		padding-left: 50px;
		padding-right: 20px;
	}
	.search-submit {
		left: 0;
		right: auto;
	}
}

.tagcloud {
	a {
		margin: 0 0 5px 5px;
	}
}

ul.widget-social-profiles {
	li + li {
		margin-right: 20px;
		margin-left: 0;
	}
}

.social-profiles-title {
	margin-left: 15px;
	margin-right: 0;
}

.woocommerce ul.product_list_widget {
	li img {
		float: right;
		margin: 0 0 0 15px;
	}
	del span.amount {
		margin-left: 5px;
		margin-right: 0;
	}
}

.woocommerce .widget_layered_nav,
.woocommerce .widget_layered_nav_filters {
	> ul:not(.yith-wcan-label):not(.yith-wcan-color) {
		li {
			&:before {
				padding-left: 10px;
				padding-right: 0;
			}
			&:hover {
				padding-right: 5px;
				padding-left: 0;
			}
		}
	}
}

.woocommerce .widget_layered_nav ul.yith-wcan-color {
	li a {
		margin: 0 0 5px 5px;
		&:hover {
			&:after {
				margin: 10px 10px 0 0;
				right: 0;
				left: auto;
			}
		}
	}
	li.chosen a {
		&:after {
			margin: 10px 10px 0 0;
			right: 0;
			left: auto;
		}
	}
}

.woocommerce .widget_layered_nav ul.yith-wcan-label {
	li a {
		margin: 0 0 5px 5px;
	}
}

.woocommerce .widget_rating_filter {
	ul li a {
		text-align: left;
	}
	ul li .star-rating {
		float: right;
	}
}

.widget-info-box {
	li > i {
		float: right;
	}
	.if-content {
		padding-right: 30px;
		padding-left: 0;
	}
	ul.if-vertical {
		.if-content:before {
			margin-left: 5px;
			margin-right: 0;
		}
	}
	ul.if-horizontal {
		li > i {
			text-align: right;
			margin-left: 10px;
			margin-right: 0;
		}
		.if-content {
			padding-right: 0;
		}
		li + li {
			margin-right: 20px;
			margin-left: 0;
		}
	}
}

@media (max-width: 991px) {
	.sidebar-mobile-canvas {
		right: -300px;
		left: auto;
		&.changed {
			right: 0;
			left: auto;
		}
		.sidebar-mobile-canvas-icon-close {
			left: 5px;
			right: auto;
		}
	}

	.overlay-canvas-sidebar {
		right: 0;
		left: auto;
	}
}

/* WOOCOMMERCE */
.woocommerce {
	.woocommerce-product-rating .star-rating,
	div.product form.cart div.quantity,
	div.product form.cart .button {
		float: right !important;
	}
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text,
#add_payment_method .checkout .col-2 h3#ship-to-different-address,
.woocommerce-cart .checkout .col-2 h3#ship-to-different-address,
.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address,
.woocommerce #reviews #comments ol.commentlist li img.avatar {
	float: right;
}

#add_payment_method #payment .payment_method_paypal .about_paypal,
.woocommerce-cart #payment .payment_method_paypal .about_paypal,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
	float: left;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	padding: 1em 3.5em 1em 2em !important;
	.button {
		float: left;
	}
	&:before {
		right: 1.5em;
		left: auto;
	}
}

.woocommerce .star-rating {
	float: left;
	span {
		float: right;
		left: auto;
		right: 0;
		&:before {
			right: -1px;
			left: auto;
		}
		span {
			display: none;
		}
	}
}

.woocommerce table.shop_table,
#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li,
.wishlist_table tr td.product-thumbnail,
.wishlist_table tr td.product-name,
.wishlist_table tr td.wishlist-name,
.wishlist_table tr td.wishlist-privacy,
.woocommerce table.wishlist_table tfoot td {
	text-align: right;
}

.woocommerce ul#shipping_method li {
	padding: 0 22px 5px 0;
}

.woocommerce ul#shipping_method li input {
	margin: 0 0 0 5px;
}

.on-sale {
	left: 20px;
	right: auto;
}

.on-featured {
	right: 20px;
	left: auto;
}

.product-actions {
	.product-quick-view,
	.yith-wcwl-add-to-wishlist {
		margin-right: 2px;
		margin-left: 0;
	}
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	del {
		margin-left: 25px;
		margin-right: 0;
	}
}

.woocommerce a.added_to_cart,
.woocommerce a.add_to_cart_button,
.woocommerce a.product_type_external,
.woocommerce a.product_type_simple,
.woocommerce a.product_type_grouped {
	&.loading {
		&:before {
			margin-left: 5px;
			margin-right: 0;
		}
	}
}

.countdown-section {
	margin-left: 5px;
	margin-right: 0;
	&:last-child {
		margin-left: 0;
	}
}

.product-deal-countdown.small {
	.countdown-section {
		margin-left: 2px;
		margin-right: 0;
	}
}

.woocommerce div.product form.cart div.quantity {
	margin: 0 0 0 10px;
}

.btn-number[data-type="plus"] {
	left: 0;
	right: auto;
}

.woocommerce .woocommerce-product-rating .star-rating {
	margin: 0 0 0 30px;
}

.single-product-function {
	.yith-wcwl-add-to-wishlist {
		margin: 0 0 0 30px;
	}
	.yith-wcwl-add-button,
	.yith-wcwl-wishlistaddedbrowse,
	.yith-wcwl-wishlistexistsbrowse {
		a:before {
			margin-left: 5px;
			margin-right: 0;
		}
	}
	.compare {
		&:before {
			margin-left: 5px;
			margin-right: 0;
		}
	}
}

.product_meta {
	> span {
		span,
		a {
			&:first-child {
				padding-right: 30px;
				padding-left: 0;
			}
		}
	}
}

.woocommerce div.product form.cart .reset_variations {
	margin-right: 10px;
	margin-left: 0;
}

@media (min-width: 768px) {
	.summary-product.entry-summary {
		padding-right: 30px;
		padding-left: 0;
	}

	#popup-product-quick-view-wrapper .summary-product.entry-summary {
		padding-right: 0;
	}
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	float: right;
	.reviews_tab a:after {
		content: '\200E';
	}
}

.woocommerce div.product .woocommerce-tabs .panel {
	padding-right: 320px;
	padding-left: 0;
}

@media (max-width: 991px) {
	.woocommerce div.product .woocommerce-tabs .panel {
		padding-right: 0;
	}
}

.woocommerce #reviews #comments ol.commentlist {
	padding-right: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin: 0 130px 0 0;
}

.woocommerce p.stars a {
	margin-left: 2px;
	margin-right: 0;
}

.woocommerce-cart table.cart {
	.product-name {
		dl.variation {
			dt {
				margin: 0 0 5px 5px;
			}
		}
	}
}

@media (min-width: 769px) {
	.woocommerce-cart table.cart {
		td.actions {
			.coupon .input-text {
				margin: 0 0 0 10px;
			}
		}
	}
}

.woocommerce .cart-collaterals .cart_totals {
	.cart_totals_inner,
	.woocommerce-shipping-calculator {
		float: right;
	}
	.cart_totals_inner {
		padding-right: 15px;
		padding-left: 0;
	}
	.woocommerce-shipping-calculator {
		padding-left: 15px;
		padding-right: 0;
	}
	.wc-proceed-to-checkout {
		text-align: left;
	}
	table.shop_table tbody td {
		text-align: left;
	}
}

#ship-to-different-address {
	width: 100%;
}

@media (max-width: 768px) {
	.woocommerce-cart table.cart {
		td.actions {
			.button {
				float: right;
			}
		}
	}
}

@media (max-width: 320px) {
	.woocommerce-cart table.cart {
		td.actions {
			.coupon .input-text,
			.coupon input,
			.button {
				float: right !important;
			}
		}
	}
}

.woocommerce .order_details li {
	float: right;
	margin-left: 2em;
	margin-right: 0;
	padding-left: 2em;
	padding-right: 0;
	border-left: 1px dashed #d3ced2;
	border-right: none;
}

.entry-content ul, .entry-content ol {
	padding-right: 25px;
	padding-left: 0;
}

.select2-container .select2-choice {
	padding: 0 10px 0 0;
}

.woocommerce-checkout #payment ul.payment_methods li input {
	margin: 0 0 0 10px;
}

.woocommerce-checkout #payment div.payment_box {
	padding: 0 30px 0 0;
}
