/**
* Button
* ----------------------------------------------------------------------------
*/
.g5plus-btn-container {
	display: block;
	max-width: 100%;
	&.btn-inline {
		display: inline-block;
		vertical-align: top;
	}
	&.btn-right {
		text-align: right;
	}
	&.btn-center {
		text-align: center;
	}
	&.btn-left {
		text-align: left;
	}
}

.btn,
button,
input[type="submit"] {
	font-family: @secondary_font;
	display: inline-block;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 20px;
	padding: 10.5px 30px;
	color: @foreground_accent_color;
	background-color: @accent_color;
	border: solid 2px transparent;
	background-clip: border-box;
	.transition03();
	&:hover,
	&:focus {
		color: @text_color_bold;
		background-color: transparent;
		border-color: @accent_color;
		&.btn-dark {
			color: #fff;
		}
	}
}

.btn.btn-outline {
	border-color: @accent_color;
	color: @text_color_bold;
	background-color: transparent;

	&.btn-dark {
		color: #fff;
	}

	&:focus,
	&:hover {
		border-color: transparent;
		background-color: @accent_color;
		color: @foreground_accent_color;
	}
}

.btn-round {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.btn.disabled,
.btn[disabled],
button[disabled] {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	opacity: .65;
}

.btn.btn-block {
	display: block;
	width: 100%;
}

.btn-icon {
	i {
		height: 14px;
		line-height: 14px;
		display: inline-block;
	}
}

.btn-icon-left {
	i {
		margin-right: 10px;
	}
}

.btn-icon-right {
	i {
		margin-left: 10px;
	}
}

.btn.btn-xs {
	padding-top: 8.5px;
	padding-bottom: 8.5px;
}

.btn.btn-md {
	padding-top: 12px;
	padding-bottom: 12px;
}

.btn.btn-lg {
	padding-top: 13px;
	padding-bottom: 13px;
}

.btn.btn-gray {
	color: @text_color_bold;
	background-color: #ddd;
	&:hover,
	&:focus {
		border-color: #ddd;
		background-color: transparent;
	}

	&.btn-outline {
		border-color: #ddd;
		background-color: transparent;
		&:focus,
		&:hover {
			border-color: transparent;
			background-color: #ddd;
			color: @text_color_bold;
		}
	}
}

.btn.btn-black {
	background-color: #000;
	&:hover,
	&:focus {
		background-color: transparent;
		border-color: #000;
	}

	&.btn-outline {
		border-color: #000;
		background-color: transparent;
		&:focus,
		&:hover {
			border-color: transparent;
			background-color: #000;
			color: @foreground_accent_color;
		}
	}
}

.btn.btn-white {
	background-color: #fff;
	color: @text_color_bold;
	&:hover,
	&:focus {
		background-color: transparent;
		border-color: #fff;
		color: #fff;
	}

	&.btn-dark {
		&:hover,
		&:focus {
			background-color: @accent_color;
			border-color: @accent_color;
		}
	}

	&.btn-outline {
		border-color: #fff;
		color: #fff;
		background-color: transparent;
		&:focus,
		&:hover {
			border-color: transparent;
			background-color: #fff;
			color: @text_color_bold;
		}
	}

}

.btn.btn-link {
	background-color: transparent !important;
	border: none !important;
	padding: 0 10px 0 0;
	color: @accent_color;
	position: relative;
	&:before {
		font-family: 'FontAwesome';
		content: '\f0da';
		display: block;
		font-size: 17px;
		height: 14px;
		line-height: 14px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		position: absolute;
		right: 0;
	}

	&.btn-gray {
		color: #ddd;
	}

	&.btn-black {
		color: #222;
	}

	&.btn-white {
		color: #fff;
	}

	&.btn-gray,
	&.btn-black,
	&.btn-white {
		&:hover,
		&:focus {
			color: @accent_color;
		}
	}

	&:hover,
	&:focus {
		padding-right: 12px;
		color: @text_color_bold;
	}
}

// Banner
.g5plus-banner {
	position: relative;
	color: #222;
	img {
		width: 100%;
	}
	.bn-link {
		position: absolute;
		z-index: 3;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.banner-content {
		position: absolute;
		z-index: 2;
	}
	.text-top-center {
		top: 20px;
		left: 30px;
		right: 30px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.text-middle-center {
		top: 50%;
		left: 30px;
		right: 30px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		.transform(translateY(-50%));
	}
	.text-bottom-left {
		left: 30px;
		right: 30px;
		bottom: 30px;
		text-align: left;
	}
	.text-bottom-center {
		bottom: 30px;
		left: 30px;
		right: 30px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.text-bottom-right {
		left: 30px;
		right: 30px;
		bottom: 30px;
		text-align: right;
	}
}

.g5plus-gallery {
	&.col-gap-3.row {
		margin-left: -1.5px;
		margin-right: -1.5px;
		.gf-item-wrap {
			padding-left: 1.5px;
			padding-right: 1.5px;
			margin-bottom: 3px;
		}
	}
	&.col-gap-0.row {
		margin-left: 0;
		margin-right: 0;
		.gf-item-wrap {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.gf-gallery-item .gf-gallery-inner {
		position: relative;
		img {
			width: 100%;
			display: block;
		}
		&:before {
			position: absolute;
			display: block;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			.rgba-bg-color(#000, 0.8);
			.transition05();
			opacity: 0;
		}
		a {
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			.transform(translate(-50%, -50%) scale(0.8));
			width: 42px;
			height: 42px;
			border: 1px solid #fff;
			opacity: 0;
			.border-radius(50%);
			.transition05();
			i {
				color: #fff;
				line-height: 40px;
				font-size: 12px;
				.transition05();
			}
		}
		&:hover {
			&:before, a {
				opacity: 1;
			}
			a {
				.transform(translate(-50%, -50%) scale(1));
			}
		}
	}
	&.g5plus-widget-gallery {
		.gf-gallery-item .gf-gallery-inner {
			a {
				width: 30px;
				height: 30px;
				i {
					line-height: 28px;
				}
			}
		}
	}
}

&.overlay-light {
	&.suprema-effect .effect-content {
		&:before, &:after {
			background-color: @accent_color;
		}
	}
	&.layla-effect, &.bubba-effect {
		.effect-content {
			&:after {
				border-top-color: @accent_color;
				border-bottom-color: @accent_color;
			}
			&:before {
				border-left-color: @accent_color;
				border-right-color: @accent_color;
			}
		}
	}
	&.jazz-effect .effect-content:before {
		border-top-color: @accent_color;
		border-bottom-color: @accent_color;
	}
}

.suprema-effect, .layla-effect, .bubba-effect, .jazz-effect {
	overflow: hidden;
	position: relative;
	&:not(.portfolio-item):after {
		-webkit-transition: opacity .8s ease .2s;
		transition: opacity .8s ease .15s;
		position: absolute;
		content: '';
		display: block;
		top: 0;
		width: 100%;
		height: 100%;
		.rgba-bg-color(#000, 0.5);
		opacity: 0;
		z-index: 0;
	}
	&.overlay-light:after {
		.rgba-bg-color(#fff, 0.8);
	}
	.effect-content {
		position: relative;
		&:before, &:after {
			position: absolute;
			content: '';
			display: block;
		}
	}
	&:hover {
		&:after, .effect-content:before, .effect-content:after {
			opacity: 1;
		}
	}
}

.suprema-effect {
	.effect-content {
		&:before, &:after {
			width: 45%;
			height: 2px;
			top: 50%;
			background: #fff;
			opacity: 0;
			z-index: 1;
			-webkit-transition: opacity .2s ease, -webkit-transform 0s .2s;
			transition: opacity .2s ease, transform 0s .2s;
		}
		&:before {
			-webkit-transform-origin: 0 50%;
			transform-origin: 0 50%;
			.transform(rotate(-45deg));
			left: 50%;
		}
		&:after {
			right: 50%;
			-webkit-transform-origin: 100% 50%;
			transform-origin: 100% 50%;
			.transform(rotate(-45deg));
		}
	}
	&:hover {
		.effect-content {
			&:before {
				transition: opacity .3s ease 50ms, transform 2s cubic-bezier(.26, .63, 0, .96);
				.transform(rotate(-45deg) translateX(-1000px));
			}
			&:after {
				transition: opacity .4s ease, transform 2s cubic-bezier(.26, .63, 0, .96);
				.transform(rotate(-45deg) translateX(1000px));
			}
		}
	}
}

.layla-effect, .bubba-effect {
	.effect-content {
		&:after, &:before {
			content: '';
			display: block;
			background-color: transparent;
			position: absolute;
			z-index: 1;
			.transition(0.5s);
		}
		&:after {
			top: 25px;
			bottom: 25px;
			left: 50%;
			right: 50%;
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: #fff;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: #fff;
		}
		&:before {
			top: 50%;
			bottom: 50%;
			left: 25px;
			right: 25px;
			border-left-width: 1px;
			border-left-style: solid;
			border-left-color: #fff;
			border-right-width: 1px;
			border-right-style: solid;
			border-right-color: #fff;
		}
	}
}

.layla-effect {
	&:hover .effect-content {
		&:after {
			left: 10px;
			right: 10px;
		}
		&:before {
			top: 10px;
			bottom: 10px;
		}
	}
}

.bubba-effect {
	&:hover .effect-content {
		&:after {
			left: 25px;
			right: 25px;
		}
		&:before {
			top: 25px;
			bottom: 25px;
		}
	}
}

.jazz-effect {
	.effect-content {
		&:before {
			background-color: transparent;
			z-index: 1;
			width: 100%;
			height: 100%;
			top: 0;
			opacity: 0;
			.transition05();
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: #fff;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: #fff;
			.transform(rotate(45deg) scale(0.5));
		}
	}
	&:hover .effect-content {
		&:before {
			.transform(rotate(45deg) scale(1));
		}
	}
}

/*
------- Custom VC_Progress_Bar -------*/
.vc_progress_bar {
	&.prb_vl_move {
		.progress-bar-title {
			margin-bottom: 12px;
			display: block;
			color: @header_text_color;
		}
		.vc_single_bar {
			border-radius: 0;
			height: 12px;
			margin-bottom: 33px;
			background: #F5F5F5;
			box-shadow: none;
			.vc_bar {
				height: 12px;
				.border-radius(0);
				.vc_label_units {
					position: absolute;
					right: -31px;
					top: -31px;
					background: @text_color_bold;
					color: @foreground_accent_color;
					width: 31px;
					height: 18px;
					font-weight: 600;
					font-size: 10px;
					text-align: center;
					&:before {
						border-left: 0;
						border-right: 7px solid transparent;
						border-top-style: solid;
						border-top-width: 7px;
						border-top-color: @text_color_bold;
						content: "";
						left: 0;
						position: absolute;
						top: 18px;
					}
				}
			}
		}
	}
	&.prb_vl_right {
		.progress-bar-title {
			margin-bottom: 12px;
			display: block;
			color: #999999;
			font-size: 13px;
		}
		.vc_single_bar {
			border-radius: 0;
			height: 8px;
			margin-bottom: 27px;
			background: #fff;
			border-width: 1px;
			border-style: solid;
			border-color: @border_color;
			box-shadow: none;
			.vc_bar {
				height: 8px;
				.border-radius(0);
				top: -1px;
			}
			.vc_label_units {
				position: absolute;
				right: 0;
				top: -36px;
				color: @text_color_bold;
				font-weight: 700;
				font-size: 13px;
			}
		}
	}
}

/*
-----------Heading---------*/
.g5plus-heading {
	&:after {
		border-bottom-color: @accent_color;
	}
}

/**
* VC_Message Box
* ----------------------------------------------------------------------------
*/
.vc_message_box {
	padding: 11px 11px 11px 45px;
	margin: 0 0 20px;
}

.vc_message_box-icon {
	width: 45px;
}

.vc_message_box-icon > *, .vc_message_box-icon > .fa {
	font-size: 14px;
	line-height: 1.6;
}

.vc_color-success.vc_message_box-solid {
	color: #58A739;
	border-color: transparent;
	background-color: #E0F2D9;
	.vc_message_box-icon {
		color: #58A739;
	}
}

.vc_color-info.vc_message_box-solid {
	color: #3D6DBF;
	border-color: transparent;
	background-color: #ECF1F9;
	.vc_message_box-icon {
		color: #3D6EBF;
	}
}

.vc_color-warning.vc_message_box-solid {
	color: #EB9A0A;
	border-color: transparent;
	background-color: #FDF9DF;
	.vc_message_box-icon {
		color: #EB9B0A;
	}
}

.vc_color-danger.vc_message_box-solid {
	color: #DF5F5F;
	border-color: transparent;
	background-color: #FFECEC;
	.vc_message_box-icon {
		color: #DF5F5F;
	}
}

/* DropCaps */
.dc-classic {
	&.dc-scheme-accent {
		p > .first-letter {
			color: @accent_color;
		}
	}
	&.dc-scheme-dark {
		p > .first-letter {
			color: @text_color_bold;
		}
	}
}

.dc-outline {
	&.dc-scheme-accent {
		p > .first-letter {
			color: @accent_color;
			border-color: @accent_color;
		}
	}
	&.dc-scheme-dark {
		p > .first-letter {
			color: @text_color_bold;
			border-color: @text_color_bold;
		}
	}
}

.dc-background {
	&.dc-scheme-accent {
		p > .first-letter {
			background-color: @accent_color;
		}
	}
	&.dc-scheme-dark {
		p > .first-letter {
			background-color: @text_color_bold;
		}
	}
	&.dc-scheme-light {
		p > .first-letter {
			color: @accent_color;
		}
	}
}

/* Gallery */
.gf-gallery-item .gf-gallery-inner {
	a {
		&:hover {
			border-color: @accent_color;
			i {
				color: @accent_color;
			}
		}
	}
}

/* Icon Box */
.g5plus-icon-box {
	.ib-content {
		span {
			color: @text_color_bold;
		}
		a span:hover {
			color: @accent_color;
		}
	}
	&:not(.icon-classic) {
		&.icon-scheme-light.icon-bg-circle-fill {
			&:hover .ib-shape-inner {
				background-color: @accent_color;
			}
		}
	}
	&.icon-classic {
		&.icon-scheme-accent {
			i {
				color: @accent_color;
			}
			&:not(.ib-right-bg):hover i {
				color: @border_color_dark;
			}
		}
		&.icon-scheme-dark {
			i {
				color: @text_color_bold;
			}
			&:not(.ib-right-bg):hover i {
				color: @border_color_dark;
			}
		}
		&.icon-scheme-light {
			&:not(.ib-right-bg):hover i {
				color: @accent_color;
			}
		}
		&.icon-scheme-gray {
			i {
				color: @border_color_dark;
			}
			&:not(.ib-right-bg):hover i {
				color: @accent_color;
			}
		}
	}
	&.icon-bg-circle-fill {
		&.icon-scheme-accent .ib-shape-inner {
			background-color: @accent_color;
		}
		&.icon-scheme-dark .ib-shape-inner {
			background-color: @text_color_bold;
		}
		&.icon-scheme-gray .ib-shape-inner {
			background-color: @border_color_dark;
		}
	}
	&.icon-bg-circle-outline {
		&.icon-scheme-accent .ib-shape-inner {
			border-color: @accent_color;
			i {
				color: @accent_color;
			}
		}
		&.icon-scheme-dark .ib-shape-inner {
			border-color: @text_color_bold;
			i {
				color: @text_color_bold;
			}
		}
		&.icon-scheme-gray .ib-shape-inner {
			border-color: @border_color_dark;
			i {
				color: @border_color_dark;
			}
		}
	}
	&.icon-bg-circle-fill-outline {
		&.icon-scheme-accent .ib-shape-inner {
			border-color: @accent_color;
			&:before {
				background-color: @accent_color;
			}
		}
		&.icon-scheme-dark .ib-shape-inner {
			border-color: @text_color_bold;
			&:before {
				background-color: @text_color_bold;
			}
		}
		&.icon-scheme-light .ib-shape-inner {
			i {
				color: @accent_color;
			}
		}
		&.icon-scheme-gray .ib-shape-inner {
			border-color: @border_color_dark;
			&:before {
				background-color: @border_color_dark;
			}
		}
	}
	&.has-box-shadow {
		&:not(.icon-bg-circle-fill-outline) {
			&.icon-scheme-accent, &.icon-scheme-dark, &.icon-scheme-gray {
				&:hover .ib-shape-inner {
					i {
						color: @accent_color;
					}
				}
			}
		}
		&.icon-bg-circle-fill-outline {
			&.icon-scheme-accent, &.icon-scheme-dark, &.icon-scheme-gray {
				&:hover .ib-shape-inner {
					i {
						color: @accent_color;
					}
				}
			}
			&.icon-scheme-light {
				&:hover .ib-shape-inner {
					border-color: @accent_color;
					&:before {
						background-color: @accent_color;
					}
				}
			}
		}
	}
	&:not(.has-box-shadow):not(.icon-classic) {
		&.icon-bg-circle-fill {
			&.icon-scheme-accent {
				&:hover .ib-shape-inner {
					background-color: @border_color_dark;
					i {
						color: @accent_color;
					}
				}
			}
			&.icon-scheme-gray, &.icon-scheme-dark {
				&:hover .ib-shape-inner {
					background-color: @accent_color;
				}
			}
		}
		&.icon-bg-circle-outline {
			&.icon-scheme-accent, &.icon-scheme-dark {
				&:hover .ib-shape-inner {
					border-color: @border_color_dark;
					i {
						color: @border_color_dark;
					}
				}
			}
			&.icon-scheme-gray, &.icon-scheme-light {
				&:hover .ib-shape-inner {
					border-color: @accent_color;
					i {
						color: @accent_color;
					}
				}
			}
		}
		&.icon-bg-circle-fill-outline {
			&.icon-scheme-accent, &.icon-scheme-dark {
				&:hover .ib-shape-inner {
					border-color: @border_color_dark;
					&:before {
						background-color: @border_color_dark;
					}
				}
			}
			&.icon-scheme-light, &.icon-scheme-gray {
				&:hover .ib-shape-inner {
					border-color: @accent_color;
					&:before {
						background-color: @accent_color;
					}
				}
			}
		}
	}
	&.ib-right-bg {
		.ib-content span {
			color: @text_color_bold;
		}
		.ib-shape {
			border-color: @border_color;
		}
	}
	&.icon-box-light .ib-content {
		a span:hover {
			color: @accent_color;
		}
	}
}

/* Our Team */
.g5plus-ourteam {
	.ourteam-content {
		border-color: @border_color;
		.social-share-icon {
			background-color: @accent_color;
		}
		.social-profiles {
			a {
				&:hover i {
					color: @accent_color;
				}
			}
		}
		span {
			color: @text_color_bold;
		}
	}
}

/* Portfolio */
.g5plus-portfolio {
	.portfolio-inner {
		.portfolio-item-content {
			a.title {
				&:hover {
					color: @accent_color;
				}
			}
			p {
				color: @border_color;
			}
			a.view-gallery, a.link-single {
				&:hover {
					border-color: @accent_color;
					i {
						color: @accent_color;
					}
				}
			}
		}
	}
}

.active-cate-accent {
	.portfolio-filter-content {
		a:hover, .active-filter {
			color: @accent_color;
		}
	}
}

.portfolio-single {
	.portfolio-thumbnail, .portfolio-single-item {
		.view-gallery, .view-video {
			&:hover {
				border-color: @accent_color;
				color: @accent_color;
			}
		}
	}
	&:not(.portfolio-two-columns) {
		.portfolio-info h4 {
			&:before {
				background-color: @accent_color;
			}
		}
	}
	.portfolio-info-detail {
		.portfolio-label {
			color: @text_color_bold;
		}
	}
}

.portfolio-related {
	h4 {
		border-bottom-color: @border_color;
	}
}

.portfolio-two-columns {
	.portfolio-info-detail {
		> div:not(.portfolio-activities) {
			border-top-color: @border_color;
		}
		.portfolio-cate {
			border-bottom-color: @border_color;
		}
	}
}

/*
--------------Toggle----------------*/

.vc_toggle {
	border-width: 1px;
	border-style: solid;
	border-color: @border_color;
	padding: 31px 35px 20px 35px;
	margin-bottom: 10px;

	.vc_toggle_title {
		.vc_toggle_icon {
			.border-radius(50%);
			border: solid 1px;
			width: 24px;
			height: 24px;
			left: -10px !important;
			top: 40% !important;
			font-family: 'Pe-icon-7-stroke' !important;
			font-size: 26px;
			font-style: inherit;
			font-weight: bold;
			text-align: center;
			line-height: 22px;
			color: #fff;
			&:before {
				content: '\e684';
				display: block;
				height: 100%;
				width: 100%;
				.border-radius(50%);
				transform: translate(-57%, -47%);
			}
			&:after {
				display: none;
			}
		}
		&:hover {
			h1, h2, h3, h4, h5, h6, p, div {
				color: @accent_color !important;
			}
			.vc_toggle_icon {
				border-color: @accent_color !important;
				&:before {
					background-color: @accent_color !important;
				}
			}
		}
	}
	.vc_toggle_title {
		* {
			letter-spacing: 0.3em;
		}
		h4 {
			font-family: @body_font;
			font-size: 15px;
			font-weight: bold;
		}
	}
	.vc_toggle_content {
		margin-bottom: 6px;
		p {
			font-size: 14px;
			color: #999999;
			line-height: 1.6;
			letter-spacing: 0.05em;
		}
	}
	&.vc_toggle_rounded {
		.border-radius(10px);
	}
	&.vc_toggle_active {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: @accent_color !important;
			}
			.vc_toggle_icon {
				border-color: @accent_color !important;
				color: #fff;
				&:before {
					content: "\e688";
					background-color: @accent_color !important;
				}
			}
		}
	}

	&.vc_toggle_color_inverted {
		.vc_toggle_title {
			&:hover {
				h1, h2, h3, h4, h5, h6, p, div {
					color: @accent_color !important;
				}
				.vc_toggle_icon {
					border-color: @accent_color !important;
					color: @accent_color !important;
					&:before {
						background-color: transparent !important;
					}
				}
			}
		}
		&.vc_toggle_active {
			.vc_toggle_title {
				h1, h2, h3, h4, h5, h6, p, div {
					color: @accent_color !important;
				}
				.vc_toggle_icon {
					border-color: @accent_color !important;
					color: @accent_color !important;
					&:before {
						background-color: transparent !important;
					}
				}
			}
		}
	}
	&.vc_toggle_color_primary {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: @accent_color;
			}
			.vc_toggle_icon {
				border-color: @accent_color;
				&:before {
					background-color: @accent_color;
				}
			}
			&:hover {
				h1, h2, h3, h4, h5, h6, p, div {
					color: @text_color_bold !important;
				}
				.vc_toggle_icon {
					border-color: @text_color_bold !important;
					&:before {
						background-color: @text_color_bold !important;
					}
				}
			}
		}
		&.vc_toggle_active {
			.vc_toggle_title {
				h1, h2, h3, h4, h5, h6, p, div {
					color: @text_color_bold !important;
				}
				.vc_toggle_icon {
					border-color: @text_color_bold !important;
					&:before {
						background-color: @text_color_bold !important;
					}
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: @accent_color;
					color: @accent_color;
					&:before {
						background-color: transparent;
					}
				}
				&:hover {
					h1, h2, h3, h4, h5, h6, p, div {
						color: @text_color_bold !important;
					}
					.vc_toggle_icon {
						border-color: #333 !important;
						color: @text_color_bold !important;
						&:before {
							background-color: transparent !important;
						}
					}
				}
			}
			&.vc_toggle_active {
				.vc_toggle_title {
					h1, h2, h3, h4, h5, h6, p, div {
						color: @text_color_bold !important;
					}
					.vc_toggle_icon {
						border-color: @text_color_bold !important;
						color: @text_color_bold !important;
						&:before {
							background-color: transparent !important;
						}
					}
				}
			}
		}
	}
	&.vc_toggle_color_default {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: @text_color_bold;
			}
			.vc_toggle_icon {
				border-color: @text_color_bold;
				&:before {
					background-color: @text_color_bold;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: @text_color_bold;
					color: @text_color_bold;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_blue {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: #0000ff;
			}
			.vc_toggle_icon {
				border-color: #0000ff;
				&:before {
					background-color: #0000ff;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: #0000ff;
					color: #0000ff;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_turquoise {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: turquoise;
			}
			.vc_toggle_icon {
				border-color: turquoise;
				&:before {
					background-color: turquoise;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: turquoise;
					color: turquoise;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_pink {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: pink;
			}
			.vc_toggle_icon {
				border-color: pink;
				&:before {
					background-color: pink;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: pink;
					color: pink;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_violet {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: violet;
			}
			.vc_toggle_icon {
				border-color: violet;
				&:before {
					background-color: violet;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: violet;
					color: violet;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_peacoc {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: #4CADC9;
			}
			.vc_toggle_icon {
				border-color: #4CADC9;
				&:before {
					background-color: #4CADC9;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: #4CADC9;
					color: #4CADC9;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_chino {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: #CEC2AB;
			}
			.vc_toggle_icon {
				border-color: #CEC2AB;
				&:before {
					background-color: #CEC2AB;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: #CEC2AB;
					color: #CEC2AB;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_mulled_wine {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: #50485B;
			}
			.vc_toggle_icon {
				border-color: #50485B;
				&:before {
					background-color: #50485B;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: #50485B;
					color: #50485B;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_vista_blue {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: #75D69C;
			}
			.vc_toggle_icon {
				border-color: #75D69C;
				&:before {
					background-color: #75D69C;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: #75D69C;
					color: #75D69C;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_black {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: #000;
			}
			.vc_toggle_icon {
				border-color: #000;
				&:before {
					background-color: #000;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: #000;
					color: #000;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_grey {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: #808080;
			}
			.vc_toggle_icon {
				border-color: #808080;
				&:before {
					background-color: #808080;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: #808080;
					color: #808080;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_orange {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: orange;
			}
			.vc_toggle_icon {
				border-color: orange;
				&:before {
					background-color: orange;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: orange;
					color: orange;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_sky {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: #5AA1E3;
			}
			.vc_toggle_icon {
				border-color: #5AA1E3;
				&:before {
					background-color: #5AA1E3;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: #5AA1E3;
					color: #5AA1E3;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_green {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: green;
			}
			.vc_toggle_icon {
				border-color: green;
				&:before {
					background-color: green;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: green;
					color: green;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_juicy_pink {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: #F4524D;
			}
			.vc_toggle_icon {
				border-color: #F4524D;
				&:before {
					background-color: #F4524D;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: #F4524D;
					color: #F4524D;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_sandy_brown {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: #F4524D;
			}
			.vc_toggle_icon {
				border-color: #F4524D;
				&:before {
					background-color: #F4524D;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: #F4524D;
					color: #F4524D;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_white {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: @text_color_bold;
			}
			.vc_toggle_icon {
				border-color: @text_color_bold;
				&:before {
					background-color: @text_color_bold;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: @text_color_bold;
					color: @text_color_bold;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
	&.vc_toggle_color_purple {
		.vc_toggle_title {
			h1, h2, h3, h4, h5, h6, p, div {
				color: purple;
			}
			.vc_toggle_icon {
				border-color: purple;
				&:before {
					background-color: purple;
				}
			}
		}
		&.vc_toggle_color_inverted {
			.vc_toggle_title {
				.vc_toggle_icon {
					border-color: purple;
					color: purple;
					&:before {
						background-color: transparent;
					}
				}
			}
		}
	}
}

/*
------Video------*/
.g5plus-video, .g5plus-video.color-dark {
	a:hover {
		border-color: @accent_color;
		i {
			color: @accent_color;
		}
	}
}

/*-----------Contact Form-------------*/
.g5plus-contact-form {
	&.contact-us.row div{
		padding-left: 10px;
		padding-right: 10px;
	}
	input[type="text"], input[type="search"], input[type="email"], input[type="url"], input[type="password"], input[type="tel"], textarea, select {
		margin-bottom: 15px !important;
		width: 100%;
		max-width: 100%;
	}
	&.register {
		input[type="text"], input[type="search"], input[type="email"], input[type="url"], input[type="password"], input[type="tel"], textarea, select {
			margin-bottom: 10px !important;
			background-color: #fff;
		}
		input[type="submit"] {
			width: 100%;
		}
	}
	img {
		display: none;
	}
}

/*-----------Mailchimp-------------*/
.g5plus-mailchimp {
	position: relative;
	input[type="email"] {
		width: 90%;
		background: #fff;
		border-style: solid;
		border-width: 1px;
		border-color: @border_color;
	}
	input[type="text"] {
		display: none;
	}
	.subscribe, .subscribe-us, .subscribe-center {
		display: none;
	}
	.shop-now {
		position: absolute;
		top: 0;
		right: 0;
		&:hover {
			background-color: #fff;
		}
	}
}

.form-subscribe {
	.g5plus-mailchimp {
		input[type="email"] {
			width: 100%;
			border: none;
			box-shadow: 0px 0px 5px #D6D6D6;
		}
		input[type="text"] {
			display: none;
		}
		.shop-now, .subscribe-us, .subscribe-center {
			display: none;
		}
		.subscribe {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			color: @accent_color;
			background-color: #fff;
			&:hover {
				background-color: #fff;
				color: @text_color_bold;
				box-shadow: 0px 0px 5px #D6D6D6;
			}
		}
	}
	&.center {
		.g5plus-mailchimp {
			text-align: center;
			input[type="email"] {
				box-shadow: none;
				margin-bottom: 20px;
				text-align: center;
			}
			.shop-now, .subscribe-us, .subscribe {
				display: none;
			}
			.subscribe-center {
				display: inline;
			}
		}
	}
}

.form-subscribe-us {
	input[type="text"], input[type="email"] {
		min-width: 261px;
		background: transparent;
		display: inline-block;
		width: inherit;
		height: 50px;
		border-style: solid;
		border-width: 1px;
		.rgba-border(@border_color, 0.3);
		.placeholder(@border_color);
		color: #fff;
		margin-right: 6px;
		margin-bottom: 20px;
	}
	.shop-now, .subscribe, .subscribe-center {
		display: none;
	}
	.subscribe-us {
		display: inline-block;
		&:hover {
			color: @accent_color;
		}
	}
}

@media (max-width: 479px) {
	.g5plus-mailchimp {
		input[type="email"] {
			width: 100%;
		}
		.shop-now {
			position: absolute;
			top: 60px;
			right: 50%;
			transform: translate(50%, 0%);
			&:hover {
				background-color: #fff;
			}
		}
	}

	.form-subscribe-us {
		input[type="text"], input[type="email"] {
			width: 100%;
		}
	}
}

/*----------Count Down----------*/
.g5plus-countdown {
	.countdown-section {
		.countdown-value {
			color: @accent_color;
		}
		.countdown-text {
			font-family: @secondary_font;
			color: @text_color_bold;
		}
	}
	&.cd-vertical {
		.countdown-section + .countdown-section:before {
			color: @text_color_bold;
		}
	}
}

/*---------Counter-----------*/
.g5plus-counter.ct-light .ct-content .ct-value {
	color: @text_color_bold;
}

/*-----------Clients------------*/

.g5plus-clients .clients-columns .clients-item {
	border-color: @border_color;
}

@media (min-width: 992px) and (max-width: 1200px) {
	.g5plus-clients .clients-columns.columns-sm-3 .clients-item {
		&.no-border-top, &.no-border-right, &.no-border-bottom, &.no-border-left {
			border-color: @border_color;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.g5plus-clients {
		.clients-columns {
			&.columns-sm-3 .clients-item {
				&:nth-child(1), &:nth-child(2), &:nth-child(3) {
					border-bottom-color: @border_color;
				}
			}
			&.columns-sm-2 .clients-item {
				&:nth-child(1), &:nth-child(2) {
					border-bottom-color: @border_color;
				}
			}
		}
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.g5plus-clients {
		.clients-columns.columns-xs-2 .clients-item {
			&:nth-child(1), &:nth-child(2) {
				border-bottom-color: @border_color;
			}
		}
	}
}

@media (max-width: 479px) {
	.g5plus-clients .clients-columns.col-mb-12 .clients-item {
		border-bottom-color: @border_color !important;
	}
}

/*-------------Pricing Tables--------*/
.g5plus-pricing-tables {
	border-color: @border_color;
	.pricing-name {
		color: @text_color_bold;
	}
	.pricing-button {
		border-top-color: @border_color;
	}
	&.recommend .price-value {
		background-color: @accent_color;
	}
	&.prt_package {
		.pricing-name {
			border-bottom-color: @border_color;
		}
		&.features_box .pricing-features ul li {
			border-bottom-color: @border_color;
		}
	}
	&.features_box .pricing-features ul li {
		border-bottom-color: @border_color;
		.primary {
			color: @accent_color;
		}
	}
}

/*
-------------Testimonials----------------*/
.g5plus-testimonials {
	.testimonial-item {
		p {
			color: @text_color;
		}
		h4 {
			color: @text_color_bold;
		}
		span {
			color: @text_color_bold;
		}
	}
	&.tt_grid .testimonial-item {
		p {
			color: @text_color;
		}
		.info h4 {
			font-family: @secondary_font;
		}
	}
	&.tt_grid_bg {
		.testimonial-item {
			p {
				color: @text_color_bold;
			}
			&:hover {
				background-color: @accent_color;
			}
		}
	}
	&.color-dark {
		.testimonial-item {
			h4 {
				color: @accent_color;
			}
		}
	}
}

/*
------------MENU--------------*/
.g5plus-menu {
	h4, span {
		font-family: @secondary_font;
	}
	h4 span:after {
		border-bottom-color: @border_color;
	}
	p {
		color: @text_color;
	}
	&.menu-light {
		h4, span {
			color: @text_color_bold;
		}
		h4 span:after {
			border-bottom-color: @text_color_bold;
		}
	}
}

/*
--------------Feature Box-----------------*/
.g5plus-feature-box {
	.feature-content {
		a {
			font-family: @secondary_font;
		}
		p {
			color: @text_color;
		}
	}
	.feature-thumb a:hover i {
		color: @accent_color;
	}
}

/*
---------------Progress-------------*/
.g5plus-progress #progress_bar {
	background-color: @accent_color;
}

// View Demo
.g5plus-view-demo > a:hover {
	color: @accent_color;
}

/*
--------List-------*/
.g5plus-lists-color-primary {
	color: @accent_color;
}


// View Demo
.new-demo, .new-demo:before, .new-demo:after {
	background-color: @accent_color;
}
