body {
	line-height: 1.8;
	overflow-x: hidden;
	color: @text_color;
	position: relative;
	-webkit-font-smoothing: antialiased; //this is very important to make font weight on mac good
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	max-width: 100%;
}


a {
	color: inherit;
}

a,
a:focus,
a:hover {
	outline: none;
	text-decoration: none;
}

a:hover,
a:focus {
	color: @accent_color;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div, iframe, img {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.2;
	color: @text_color_bold;
	margin-top: 0;
	margin-bottom: 20px;
	letter-spacing: 0.02em;
}

p {
	margin: 0 0 20px 0;
}

input, textarea, button, select {
	outline: none;
}

::selection {
	color: @foreground_accent_color;
	background-color: @accent_color;
}

::-moz-selection {
	color: @foreground_accent_color;
	background-color: @accent_color;
}

.container {
	max-width: 100%;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="tel"],
textarea,
select {
	padding: 0 20px;
	height: 45px;
	line-height: 1;
	color: #aaa;
	border: 1px solid transparent;
	.transition03;
	.placeholder(#aaa);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #f7f7f7;
	vertical-align: top;
	&:focus {
		border-color:@accent_color;
	}
}

textarea {
	padding-top: 10px;
	height: auto;
}

select {
	min-width: 150px;
	max-width: 100%;
	outline: none;
}

select::-ms-expand {
	display: none;
}
#wrapper {
	background-color: #fff;
}
body.boxed #wrapper {
	max-width: 1200px;
	margin: auto;
	position: relative;
}

.container .container {
	width: auto;
}
/**
* Block Center
* ----------------------------------------------------------------------------
*/
.block-center:before {
	content: "";
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

.block-center {
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 0;
}

.block-center-inner {
	display: inline-block;
	margin: 0 auto;
	position: relative;
	vertical-align: middle;
	max-width: 100%;
	font-size: initial;
}

.block-center-inner > * {
	margin: auto;
}

/**
* Back To Top
* ----------------------------------------------------------------------------
*/
.back-to-top {
	.fixed;
	bottom: 10px;
	right: 10px;
	width: 44px;
	height: 44px;
	text-align: center;
	z-index: 2;
	.transform(translateX(100px));
	.transition05;
	color: #fff;
	background-color: @text_color;
	i {
		font-size: 22px;
		line-height: 44px;
	}
	&:focus,
	&:hover {
		text-decoration: none;
		color: @foreground_accent_color;
		background-color: @accent_color;
	}
}

.back-to-top.in {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

/**
* Site Loading
* ----------------------------------------------------------------------------
*/
.site-loading {
	.fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	opacity: 0;
	display: none;
	.transition(opacity 600ms ease 200ms);
}

body.page-loading .site-loading {
	opacity: 1;
	display: block;
}

.logo-loading {
	margin-bottom: 30px;
}
.scheme-dark {
	color: #fff;
}

/**
* Owl-Carousel
* ----------------------------------------------------------------------------
*/
.owl-dark {
	.owl-nav > div {
		border-color: rgba(255,255,255,0.8);
		color: rgba(255,255,255,0.8);
		&:hover {
			background-color: @accent_color;
			border-color: @accent_color;
			color: @foreground_accent_color;
		}
	}
}

.owl-nav {
	font-size: 0;
	text-align: center;
	margin-top: 20px;
	> div {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 40px;
		height: 40px;
		text-align: center;
		border:2px solid #ddd;
		color: #868686;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		.transition03();
		&.owl-prev {
			margin-right: 5px;
		}
		&.owl-next {
			margin-left: 5px;
		}
		i {
			line-height: 36px;
			font-size: 18px;
		}
		&:hover {
			background-color: @accent_color;
			border-color: @accent_color;
			color: @foreground_accent_color;
		}
	}
}

.owl-nav-round-large {
	> .owl-nav {
		> div {
			width: 60px;
			height: 60px;
			i {
				line-height: 56px;
				font-size: 20px;
			}
		}
	}
}

.owl-nav-classic {
	> .owl-nav {
		> div {
			border:none;
			color: #999;
			width: auto;
			height: auto;
			i {
				font-size: 30px;
				height: 20px;
				line-height: 20px;
			}
			&:hover {
				color: @accent_color;
				background-color: transparent;
			}
		}
	}
}



@media (min-width: 1280px) {
	.owl-nav-center {
		> .owl-nav {
			margin: 0;
			> div {
				position: absolute;
				top: 50%;
				margin: 0;
				&.owl-prev {
					left: -20px;
					.transform(translate(-100%,-50%););
				}

				&.owl-next {
					right: -20px;
					.transform(translate(100%,-50%););
				}
			}
		}
	}
}

.owl-nav-center-inner {
	> .owl-nav {
		margin: 0;
		> div {
			position: absolute;
			top: 50%;
			margin: 0;
			.transform(translateY(-50%));
			.transition03;
			opacity: 0;
			&.owl-prev {
				left: 0;
			}
			&.owl-next {
				right: 0;
			}
		}
	}
	&:hover {
		> .owl-nav {
			 > div {
				 opacity: 1;
				 &.owl-prev {
					 left: 20px;
				 }
				 &.owl-next {
					 right: 20px;
				 }
			 }
		}
	}
}

.owl-nav-top-68,
.owl-nav-top {
	> .owl-nav {
		margin: 0;
		position: absolute;

		right:0;
		.transform(translateY(-100%));
	}

}

.owl-nav-top {
	> .owl-nav {
		top: -83.5px;
	}
	&.owl-nav-round-large {
		> .owl-nav {
			top: -73.5px;
		}
	}
	&.owl-nav-classic {
		> .owl-nav {
			top: -93.5px;
		}
	}
}

.owl-nav-top-68 {
	> .owl-nav {
		top: -67.5px;
	}

	&.owl-nav-round-large {
		> .owl-nav {
			top: -57.5px;
		}
	}
	&.owl-nav-classic {
		> .owl-nav {
			top: -77.5px;
		}
	}

}



.owl-dots {
	font-size: 0;
	text-align: center;
	margin-top: 20px;
	> div {
		display: inline-block;
		vertical-align: middle;
		width: 8px;
		height: 8px;
		background-color: #eee;
		.border-radius(100%);
		.transition03();
		margin: 0 5px;
		&.active,
		&:hover {
			background-color: #ccc;
		}
	}
}


.owl-dot-absolute-bottom {
	> .owl-dots {
		position: absolute;
		margin: 0;
		bottom: 10px;
		.transform(translateX(-50%));
		left: 50%;
		white-space: nowrap;
	}
}

.owl-dot-vertical {
	> .owl-dots {
		position: absolute;
		margin-top: 0;
		top: 50%;
		right: 30px;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		> div {
			display: block;
			margin: 5px 0;
		}
	}
}

.product-listing {
	.owl-nav-top-68,
	.owl-nav-top {
		> .owl-nav {
			right: 15px;
		}
	}
}

@media (max-width: 480px) {
	.owl-nav-top-68,
	.owl-nav-top {
		> .owl-nav {
			display: none !important;
		}
	}
}
//==============================================================================
// SEARCH STANDARD
//==============================================================================
#search_popup_wrapper {
	.dialog-inner {
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 40px;
	}

	form {
		margin: 10px 0;
		position: relative;
	}
}

.popup-overlay-wrapper {
	position: absolute;
	z-index: 9999;
	background-color: rgba(20, 22, 24, 0.95);
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	padding-bottom: 80px;
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s 0.5s, visibility 0s 1s;
	transition: opacity 0.5s 0.5s, visibility 0s 1s;
	&.in {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
		.popup-overlay-content {
			opacity: 1;
			-webkit-transform: translateY(0px);
			transform: translateY(0px);
			-webkit-transition: -webkit-transform .5s .2s, opacity .5s .2s;
			transition: transform .5s .8s, opacity .5s .8s;
		}
	}
}
.popup-overlay-content {
	margin: 80px auto 0;
	width: 80%;
	position: relative;
	font-size: 20px;
	opacity: 0;
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	-webkit-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
	-moz-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
	-o-animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
	animation-timing-function: cubic-bezier(0.45, 0.005, 0, 1);
	input {
		border: solid 2px #FFF;
		padding: 1em;
		height: auto;
		color: #fff;
		width: 100%;
		background-color: transparent;
		.placeholder(#eee);
	}
	.search-button {
		position: absolute;
		top: 22px;
		right: 30px;
		color: #fff;
		line-height: 1;
		&:hover {
			cursor: pointer;
			color: @accent_color;
		}
	}
}
.popup-overlay-result {
	color: #fff;
	background-color: #343537;
	padding: 0;
	font-size: 16px;
	line-height: 2em;
	ul {
		padding: 15px 0;
		margin: 0;
		list-style: none;
	}
	li {
		padding: 5px 30px;
		&.selected,
		&:hover {
			color: @accent_color;
		}
	}
	li + li {
		border-top: solid 1px rgba(255,255,255,0.1);
	}
	a {
		color: inherit;
	}
	.date {
		display: inline-block;
		float: right;
	}
	.view-more {
		position: absolute;
		background: #343537;
		left: 0;
		right: 0;
		text-align: center;
		padding: 5px;
		-webkit-border-radius: 0 0 100% 100%;
		-moz-border-radius: 0 0 100% 100%;
		border-radius: 0 0 100% 100%;
		margin: auto;
		border-top: solid 1px rgba(255,255,255,0.1);
		text-transform: uppercase;
	}
}

//==============================================================================
// Perfect Scroll
//==============================================================================
.ps-container>.ps-scrollbar-y-rail {
	width: 3px;
	right: 5px;
	background-color: #222!important;
}
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
	width: 5px;
	right: -1px;
	background-color: @accent_color!important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.ps-container:hover > .ps-scrollbar-y-rail {
	opacity: 0.6!important;
}

//==============================================================================
// Preset content page
//==============================================================================
.gf-preset-content-wrapper {
	background: url(assets/images/preset-bg.jpg) repeat;
	padding: 150px 0;
	text-align: center;
	font-size: 60px;
	color: #222;
	border: dashed 8px #222;
}

//==============================================================================
// Toggle icon
//==============================================================================
.toggle-icon-wrapper {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.toggle-icon {
		display: inline-block;
		height: 30px;
		position: relative;
		vertical-align: middle;
		width: 24px;
		> span {
			background: none repeat scroll 0 0 #000;
			bottom: 0;
			display: block;
			height: 2px;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
		}

		&:after,
		&:before {
			background-color: #000;
			content: "";
			height: 2px;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			width: 100%;
		}
		&:before {
			top: 20%;
			-webkit-transform-origin: top left;
			-moz-transform-origin: top left;
			-ms-transform-origin: top left;
			-o-transform-origin: top left;
			transform-origin: top left;
		}
		&:after {
			bottom: 20%;
			-webkit-transform-origin: bottom left;
			-moz-transform-origin: bottom left;
			-ms-transform-origin: bottom left;
			-o-transform-origin: bottom left;
			transform-origin: bottom left;
		}
	}
	+ span {
		vertical-align: middle;
		text-transform: uppercase;
	}

	&.in {
		.toggle-icon {
			span {
				opacity: 0;
			}
			&:before {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:after {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}
}

//==============================================================================
// Transition
//==============================================================================
.x-nav-menu > .x-menu-item > .x-menu-a-text,
.sticky-region,
.logo-header,
.x-nav-menu > .x-menu-item,
.header-customize-nav,
.header-3 .header-wrapper .container-inner,
.header-nav-wrapper nav.primary-menu,
.header-nav-wrapper .product-text,
.popup-overlay-result a,
.toggle-icon-wrapper .toggle-icon > span,
.toggle-icon-wrapper .toggle-icon:before,
.toggle-icon-wrapper .toggle-icon:after,
.sticky-region .header-mobile-container-inner > div,
b.x-caret,
.menu-drop-fly,
.top-drawer-toggle,
.header-above-inner,
.logo-header img,
.x-sub-menu-tab > .x-menu-item,
.x-sub-menu-tab > li.x-menu-active > ul.x-sub-menu {
	.transition03();
}
/*
----------- Other --------------*/
.logged-in.admin-bar {
	.lg-toolbar {
		margin-top: 32px;
	}
}
.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover{
	border-color: @accent_color;
}

/*
-----------Page 404------------*/

.page404 {
	background-size: cover;
	position: relative;
	.bg-404 {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: contain;
	}
	.container{
		position: relative;
		.content-wrap {
			text-align: center;
			h2 {
				font-family: @secondary_font;
				font-size: 180px;
				font-weight: 700;
				line-height: 1.2;
				display: inline-block;
				color: @accent_color;
				margin-bottom: -15px;
			}
			h4.subtitle {
				font-size: 50px;
				font-weight: bold;
				line-height: 1.2;
				color: @text_color_bold;
				margin-bottom: 5px;
			}
			p.description{
				font-size: 18px;
				line-height: 1.8;
				letter-spacing: 0.05em;
				color: @text_color;
				max-width: 610px;
				margin: auto;
				margin-bottom: 17px;
			}
			a{
				color: @accent_color;
				&:hover{
					color: #fff;
				}
			}
		}
	}
}

/*   SEARCH PAGE */
.archive-search-wrap {
	.archive-search-result h3 {
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		border-bottom: 1px solid #eaeaea;
		padding-bottom: 20px;
		margin-bottom: 40px;
	}
	.archive-search-box {
		padding-bottom: 50px;
		border-bottom: 1px solid #eaeaea;
		.search-form-lg input {
			font-family: inherit;
			line-height: 50px;
		}
	}
	.archive-search-wrap-inner {
		article {
			margin-top: 50px;
			padding-bottom: 50px;
			border-bottom: 1px solid #eaeaea;
			position: relative;
			&:after {
				position: absolute;
				bottom: -1px;
				width: 0;
				height: 2px;
				content: '';
				display: block;
				.transition05();
				background-color: @accent_color;
			}
			&:hover {
				&:after {
					width: 100%;
				}
				.search-icon {
					span, span:after, span:before {
						background-color: @accent_color;
					}
				}
			}
		}
		.search-icon {
			width: 50px;
			height: 50px;
			.border-radius(4px);
			background-color: #eaeaea;
			text-align: center;
			float: left;
			span {
				width: 20px;
				height: 1px;
				vertical-align: middle;
				background-color: @text_color_bold;
				display: block;
				position: relative;
				margin-left: 15px;
				line-height: 50px;
				margin-top: 24.5px;
				.transition(all 0.5s);
				&:after, &:before {
					content: '';
					display: block;
					width: 20px;
					height: 1px;
					background-color: @text_color_bold;
					position: absolute;
					.transition(all 0.5s);
				}
				&:after {
					bottom: 5px;
				}
				&:before {
					top: 5px;
				}
			}
		}
		.search-entry-content-wrap {
			padding-left: 70px;
			h4 {
				margin-bottom: 10px;
				a {
					.transition(all 0.3s);
					color: @text_color_bold;
					display: inline-block;
					&:hover {
						color: @accent_color;
					}
				}
			}
			.search-entry-post-type {
				margin-bottom: 0;
				color: @accent_color;
				font-style: italic;
				letter-spacing: 0.1em;
			}
			.search-entry-excerpt {
				margin-top: 25px;
				p {
					margin-bottom: 0;
				}
			}
		}
	}

	.search-entry-meta-date {
		color: #BBB;
		font-size: 15px;
		margin-bottom: 15px;
		i {
			font-size: 16px;
			margin-right: 5px;
		}
	}
}

/* End Search Page */

@media screen and (max-width: 460px){
	.search-popup-inner {
		> input {
			display: block;
			width: 100%;
			margin-top: 10px;
		}
		> button {
			margin-top: 10px;
			width: 100%;
			display: block;
		}
	}
}

.block-title {
	font-family: @secondary_font;
	font-size: 20px;
	color: @text_color_bold;
	font-weight: bold;
	margin-bottom: 45px !important;
	line-height: 1.2;
	position: relative;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	border-bottom: 1px solid @border_color;
	padding-bottom: 30px;
}


.close-button {
	position: absolute;
	top: 1em;
	right: 1em;
	color:#fff;
	font-size: 20px;
	&:hover {
		color: #fff;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}

.top-separate {
	position: relative;
	padding-top: 35px;

	&:before {
		content: "";
		height: 2px;
		width: 110px;
		background: @accent_color;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}

.popup-close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	.border-radius(5px);
	background-color: @border_color;
	font-size: 16px;
	z-index: 1;
}

/**
* Columns
* ----------------------------------------------------------------------------
*/

.gf-item-wrap {
	width: 100%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.gf-item-wrap-no-padding {
	padding-left: 0;
	padding-right: 0;
}
@media (min-width: 1200px) {
	.columns-2 {
		> .gf-item-wrap {
			width: 50%;
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}
	.columns-3 {
		> .gf-item-wrap {
			width: 33.33333333%;
			&:nth-child(3n+1) {
				clear: both;
			}
		}
	}
	.columns-4 {
		> .gf-item-wrap {
			width: 25%;
			&:nth-child(4n+1) {
				clear: both;
			}
		}
	}
	.columns-5 {
		> .gf-item-wrap {
			width: 20%;
			&:nth-child(5n+1) {
				clear: both;
			}
		}
	}
	.columns-6 {
		> .gf-item-wrap {
			width: 16.66666666666667%;
			&:nth-child(6n+1) {
				clear: both;
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.columns-md-2 {
		> .gf-item-wrap {
			width: 50%;
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}
	.columns-md-3 {
		> .gf-item-wrap {
			width: 33.33333333%;
			&:nth-child(3n+1) {
				clear: both;
			}
		}
	}
	.columns-md-4 {
		> .gf-item-wrap {
			width: 25%;
			&:nth-child(4n+1) {
				clear: both;
			}
		}
	}
	.columns-md-5 {
		> .gf-item-wrap {
			width: 20%;
			&:nth-child(5n+1) {
				clear: both;
			}
		}
	}
	.columns-md-6 {
		> .gf-item-wrap {
			width: 16.66666666666667%;
			&:nth-child(6n+1) {
				clear: both;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.columns-sm-2 {
		> .gf-item-wrap {
			width: 50%;
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}
	.columns-sm-3 {
		> .gf-item-wrap {
			width: 33.33333333%;
			&:nth-child(3n+1) {
				clear: both;
			}
		}
	}
	.columns-sm-4 {
		> .gf-item-wrap {
			width: 25%;
			&:nth-child(4n+1) {
				clear: both;
			}
		}
	}
	.columns-sm-5 {
		> .gf-item-wrap {
			width: 20%;
			&:nth-child(5n+1) {
				clear: both;
			}
		}
	}
	.columns-sm-6 {
		> .gf-item-wrap {
			width: 16.66666666666667%;
			&:nth-child(6n+1) {
				clear: both;
			}
		}
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.columns-xs-2 {
		> .gf-item-wrap {
			width: 50%;
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}
	.columns-xs-3 {
		> .gf-item-wrap {
			width: 33.33333333%;
			&:nth-child(3n+1) {
				clear: both;
			}
		}
	}
	.columns-xs-4 {
		> .gf-item-wrap {
			width: 25%;
			&:nth-child(4n+1) {
				clear: both;
			}
		}
	}
	.columns-xs-5 {
		> .gf-item-wrap {
			width: 20%;
			&:nth-child(5n+1) {
				clear: both;
			}
		}
	}
	.columns-xs-6 {
		> .gf-item-wrap {
			width: 16.66666666666667%;
			&:nth-child(6n+1) {
				clear: both;
			}
		}
	}
}

@media (max-width: 480px) {
	.columns-mb-2 {
		> .gf-item-wrap {
			width: 50%;
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}
	.columns-mb-3 {
		> .gf-item-wrap {
			width: 33.33333333%;
			&:nth-child(3n+1) {
				clear: both;
			}
		}
	}
	.columns-mb-4 {
		> .gf-item-wrap {
			width: 25%;
			&:nth-child(4n+1) {
				clear: both;
			}
		}
	}
	.columns-mb-5 {
		> .gf-item-wrap {
			width: 20%;
			&:nth-child(5n+1) {
				clear: both;
			}
		}
	}
	.columns-mb-6 {
		> .gf-item-wrap {
			width: 16.66666666666667%;
			&:nth-child(6n+1) {
				clear: both;
			}
		}
	}
}
