.top-drawer-wrapper {
	background-color: @top_drawer_bg_color;
	color: @top_drawer_text_color;
	line-height: 2em;
	position: relative;

	.widget {
		margin-bottom: 0;
	}
	.top-drawer-toggle {
		position: absolute;
		right: 0;
		top: 0;
		background-color: @accent_color;
		border-top: solid 2px rgba(0,0,0,0.2);
		padding: 7px;
		color: #fff;
		font-size: 10px;
		line-height: 1;
		cursor: pointer;
		opacity: 0.7;
	}
	&.in .top-drawer-toggle,
	&:hover .top-drawer-toggle {
		opacity: 1;
	}
	&.in .top-drawer-toggle {
		> i:before{
			content: "\f068";
		}
	}


	/**
	* Archive, categories, nav_menu
	* ----------------------------------------------------------------------------
	*/
	.widget-title {
		color: @top_drawer_text_color;
	}


	.widget_meta,
	.widget_archive,
	.widget_categories,
	.widget_nav_menu,
	.widget_pages,
	.widget_product_categories,
	.widget_recent_entries {
		li {
			color: @top_drawer_text_color;
		}

		li + li {
			border-color: @top_drawer_border_color;
		}
		ul ul {
			border-color: @top_drawer_border_color;
		}
	}

	.widget_recent_comments,
	.widget_rss {
		li + li {
			border-color: @top_drawer_border_color;
		}
	}

	/**
	* Calendar
	* ----------------------------------------------------------------------------
	*/
	.widget_calendar {
		.calendar_wrap caption{
			color: @top_drawer_text_color_lighten;
		}
		#wp-calendar {
			width: 100%;
			th {
				background-color: @top_drawer_border_color;
			}
			tbody td, th {
				border-color: @top_drawer_border_color;
			}
			tfoot td {
				color: @top_drawer_text_color;
			}
		}
	}

	/**
	* G5Plus:Posts
	* ----------------------------------------------------------------------------
	*/
	.widget-posts {
		li + li {
			border-color: @top_drawer_border_color;
		}
		.entry-post-title {
			color: @top_drawer_text_color_lighten;
		}
	}

	/**
	* Tag Clound
	* ----------------------------------------------------------------------------
	*/
	.tagcloud {
		a {
			color: @top_drawer_text_color;
			border-color: @top_drawer_border_color;
		}
	}

	/**
	* Product
	* ----------------------------------------------------------------------------
	*/
	.woocommerce ul.product_list_widget {
		li {
			border-color: @top_drawer_border_color;
		}
		li a {
			color: @top_drawer_text_color_lighten;
		}

		span.reviewer {
			color: @top_drawer_text_color_lighten;
		}
	}

	ul.widget-social-profiles {
		i {
			font-size: 12px;
		}
	}

	.widget-info-box {
		li > i {
			color: @top_drawer_text_color_lighten;
		}
	}


}
.top-drawer-inner {
	padding-top: @top_drawer_padding_top;
	padding-bottom: @top_drawer_padding_bottom;
}
.top-drawer-type-toggle {
	.top-drawer-inner {
		display: none;
	}
}
@media screen and (max-width: @responsive_breakpoint){
	.top-drawer-mobile-invisible {
		display: none;
	}
}