/*
* Accordions
* ----------------------------------------------------------------------------
*/

.wpb-js-composer .vc_tta.vc_general .vc_tta-title-text:not(:empty):not(:first-child), .vc_tta.vc_general .vc_tta-title-text:not(:empty)~*{
	margin-left: 40px;
}
.wpb-js-composer .vc_tta-color-grey.vc_tta {
	.vc_tta-panel {
		.vc_tta-panel-heading {
			border-color: #ddd;
			background-color: #eee;
			&:focus,
			&:hover {
				background-color: #ddd;
			}

			.vc_tta-controls-icon {
				&:after,
				&:before {
					border-color: #ddd;
				}
			}
		}

		.vc_tta-panel-title > a {
			color: #ccc;
		}

		&.vc_active {
			.vc_tta-panel-heading {
				border-color: #ddd;
				background-color: #eee;
			}

			.vc_tta-panel-title > a {
				color: #444;
			}

			.vc_tta-controls-icon {
				&:after,
				&:before {
					border-color: #ddd;
				}
			}

		}

		.vc_tta-panel-body {
			background-color: #eee;
			border-color: #ddd;
			&:after,
			&:before {
				border-color: #ddd;
			}
		}
	}
	.vc_tta-tab {
		> a {
			border-color: #ddd;
			background-color: #eee;
			color: #444;
			&:focus,
			&:hover {
				background-color: #dcdcdc;
			}
		}
		&.vc_active {
			> a {
				border-color: #ddd;
				background-color: #eee;
				color: #444;
			}
		}
	}

	&.vc_tta-style-flat {
		.vc_tta-tab {
			> a {
				border-color: transparent;
			}
			&.vc_active {
				> a {
					border-color: transparent;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.wpb-js-composer .vc_tta-color-grey.vc_tta.vc_tta-tabs {
		.vc_tta-panels {
			background-color: #eee;
			border-color: #ddd;
			&:after,
			&:before {
				border-color: #ddd;
			}
			.vc_tta-panel-body {
				border-color: transparent;
				background-color: transparent;
			}
		}
	}
}

.wpb-js-composer .vc_tta-color-primary.vc_tta {
	.vc_tta-panel {
		.vc_tta-panel-heading {
			border-color: @accent_color;
			background-color: @accent_color;
			&:focus,
			&:hover {
				background-color: #444;
				border-color: #444;
			}

			.vc_tta-controls-icon {
				&:after,
				&:before {
					border-color: #fff;
				}
			}
		}

		.vc_tta-panel-title > a {
			color: #fff;
		}

		&.vc_active {
			.vc_tta-panel-heading {
				border-color: #444;
				background-color: #444;
			}
		}

		.vc_tta-panel-body {
			background-color: #f8f8f8;
			border-color: #f0f0f0;
			&:after,
			&:before {
				border-color: #f0f0f0;
			}
		}
	}

	&.vc_tta-style-flat {
		.vc_tta-panel {
			&.vc_active {
				.vc_tta-panel-heading {
					border-color: @accent_color;
					background-color: @accent_color;
				}
			}

			.vc_tta-panel-body {
				background-color: @accent_color;
				border-color: @accent_color;
				&:after,
				&:before {
					border-color: @accent_color;
				}
			}
		}
		&:not(.vc_tta-o-no-fill) {
			.vc_tta-panel {
				.vc_tta-panel-body {
					color: #fff;
				}
			}
		}
	}

	&.vc_tta-style-outline {
		.vc_tta-panel {
			.vc_tta-panel-heading {
				&:focus,
				&:hover {
					background-color: @accent_color;
					border-color: @accent_color;
				}
				.vc_tta-controls-icon {
					&:after,
					&:before {
						border-color: @accent_color;
					}
				}
			}

			.vc_tta-panel-title > a {
				color: @accent_color;
			}
			.vc_tta-panel-title > a:hover {
				color: #333;
			}

			&.vc_active {
				.vc_tta-panel-heading {
					border-color: @accent_color;
					background-color: @accent_color;
				}
			}

			.vc_tta-panel-body {
				border-color: @accent_color;
				&:after,
				&:before {
					border-color: @accent_color;
				}
			}
		}
	}
	&.vc_tta-no-fill-color{
		.vc_tta-panel {
			.vc_tta-panel-heading {
				border-color: #eee;
				background-color: #F7F7F7;
				&:focus,
				&:hover {
					background-color: @accent_color;
					border-color: @accent_color;
				}

				.vc_tta-controls-icon {
					&:after,
					&:before {
						border-color: #333;
					}
				}
			}

			.vc_tta-panel-title > a {
				color: #333;
			}

			&.vc_active {
				.vc_tta-panel-heading {
					border-color: @accent_color;
					background-color: @accent_color;
					.vc_tta-controls-icon {
						&:after,
						&:before {
							border-color: #fff;
						}
					}
				}
			}

			.vc_tta-panel-body {
				background-color: transparent;
				border-color: transparent;
			&:after,
			&:before {
				border-color: #f0f0f0;
			}
				color: #858585;
			}
		}

	}
}

.wpb-js-composer .vc_tta.vc_tta-accordion {
	.vc_tta-panel{
		margin-top: 1px;
	}
	.vc_tta-panel-title{
		line-height: 1.7;
		font-size: 14px;
		font-family: Lato;
		>a{
			padding: 17px 20px;
		}
		.vc_tta-icon {
			font-size: 24px;
			position: relative;
			top: 14px;
			float: left;
		}
	}
	.vc_tta-controls-icon-plus {
		width: 8px;
		height: 8px;
	}
	.vc_tta-controls-icon-position-left.vc_tta-panel-title > a {
		padding-left: 40px;
	}
	.vc_tta-controls-icon-position-right.vc_tta-panel-title > a {
		padding-left: 40px;
	}
}

.wpb-js-composer .vc_tta-accordion {
	.vc_tta-panel-body {
		color: @text_color_light;
	}

	&.vc_tta-o-no-fill .vc_tta-panel .vc_tta-panel-body {
		padding-left: 0;
		padding-right: 0;
	}

	&.vc_tta-style-classic {
		.vc_tta-panel .vc_tta-panel-body {
			background-color: transparent;
		}

		&.vc_tta-shape-rounded.vc_tta-o-no-fill {
			.vc_tta-panel-heading {
				.border-radius(5px) !important;
			}
		}
	}

	&.vc_tta-style-outline {
		.vc_tta-panel .vc_tta-panel-heading {
			background-color: transparent !important;
			&:hover,
			&:focus {
				color: inherit;
				.vc_tta-controls-icon::after,
				.vc_tta-controls-icon::before {
					border-color: inherit;
				}
			}
		}

		.vc_tta-panel .vc_tta-panel-title > a:hover {
			color: @accent_color;
		}
		.vc_tta-panel.vc_active .vc_tta-panel-title > a {
			color: @accent_color;
		}

		.vc_tta-panel-body,
		.vc_tta-panel-heading,
		.vc_tta-tab > a {
			border-width: 1px;
		}

		.vc_tta-panel .vc_tta-panel-body {
			background-color: transparent;
			color: #858585;
			margin-top: 1px;
		}
		&.vc_tta-spacing-0 .vc_tta-panel-body{
			border-top: none;
		}
		&.vc_tta-o-no-fill {
			.vc_tta-panel .vc_tta-panel-heading {
				border-left: none;
				border-right: none;
				.border-radius(0px) !important;

			}

		}

	}

	&.vc_tta-no-fill-color {
		.vc_tta-panel .vc_tta-panel-body,
		.vc_tta-panel .vc_tta-panel-heading {
			background-color: transparent;
		}

		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				.vc_tta-panel-title > a {
					color: #fff;
				}
				.vc_tta-controls-icon {
					&:after,
					&:before {
						border-color: #fff;
					}
				}
			}
		}

		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				.vc_tta-panel-title > a {
					color: #fff;
				}
				.vc_tta-controls-icon {
					&:after,
					&:before {
						border-color: #fff;
					}
				}
			}
		}
	}
}

.wpb-js-composer .vc_tta-accordion.vc_tta-style-classic:not(.vc_tta-no-fill-color) {

	&.vc_tta-color-blue,
	&.vc_tta-color-purple,
	&.vc_tta-color-sandy-brown,
	&.vc_tta-color-juicy-pink,
	&.vc_tta-color-green,
	&.vc_tta-color-sky,
	&.vc_tta-color-orange,
	&.vc_tta-color-vista-blue,
	&.vc_tta-color-mulled-wine,
	&.vc_tta-color-chino,
	&.vc_tta-color-peacoc,
	&.vc_tta-color-violet,
	&.vc_tta-color-turquoise,
	&.vc_tta-color-pink {
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #444;
				border-color: #444;
				.vc_tta-controls-icon {
					&:after,
					&:before {
						border-color: #fff;
					}

				}
			}
			.vc_tta-panel-title > a {
				color: #fff;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading:hover {
			background-color: #444;
			border-color: #444;
			.vc_tta-controls-icon {
				&:after,
				&:before {
					border-color: #fff;
				}
			}
			.vc_tta-panel-title > a {
				color: #fff;
			}
		}
	}
}

.wpb-js-composer .vc_tta-no-fill-color {

	&.vc_tta-color-blue {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #4868cf;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #4868cf;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #4868cf;
				border-color: #4868cf;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #4868cf;
				border-color: #4868cf;
			}
		}
	}

	&.vc_tta-color-turquoise {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #00C1CF;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #00C1CF;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #00C1CF;
				border-color: #00C1CF;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #00C1CF;
				border-color: #00C1CF;
			}
		}
	}

	&.vc_tta-color-pink {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #FE6C61;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #FE6C61;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #FE6C61;
				border-color: #FE6C61;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #FE6C61;
				border-color: #FE6C61;
			}
		}
	}

	&.vc_tta-color-violet {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #8D6DC4;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #8D6DC4;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #8D6DC4;
				border-color: #8D6DC4;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #8D6DC4;
				border-color: #8D6DC4;
			}
		}
	}

	&.vc_tta-color-peacoc {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #4CADC9;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #4CADC9;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #4CADC9;
				border-color: #4CADC9;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #4CADC9;
				border-color: #4CADC9;
			}
		}
	}

	&.vc_tta-color-chino {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #CEC2AB;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #CEC2AB;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #CEC2AB;
				border-color: #CEC2AB;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #CEC2AB;
				border-color: #CEC2AB;
			}
		}
	}

	&.vc_tta-color-mulled-wine {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #50485B;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #50485B;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #50485B;
				border-color: #50485B;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #50485B;
				border-color: #50485B;
			}
		}
	}

	&.vc_tta-color-vista-blue {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #75D69C;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #75D69C;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #75D69C;
				border-color: #75D69C;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #75D69C;
				border-color: #75D69C;
			}
		}
	}

	&.vc_tta-color-vista-black {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #2A2A2A;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #2A2A2A;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #2A2A2A;
				border-color: #2A2A2A;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #2A2A2A;
				border-color: #2A2A2A;
			}
		}
	}

	&.vc_tta-color-grey {
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: @accent_color;
				border-color: @accent_color;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: @accent_color;
				border-color: @accent_color;
			}
		}
	}

	&.vc_tta-color-orange {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #F7BE68;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #F7BE68;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #F7BE68;
				border-color: #F7BE68;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #F7BE68;
				border-color: #F7BE68;
			}
		}
	}

	&.vc_tta-color-sky {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #5AA1E3;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #5AA1E3;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #5AA1E3;
				border-color: #5AA1E3;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #5AA1E3;
				border-color: #5AA1E3;
			}
		}
	}

	&.vc_tta-color-green {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #6DAB3C;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #6DAB3C;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #6DAB3C;
				border-color: #6DAB3C;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #6DAB3C;
				border-color: #6DAB3C;
			}
		}
	}

	&.vc_tta-color-juicy-pink {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #F4524D;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #F4524D;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #F4524D;
				border-color: #F4524D;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #F4524D;
				border-color: #F4524D;
			}
		}
	}

	&.vc_tta-color-sandy-brown {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #F79468;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #F79468;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #F79468;
				border-color: #F79468;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #F79468;
				border-color: #F79468;
			}
		}
	}

	&.vc_tta-color-purple {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #B97EBB;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #B97EBB;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: #B97EBB;
				border-color: #B97EBB;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: #B97EBB;
				border-color: #B97EBB;
			}
		}
	}

	&.vc_tta-color-white {
		.vc_tta-panel .vc_tta-panel-title > a {
			color: #FFF;
		}
		.vc_tta-controls-icon {
			&:after,
			&:before {
				border-color: #FFF;
			}
		}
		.vc_tta-panel .vc_tta-panel-heading {
			&:focus,
			&:hover {
				background-color: @accent_color;
				border-color: @accent_color;
			}
		}
		.vc_tta-panel.vc_active {
			.vc_tta-panel-heading {
				background-color: @accent_color;
				border-color: @accent_color;
			}
		}
	}
}

.wpb-js-composer .vc_tta.vc_tta-o-no-fill .vc_tta-panels .vc_tta-panel-body {
	border-color: transparent !important;
	background-color: transparent !important;
	color: inherit;
}

/*
*
* Tabs
* ----------------------------------------------------------------------------
*/

.wpb-js-composer .vc_tta.vc_tta-tabs.vc_general{
	.vc_tta-tab>a{
		font-family: @secondary_font;
		font-weight: bold;
		color: @text_color_bold;
		font-size: 14px;
	}
}
.wpb-js-composer .vc_general.vc_tta.vc_tta-tabs.vc_tta-style-classic{
	&.vc_tta-color-white .vc_tta-panels .vc_tta-panel-body{
		background-color: white;
		padding: 0px 30px;
	}
	.vc_tta-tab {
		> a {
			border-left: none;
			border-right: none;
			&:hover{
				background-color: @accent_color;
				border-color: @accent_color;
				color: #fff;
			}
		}
		&.vc_active > a {
			background-color: @accent_color;
			border-color: @accent_color;
			color: #fff;
		}
	}
	&.vc_tta-shape-none{
		.vc_tta-tab {
			> a {
				background-color: transparent;
				color: @text_color;
				font-family: @body_font;
				border: none;
				&:hover{
					color: @accent_color;
				}
			}
			&.vc_active > a {
				color: @accent_color;
			}
		}
		.vc_tta-panels .vc_tta-panel-body{
			background-color: white;
			border: none;
			padding: 0;
		}
	}
}
.wpb-js-composer .vc_tta.vc_tta-tabs.vc_general.vc_tta-style-border-top-active{
	.vc_tta-tabs-list .vc_tta-tab{
		a{
			border: solid 1px @border_color;
			background-color: #F7F7F7;
			border-bottom: transparent;
		}
		&.vc_active a{
			border-top-width: 2px;
			color: @text_color_bold;
			top: 1px;
			&:after,&:before{
				border-top-color: transparent;
			}
		}
	}
	.vc_tta-panels-container{
		.vc_tta-panel-body{
			border-color: @border_color !important;
			background-color: #fff;
			border-width: 1px;
			padding: 52px 37px;
		}
	}
	&.vc_tta-color-primary{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: @accent_color;
		}
	}
	&.vc_tta-color-blue{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: #0000ff;
		}
	}
	&.vc_tta-color-turquoise{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: turquoise;
		}
	}
	&.vc_tta-color-pink{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: pink;
		}
	}
	&.vc_tta-color-violet{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: violet;
		}
	}
	&.vc_tta-color-peacoc{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: #4CADC9;
		}
	}
	&.vc_tta-color-chino{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: #CEC2AB;
		}
	}
	&.vc_tta-color-mulled_wine{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: #50485B;
		}
	}
	&.vc_tta-color-vista_blue{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: #75D69C;
		}
	}
	&.vc_tta-color-black{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: #000;
		}
	}
	&.vc_tta-color-grey{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: #808080;
		}
	}
	&.vc_tta-color-orange{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: orange;
		}
	}
	&.vc_tta-color-sky{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: #5AA1E3;
		}
	}
	&.vc_tta-color-green{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: green;
		}
	}
	&.vc_tta-color-juicy_pink{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: #F4524D;
		}
	}
	&.vc_tta-color-sandy_brown{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: #F4524D;;
		}
	}
	&.vc_tta-color-purple{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: purple;
		}
	}
	&.vc_tta-color-white{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			border-top-color: @text_color_bold;
		}
	}
}
.wpb-js-composer .vc_tta.vc_general.vc_tta-tabs.vc_tta-style-vertical-bar {
	.vc_tta-tabs-list .vc_tta-tab{
		a{
			border: none;
			border-right: solid 1px @border_color;
			padding: 0 15px 0 25px;
		}
		&:last-child a{
			border: none;
		}
		&:first-child a{
			padding-left: 0;
		}
	}
	.vc_tta-panels-container{
		.vc_tta-panel-body{
			border: none;
			background-color: #fff;
			padding: 22px 0;
		}
	}
	&.vc_tta-color-primary{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: @accent_color;
		}
	}
	&.vc_tta-color-blue{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: #0000ff;
		}
	}
	&.vc_tta-color-turquoise{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: turquoise;
		}
	}
	&.vc_tta-color-pink{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: pink;
		}
	}
	&.vc_tta-color-violet{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: violet;
		}
	}
	&.vc_tta-color-peacoc{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: #4CADC9;
		}
	}
	&.vc_tta-color-chino{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: #CEC2AB;
		}
	}
	&.vc_tta-color-mulled_wine{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: #50485B;
		}
	}
	&.vc_tta-color-vista_blue{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: #75D69C;
		}
	}
	&.vc_tta-color-black{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: #000;
		}
	}
	&.vc_tta-color-grey{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: #808080;
		}
	}
	&.vc_tta-color-orange{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: orange;
		}
	}
	&.vc_tta-color-sky{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: #5AA1E3;
		}
	}
	&.vc_tta-color-green{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: green;
		}
	}
	&.vc_tta-color-juicy_pink{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: #F4524D;
		}
	}
	&.vc_tta-color-sandy_brown{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: #F4524D;;
		}
	}
	&.vc_tta-color-purple{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: purple;
		}
	}
	&.vc_tta-color-white{
		.vc_tta-tabs-list .vc_tta-tab.vc_active a{
			color: @text_color_bold;
		}
	}
}
.wpb-js-composer .vc_tta.vc_general.vc_tta-style-flat.vc_tta-tabs{
	&.vc_tta-color-primary{
		.vc_tta-panels,.vc_tta-tab.vc_active>a{
			background-color: @accent_color;
			color: #fff;
		}
		.vc_tta-tab>a{
			background-color: darken(@accent_color, 6.3%);
			color: @text_color_bold;
		}
	}
}
.wpb-js-composer .vc_tta.vc_general.vc_tta-color-primary.vc_tta-style-outline.vc_tta-tabs{
	.vc_tta-tab{
		a{
			border-color: @accent_color;
			color: @text_color_bold;
			&:hover{
				color: #fff;
				background-color: @accent_color;
			}
		}
		&.vc_active a:hover{
			color: @text_color_bold;
			background-color: transparent;
		}
	}
	.vc_tta-panels{
		border-color: @accent_color;
		.vc_tta-panel-body{
			border-top: none;
			border-width: 2px;
			background-color: #fff;
		}
	}
}
@media (max-width: 767px) {
	.wpb-js-composer .vc_tta-panel-heading .vc_tta-panel-title{
		font-family: @secondary_font;
		font-weight: bold;
		color: @text_color_bold;
		font-size: 14px;
	}
	.wpb-js-composer .vc_tta.vc_tta-tabs.vc_general.vc_tta-style-border-top-active {
		.vc_tta-panel {
			.vc_tta-panel-heading {
				margin: -1px 0;
				border-width: 1px;
				border-color: @border_color;
				background: #f7f7f7;
				.vc_tta-panel-title > a {
					color: @text_color_bold;
				}
			}
			&.vc_active {
				.vc_tta-panel-heading {
					border-top-width: 2px;
					.vc_tta-panel-title > a {
						color: @text_color_bold;
					}
				}
			}
		}
		&.vc_tta-color-primary{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: @accent_color;
			}
		}
		&.vc_tta-color-blue{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: #0000ff;
			}
		}
		&.vc_tta-color-turquoise{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: turquoise;
			}
		}
		&.vc_tta-color-pink{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: pink;
			}
		}
		&.vc_tta-color-violet{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: violet;
			}
		}
		&.vc_tta-color-peacoc{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: #4CADC9;
			}
		}
		&.vc_tta-color-chino{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: #CEC2AB;
			}
		}
		&.vc_tta-color-mulled_wine{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: #50485B;
			}
		}
		&.vc_tta-color-vista_blue{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: #75D69C;
			}
		}
		&.vc_tta-color-black{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: #000;
			}
		}
		&.vc_tta-color-grey{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: #808080;
			}
		}
		&.vc_tta-color-orange{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: orange;
			}
		}
		&.vc_tta-color-sky{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: #5AA1E3;
			}
		}
		&.vc_tta-color-green{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: green;
			}
		}
		&.vc_tta-color-juicy_pink{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: #F4524D;
			}
		}
		&.vc_tta-color-sandy_brown{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: #F4524D;;
			}
		}
		&.vc_tta-color-purple{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: purple;
			}
		}
		&.vc_tta-color-white{
			.vc_tta-panel.vc_active .vc_tta-panel-heading {
				border-top-color: @text_color_bold;
			}
		}
	}
	.wpb-js-composer .vc_tta.vc_general.vc_tta-tabs.vc_tta-style-vertical-bar {
		.vc_tta-panel {
			.vc_tta-panel-heading {
				border: none;
				border-bottom: solid 1px @border_color;
				background-color: #fff;
				.vc_tta-panel-title > a {
					padding: 15px;
					color: @text_color_bold;
					text-align: center;
				}
			}
			&:last-child {
				.vc_tta-panel-heading {
					border-bottom: none;
				}
				&.vc_active {
					.vc_tta-panel-heading {
						border-bottom: solid 1px @border_color;
					}
				}
			}
		}
		&.vc_tta-color-primary{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: @accent_color;
			}
		}
		&.vc_tta-color-blue{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: #0000ff;
			}
		}
		&.vc_tta-color-turquoise{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: turquoise;
			}
		}
		&.vc_tta-color-pink{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: pink;
			}
		}
		&.vc_tta-color-violet{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: violet;
			}
		}
		&.vc_tta-color-peacoc{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: #4CADC9;
			}
		}
		&.vc_tta-color-chino{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: #CEC2AB;
			}
		}
		&.vc_tta-color-mulled_wine{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: #50485B;
			}
		}
		&.vc_tta-color-vista_blue{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: #75D69C;
			}
		}
		&.vc_tta-color-black{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: #000;
			}
		}
		&.vc_tta-color-grey{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: #808080;
			}
		}
		&.vc_tta-color-orange{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: orange;
			}
		}
		&.vc_tta-color-sky{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: #5AA1E3;
			}
		}
		&.vc_tta-color-green{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: green;
			}
		}
		&.vc_tta-color-juicy_pink{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: #F4524D;
			}
		}
		&.vc_tta-color-sandy_brown{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: #F4524D;;
			}
		}
		&.vc_tta-color-purple{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: purple;
			}
		}
		&.vc_tta-color-white{
			.vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a {
				color: @text_color_bold;
			}
		}
	}
	.wpb-js-composer .vc_tta.vc_general.vc_tta-tabs.vc_tta-color-primary.vc_tta-style-outline{
		.vc_tta-panel{
			.vc_tta-panel-heading{
				background-color: transparent;
				.vc_tta-panel-title > a{
					color: @accent_color;
					&:hover{
						color: #fff;
					}
				}
				&:hover{
					background-color: @accent_color;
				}
			}
			&.vc_active{
				.vc_tta-panel-heading{
					background-color: transparent;
					.vc_tta-panel-title > a{
						color: @accent_color;
					}
					&:hover{
						color: @accent_color;
						background-color: transparent;
					}
				}
			}
			.vc_tta-panel-body{
				border-top: solid #3ab8bd;
				border-width: 1px;
				background-color: #fff;
			}
		}
	}
	.wpb-js-composer .vc_general.vc_tta.vc_tta-tabs.vc_tta-style-classic{
		&.vc_tta-color-white .vc_tta-panel .vc_tta-panel-body{
			background-color: white;
			padding: 0px 30px;
			border-color: #fff;
		}
		.vc_tta-panel{
			.vc_tta-panel-heading{
				margin-bottom: 0;
				border-left: none;
				border-right: none;
			}
			&.vc_active{
				.vc_tta-panel-heading{
					background-color: @accent_color;
					.vc_tta-panel-title >a{
						color: #fff;
					}
				}
			}
		}

		&.vc_tta-shape-none{
			.vc_tta-panel{
				.vc_tta-panel-heading{
					background-color: transparent;
					border-color: transparent;
					.vc_tta-panel-title >a{
						color: @text_color;
					}
				}
				&.vc_active{
					.vc_tta-panel-heading{
						background-color: transparent;
						border-color: transparent;
						.vc_tta-panel-title >a{
							color: @accent_color;
						}
					}
				}
			}
		}
	}
}
