.sidebar-mobile-canvas-icon-close {
	display: none;
}
.sidebar-mobile-canvas-icon {
	padding: 10px 12px;
	display: none;
	line-height: 1;
	.border-top-right-radius(4px);
	.border-bottom-right-radius(4px);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	position: fixed;
	top: 245px;
	left: 0;
	z-index: 1001;
	background-color: #fff;
	.transition03;
}

.widget {
	margin-bottom: 50px;
	&:after {
		content: '';
		clear: both;
		display: block;
	}
}
.widget-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
	&:after {
		content: '';
		display: block;
		width: 70px;
		height: 3px;
		background-color: @accent_color;
		margin-top: 7px;
	}
}


/**
* Archive, categories, nav_menu
* ----------------------------------------------------------------------------
*/
.widget_meta,
.widget_archive,
.widget_categories,
.widget_nav_menu,
.widget_pages,
.widget_product_categories,
.widget_recent_entries {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		padding: 0;
		margin: 0;
		line-height: 20px;
		font-size: 14px;
		position: relative;
		color: @text_color_bold;
		font-family: @secondary_font;
	}
	li > a {
		display: block;
		padding: 10px 0;
		color: inherit;
		.transition03();
		&:before {
			content: "\f0da";
			font-family: fontawesome;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome!important;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			padding-right: 10px;
		}
	}

	li + li {
		border-top: 1px solid @border_color;
	}
	li li > a {
		padding-left: 40px;
	}
	li li li > a {
		padding-left: 60px;
	}
	li li li li > a {
		padding-left: 80px;
	}

	ul ul {
		display: none;
		border-top: 1px solid @border_color;
	}
	.li-caret {
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		font-size: 10px;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		&.in:before {
			content: '\f068';
		}
	}

	.current_page_item > a,
	.current-cat > a,
	.current-menu-item > a,
	li > a:hover {
		color: @accent_color;
		+ ul + span {
			color: @accent_color;
		}
	}

	li > a:hover {
		padding-left: 5px;
	}

	li li > a:hover {
		padding-left: 45px;
	}
	li li li > a:hover {
		padding-left: 65px;
	}
	li li li li > a:hover {
		padding-left: 85px;
	}

	.current_page_ancestor,
	.current_page_parent,
	.current-cat-parent,
	.current-cat-ancestor {
		> ul {
			display: block;
		}
	}
}

.widget_nav_menu.footer-menu {
	li > a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	li + li {
		border: none;
	}

	ul ul {
		border: none;
	}
}


.widget_recent_comments,
.widget_rss {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		padding: 7px 0;
		line-height: 25px;
		&:before {
			content: "\f0da";
			font-family: fontawesome;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome!important;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			padding-right: 10px;
		}
	}
	li + li {
		border-top: 1px solid @border_color;
	}
}

/**
* Archive dropdown
* ----------------------------------------------------------------------------
*/
.widget_archive,
.widget_categories {
	select {
		width: 100%;
	}
	.screen-reader-text {
		display: none;
	}
}

/**
* Calendar
* ----------------------------------------------------------------------------
*/
.widget_calendar {
	.calendar_wrap caption{
		color: @text_color_bold;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 13px;
		padding-top: 0;
	}
	#wp-calendar {
		width: 100%;
		th {
			background-color: @border_color;
		}
		tbody td, th {
			border: solid 1px @border_color;
			text-align: center;
			padding: 8px 0 2px;
		}
		tfoot td {
			color: @text_color_bold;
			text-transform: uppercase;
			font-weight: bold;
		}
		td#next {
			text-align: right;
		}
	}
}

/**
* G5Plus:Posts
* ----------------------------------------------------------------------------
*/
.widget-posts {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li + li {
		margin-top: 20px;
		padding-top: 20px;
		border-top:1px solid @border_color;
	}
	.entry-thumb-wrap {
		width: 100px;
		margin-bottom: 0;
		float: left;
	}
	.entry-thumb-wrap + .entry-content-wrap {
		padding-left: 110px;
	}
	.entry-post-title {
		font-size: 14px;
		font-weight: 400;
		color: @text_color_bold;
		line-height: 1.4;
		margin: 0;
	}

	.entry-thumbnail .zoomGallery {
		font-size: 12px;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}

	.post-video .zoomGallery {
		font-size: 18px;
		width: 18px;
		height: 18px;
		line-height: 18px;
	}
	.owl-carousel > .owl-nav {
		display: none !important;
	}

	.owl-dots > div {
		margin: 0 2px;
	}

	.entry-content-wrap {
		padding: 0;
		border: none;
	}
}

/**
* Search
* ----------------------------------------------------------------------------
*/
.search-form {
	position: relative;
	width: 100%;
	.search-field {
		width: 100%;
		padding-right: 50px;
	}
	.search-field:focus + .search-submit {
		color: @accent_color;
	}

	.search-submit {
		position: absolute;
		width: 45px;
		height: 45px;
		right: 0;
		top: 0;
		padding: 0;
		font-size: 16px;
		background-color: transparent;
		color: #bababa;
		border: none;
		&:hover {
			color: @accent_color;
		}
	}
}

/**
* Tag Clound
* ----------------------------------------------------------------------------
*/
.tagcloud {
	font-size: 0;
	margin-bottom: -5px;
	a {
		display: inline-block;
		vertical-align: top;
		font-size: 13px!important;
		color: @text_color_bold;
		letter-spacing: 0.02em;
		line-height: 18px;
		padding: 7px 15px;
		margin: 0 5px 5px 0;
		border: solid 2px #ddd;
		-webkit-border-radius:30px;
		-moz-border-radius:30px;
		border-radius:30px;
		.transition03;
		&:focus,
		&:hover {
			background-color: @accent_color !important;
			border-color: @accent_color !important;
			color: @foreground_accent_color !important;
		}
	}
}

/**
* Social Profile
* ----------------------------------------------------------------------------
*/
.widget-social-profile {
	margin: 0;
}
ul.widget-social-profiles {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	font-size: 0;
	li {
		display: inline-block;
		+ li {
			margin-left: 20px;
		}
	}
	i {
		font-size: 18px;
	}
	&.circle, &.circle-fill {
		li + li {
			margin-left: 5px;
		}
		i {
			width: 42px;
			height: 42px;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			text-align: center;
			.transition03;
			&:hover {
				background-color: @accent_color !important;
				border-color: @accent_color !important;
				color: @foreground_accent_color !important;
			}
		}
	}
	&.circle {
		i {
			border: 1px solid rgba(226,226,226,0.1);
			line-height: 40px;
		}
	}
	&.circle-fill {
		i {
			line-height: 42px;
			background-color: #f7f7f7;
			color: #555;
		}
	}
}
.social-profiles-title {
	display: inline-block;
	margin-right: 15px;
}

/**
* Image
* ----------------------------------------------------------------------------
*/
.g5plus-widget-image {
	position: relative;
	a {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


/**
* Woocommerce Price Filter
* ----------------------------------------------------------------------------
*/
.woocommerce .widget_price_filter {
	.price_slider_wrapper .ui-widget-content {
		background-color: #ededed;
		height: 6px;
		.border-radius(0);
		margin-bottom: 40px;
	}
	.ui-slider .ui-slider-range {
		height: 6px;
		.border-radius(0);
		background-color: @accent_color;
	}
	.ui-slider .ui-slider-handle {
		height: 18px;
		width: 18px;
		.border-radius(100%);
		background-color: @accent_color;
		top: -6px;
	}
	.price_label {
		font-size: 14px;
		text-transform: uppercase;
		color: @text_color_bold;
		line-height: 41px;
	}

	.price_slider_amount .button {
		font-size: 13px;
		padding-top: 8.5px;
		padding-bottom: 8.5px;
		background-color: @accent_color;
		color: @foreground_accent_color;
		&:hover {
			color: @text_color_bold;
			border-color: @accent_color;
			background-color: transparent;
		}
	}
}

/**
* Product
* ----------------------------------------------------------------------------
*/
.woocommerce ul.product_list_widget {
	li {
		padding-bottom: 15px;
		border-bottom: 1px solid @border_color;
	}

	li + li {
		margin-top: 15px;
	}

	li img {
		float: left;
		width: 70px;
		margin: 0 15px 0 0;
	}
	li a {
		font-family: @secondary_font;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 1.8;
		color: @text_color_bold;
		&:hover {
			color: @accent_color !important;
		}
	}
	span.amount {
		display: inline-block;
		font-size: 16px;
		color: @accent_color;
		font-family: @secondary_font;
	}

	span.reviewer {
		display: inline-block;
		font-size: 14px;
		font-weight: 600;
		color: #8f8f8f;
	}

	ins span.amount {
		text-decoration: none;
	}

	del span.amount {
		margin-right: 5px;
		text-decoration: line-through;
		color: #ccc;
	}
	del,
	ins {
		display: inline-block;
	}

	a + span.amount,
	a + del {
		margin-top: 5px;
	}

	li .star-rating {
		margin-bottom: 15px;
		margin-top: 0;
	}
}



/**
* Widget Layered Nav
* ----------------------------------------------------------------------------
*/
.woocommerce .widget_layered_nav,
.woocommerce .widget_layered_nav_filters{
	> ul:not(.yith-wcan-label):not(.yith-wcan-color) {
		li a {
			color: inherit;
		}
		li {
			margin: 0;
			line-height: 20px;
			font-size: 14px;
			position: relative;
			color: @text_color_bold;
			font-family: @secondary_font;
			padding: 10px 0;
			.transition03();
			&:before {
				content: "\f0da";
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome!important;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				padding-right: 10px;
			}
			&:hover {
				padding-left: 5px;
			}
		}
		li + li {
			border-top: 1px solid @border_color;
		}
	}
	.count {
		font-size: 1em;
	}
}

/**
* yith-woocommerce-ajax-product-filter
* ----------------------------------------------------------------------------
*/

// color
.woocommerce .widget_layered_nav ul.yith-wcan-color {
	margin-bottom: -5px;
	li a {
		position: relative;
		width: 34px;
		height: 34px;
		border:none;
		margin: 0 5px 5px 0;
		&:hover {
			border: none;
			&:after {
				font-family: 'FontAwesome';
				content: '\f00c';
				display: inline-block;
				color: #fff;
				position: absolute;
				margin: 10px 0 0 10px;
				font-size: 12px;
				line-height: 1;
				text-indent:0;
				top: 0;
				left: 0;
			}
		}
	}
	li.chosen a {
		border:none;
		&:before {
			display: none;
		}
		&:after {
			font-family: 'FontAwesome';
			content: '\f00c';
			display: inline-block;
			color: #fff;
			position: absolute;
			margin: 10px 0 0 10px;
			font-size: 12px;
			line-height: 1;
			text-indent:0;
			top: 0;
			left: 0;
		}
	}
}

// label
.woocommerce .widget_layered_nav ul.yith-wcan-label {
	margin-bottom: -5px;
	li a {
		background-color: transparent;
		font-size: 12px;
		border:1px solid @border_color_dark;
		margin: 0 5px 5px 0;
		line-height: 20px;
		padding: 4px 20px;
		text-align: center;
		.transition03;
		&:hover {
			background-color: @accent_color;
			border-color: @accent_color;
			color: @foreground_accent_color;
		}
		&:before {
			display: none;
		}
	}
	li.chosen a {
		background-color: @accent_color;
		border-color: @accent_color;
		color: @foreground_accent_color;
	}
}

// select
.yit-wcan-select-open {
	margin: 0;
}
.yith-wcan-select-wrapper {
	max-width: 270px;
	margin: -1px 0 0 0;
}

/**
* widget woocompare
* ----------------------------------------------------------------------------
*/
.yith-woocompare-widget {
	ul {
		padding: 0;
		list-style: none;
		margin-bottom: 20px;
	}
	a.button {
		padding-top: 8.5px !important;
		padding-bottom: 8.5px !important;
	}
	ul.products-list  {
		a.remove {
			margin: 0;
			height: 16px;
			width: 14px;
			line-height: 1;
			font-size: 0;
			&:hover {
				background-color: transparent;
			}
		}
		li {
			line-height: 20px;
			padding: 10px 0;
			border-bottom: 1px solid @border_color;
		}
		li a.title {
			padding: 0;
			margin: 0;
			font-size: 14px;
			position: relative;
			color: #333;
			font-family: @secondary_font;
		}
	}
}


/**
* widget_rating_filter
* ----------------------------------------------------------------------------
*/
.woocommerce .widget_rating_filter {
	ul li {
		border-bottom: 1px solid @border_color;
		padding: 10px 0;
	}
	ul li a {
		display: block;
		width: 100%;
		text-align: right;
		line-height: 20px;
	}
	ul li .star-rating {
		float: left;
	}
}

/**
* Widget Info Box
* ----------------------------------------------------------------------------
*/
.widget-info-box {
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	li + li {
		padding-top: 10px;
	}
	li > i {
		float: left;
		font-size: 20px;
		text-align: center;
		width: 20px;
		line-height: 22px;
		color: lighten(@text_color,14.5%);
	}
	.if-content {
		display: block;
		padding-left: 30px;
	}

	ul.if-vertical {
		.if-content:before {
			content: ':';
			display: inline-block;
			margin-right: 5px;
		}
	}

	ul.if-horizontal {
		li > i {
			text-align: left;
			float: none;
			display: inline-block;
			vertical-align: middle;
			width: auto;
			margin-right: 10px;
			font-size: 15px;
		}
		li {
			display: inline-block;
		}
		.if-content {
			display: inline-block;
			padding-left: 0;
		}
		li + li {
			padding-top: 0;
			margin-left: 20px;
		}
	}
}

/**
* Primary Sidebar
* ----------------------------------------------------------------------------
*/
.primary-sidebar .widget:last-child {
	margin-bottom: 0;
}

@media (max-width: 991px) {
	.primary-sidebar {
		margin-top: 30px;
	}

	.sidebar-mobile-canvas-icon {
		display: block;
	}
	.sidebar-mobile-canvas-icon.changed {
		display: none;
	}

	.sidebar-mobile-canvas {
		margin-top: 0;
		opacity: 0;
		position: fixed;
		left: -300px;
		top: 0;
		padding: 30px;
		width: 300px;
		box-sizing: border-box;
		background-color: #fff;
		z-index: 999999;
		.transition05();
		&.changed {
			opacity: 1;
			left: 0;
		}
		.sidebar-mobile-canvas-icon-close {
			position: absolute;
			top: 5px;
			right: 5px;
			cursor: pointer;
			padding: 0 5px;
			display: block;
			i {
				.transition05();
			}
			&:hover i {
				color: red;
			}
		}
	}
	.overlay-canvas-sidebar {
		position: absolute;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1000;
		.transition05();
		&.changed {
			display: block;
			z-index: 1000;
			.rgba-bg-color(#000, 0.6);
			cursor: url(assets/images/close.png) 15 15, default;;

		}
	}
}

.no-widget-content {
	padding: 10px;
	text-align: center;
	border: dashed 2px;
}
.main-footer .no-widget-content {
	padding: 50px 30px;
}

.primary-sidebar .no-widget-content {
	padding: 300px 10px;
}