/**
* Catalog Filter
* ----------------------------------------------------------------------------
*/
.catalog-filter {
	margin-bottom: 30px;
}
.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count {
	margin: 0;
}
.woocommerce .woocommerce-ordering select {
	background-color: transparent;
	border: 1px solid @border_color_dark;
	color: @text_color;
}
.woocommerce .woocommerce-result-count {
	letter-spacing: 0.02em;
	border: 1px solid @border_color_dark;
	line-height: 20px;
	padding: 11.5px 20px;
}

@media (min-width: 600px) {
	.woocommerce .woocommerce-result-count,
	.woocommerce .woocommerce-ordering select {
		min-width: 270px;
	}
}

@media (max-width: 479px) {
	.woocommerce .woocommerce-result-count {
		width: 100%;
		margin-bottom: 20px;
	}

	.woocommerce .woocommerce-ordering{
		float: none;
	}
}

/**
* Remove Button
* ----------------------------------------------------------------------------
*/
.woocommerce a.remove {
	font-size: 0;
	width: 14px;
	height: 16px;
	&:before {
		font-family: FontAwesome;
		font-weight: normal;
		font-size: 18px;
		content: '\f00d';
		display: inline-block;
		color: #e32246;
	}
	&:hover {
		background-color: transparent;
	}
	&:hover:before {
		color: @accent_color;
	}
}
/**
* Row
* ----------------------------------------------------------------------------
*/
.woocommerce form .form-row {
	padding: 0;
	margin: 0 0 10px 0;
	input[type="text"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="tel"],
	textarea,
	select {
		background-color: transparent;
		border: 1px solid @border_color_dark;
		height: 40px;
		color: @text_color;
		.placeholder(@text_color);
	}

	textarea {
		height: 100px;
	}

}
.woocommerce form .form-row label {
	line-height: 1;
	margin-bottom: 5px;
	font-size: 11px;
	color: @text_color_bold;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-family: @secondary_font;
}
.select2-container--default .select2-selection--single {
	height: 40px;
	border: 1px solid @border_color_dark;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: @text_color;
	line-height: 40px;
	padding-left: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
}
/**
* Shipping Method
* ----------------------------------------------------------------------------
*/
.woocommerce ul#shipping_method li {
	padding: 0 0 5px 22px;
}
.woocommerce ul#shipping_method li input {
	margin: 0 5px 0 0;
	position: relative;
	top: 2px;
}
.woocommerce ul#shipping_method .amount {
	font-weight: normal;
}
/**
* Sale Flash
* ----------------------------------------------------------------------------
*/
.product-flash {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: @accent_color;
	color: @foreground_accent_color;
	width: 58px;
	height: 58px;
	line-height: 58px;
	text-align: center;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	position: absolute;
	top: 20px;
	z-index: 2;
}
.on-sale {
	right: 20px;
}
.on-featured {
	left: 20px;
}

/**
* Product Thumb
* ----------------------------------------------------------------------------
*/
.product-thumb {
	position: relative;
	img {
		width: 100%;
	}
}

.product-link {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: 1;
	background-color: rgba(0,0,0,0.3);
	.transition03;
}

.product-thumb-secondary {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	z-index: 1;
	.transition(all .2s linear);
}

.product-images-hover {
	position: relative;
	&.flip-back {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style:    preserve-3d;
		-ms-transform-style:     preserve-3d;
		transform-style:         preserve-3d;

		-webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		-moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		-ms-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		-o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

		.product-thumb-primary {
			display:                     block;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility:    hidden;
			-ms-backface-visibility:     hidden;
			position:                    relative;
		}

		.product-thumb-secondary {
			display:           block;
			-webkit-transform: rotateY(180deg);
			-moz-transform:    rotateY(180deg);
			-ms-transform:     rotateY(180deg);
			transform:         rotateY(180deg);
			opacity: 1;
		}

	}
}

.product-item-wrap.active,
.product-item-inner:hover {
	.product-link {
		opacity: 1;
	}

	.product-images-hover {
		&.change-image {
			.product-thumb-secondary {
				opacity: 1;
			}
		}
		&.flip-back {
			-webkit-transform: rotateY(180deg);
			-moz-transform:    rotateY(180deg);
			-ms-transform:     rotateY(180deg);
			transform:         rotateY(180deg);
		}
	}

	.yith-wcwl-wishlistaddedbrowse a,
	.yith-wcwl-wishlistexistsbrowse a,
	.add_to_wishlist,
	.compare,
	.product-quick-view {
		.transform(translateY(0));
		opacity: 1;
		visibility: visible;
	}

	a.added_to_cart,
	a.add_to_cart_button,
	a.product_type_external,
	a.product_type_simple,
	a.product_type_grouped {
		opacity: 1;
		-webkit-transform: translate(-50%,-50%) scale(1);
		-moz-transform: translate(-50%,-50%) scale(1);
		-ms-transform: translate(-50%,-50%) scale(1);
		-o-transform: translate(-50%,-50%) scale(1);
		transform: translate(-50%,-50%) scale(1);
	}
}

/**
* Product Actions
* ----------------------------------------------------------------------------
*/
.product-actions {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
	z-index: 3;
	font-size: 0;
	white-space: nowrap;

	.compare {
		vertical-align: top;
		width: 40px;
		height: 40px;
		text-align: center;
		background-color: #fff;
		display: inline-block;
		font-size: 0;
		i {
			font-size: 14px;
			line-height: 40px;
			color: #222;
		}
		&:hover {
			background-color: @accent_color;
			color: @foreground_accent_color;
		}
		&:before {
			display: inline-block;
			font-family: FontAwesome;
			content: '\f1de';
			font-size: 12px;
			line-height: 38px;
		}
	}



	.yith-wcwl-add-to-wishlist {
		display: inline-block;
		margin: 0;
		font-size: 0;
		vertical-align: top;
	}

	.yith-wcwl-add-to-wishlist + div.clear {
		display: none;
	}

	.yith-wcwl-wishlistaddedbrowse a,
	.yith-wcwl-wishlistexistsbrowse a,
	.add_to_wishlist {
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background-color: #fff;
		display: inline-block;
		&:hover,
		&.added-spinner {
			background-color: @accent_color;
			&:before {
				color: @foreground_accent_color;
			}
		}
		&:before {
			display: inline-block;
			font-family: FontAwesome;
			content: '\f08a';
			font-size: 14px;
			color: #222;
		}
	}

	.yith-wcwl-wishlistaddedbrowse a,
	.yith-wcwl-wishlistexistsbrowse a {
		&:before {
			content: '\f004';
		}
	}

	.yith-wcwl-add-button {
		font-size: 0;
		position: relative;

		.ajax-loading {
			display: none !important;
		}
	}


	.add_to_wishlist.added-spinner:before {
		-webkit-animation: fa-spin 1s infinite steps(8);
		animation: fa-spin 1s infinite steps(8);
		content: "\f110";
	}

	.product-quick-view {
		vertical-align: top;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background-color: #fff;
		display: inline-block;
		font-size: 14px;
		color: #222;
		&:hover {
			background-color: @accent_color;
			color: @foreground_accent_color;
		}
	}

	.product-quick-view,
	.yith-wcwl-add-to-wishlist {
		margin-left: 2px;
	}

	.yith-wcwl-wishlistaddedbrowse a,
	.yith-wcwl-wishlistexistsbrowse a,
	.add_to_wishlist,
	.compare,
	.product-quick-view {
		.transform(translateY(20px));
		opacity: 0;
		visibility: hidden;
	}

	.product-quick-view {
		-webkit-transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.15s ease-out, opacity 0.5s 0.15s ease-out, -webkit-transform 0.5s 0.15s ease-out;
		-moz-transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.15s ease-out, opacity 0.5s 0.15s ease-out, -moz-transform 0.5s 0.15s ease-out;
		-ms-transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.15s ease-out, opacity 0.5s 0.15s ease-out, -ms-transform 0.5s 0.15s ease-out;
		-o-transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.15s ease-out, opacity 0.5s 0.15s ease-out, -o-transform 0.5s 0.15s ease-out;
		transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.15s ease-out, opacity 0.5s 0.15s ease-out, transform 0.5s 0.15s ease-out;
	}

	.yith-wcwl-wishlistaddedbrowse a,
	.yith-wcwl-wishlistexistsbrowse a,
	.add_to_wishlist {
		-webkit-transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.25s ease-out, opacity 0.5s 0.25s ease-out, -webkit-transform 0.5s 0.25s ease-out;
		-moz-transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.25s ease-out, opacity 0.5s 0.25s ease-out, -moz-transform 0.5s 0.25s ease-out;
		-ms-transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.25s ease-out, opacity 0.5s 0.25s ease-out, -ms-transform 0.5s 0.25s ease-out;
		-o-transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.25s ease-out, opacity 0.5s 0.25s ease-out, -o-transform 0.5s 0.25s ease-out;
		transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.25s ease-out, opacity 0.5s 0.25s ease-out, transform 0.5s 0.25s ease-out;
	}

	.compare {
		-webkit-transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.35s ease-out, opacity 0.5s 0.35s ease-out, -webkit-transform 0.5s 0.35s ease-out;
		-moz-transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.35s ease-out, opacity 0.5s 0.35s ease-out, -moz-transform 0.5s 0.35s ease-out;
		-ms-transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.35s ease-out, opacity 0.5s 0.35s ease-out, -ms-transform 0.5s 0.35s ease-out;
		-o-transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.35s ease-out, opacity 0.5s 0.35s ease-out, -o-transform 0.5s 0.35s ease-out;
		transition: color 0.5s 0.001s ease-out, background 0.5s 0.001s ease-out, visibility 0.5s 0.35s ease-out, opacity 0.5s 0.35s ease-out, transform 0.5s 0.35s ease-out;
	}

}

.yith-wcwl-add-button a.add_to_wishlist {
	.border-radius(0);
}



.tooltip-inner {
	white-space: nowrap;
}


/**
* Product Info
* ----------------------------------------------------------------------------
*/
.product-info {
	padding: 25px 30px;
	border: 1px solid @border_color;
	border-top: none;
}

/**
* Product Price
* ----------------------------------------------------------------------------
*/
.woocommerce div.product p.price,
.woocommerce div.product span.price {
	font-size: 16px;
	font-weight: bold;
	color: #ccc;
	ins {
		font-weight: bold;
		text-decoration: none;
		color: @accent_color;
	}
	del {
		margin-right: 25px;
		color: #ccc;
		opacity: 1;
		text-decoration: none;
	}
}

/**
* star-rating
* ----------------------------------------------------------------------------
*/
.woocommerce .products .star-rating,
.woocommerce .star-rating {
	font-size: 10px;
	letter-spacing: 2px;
	width: 61px;
	top: 7px;
	&:before {
		color: #888;
	}
	span {
		color:#ffb600;
	}
}

.product-listing.woocommerce .star-rating {
	float: none;
	margin: 0 auto 20px auto;
}


.product-listing:not(.slider) {
	margin-bottom: -30px;
}
.woocommerce nav.woocommerce-pagination {
	margin-top: 50px;
}

/**
* Woocommerce Button
* ----------------------------------------------------------------------------
*/
.woocommerce a.added_to_cart,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	display: inline-block;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 20px;
	padding: 10.5px 30px;
	border: solid 2px @accent_color;
	background-clip: border-box;
	color: @text_color_bold;
	text-align: center;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	background-color: transparent;
	.transition03();
	&:hover,
	&:focus {
		color: @foreground_accent_color;
		background-color: @accent_color;
	}

	&.disabled,
	&:disabled[disabled] {
		padding: 10.5px 30px;;
		&:hover {
			color: @foreground_accent_color;
			background-color: @accent_color;
		}
	}

	&.alt {
		color: @foreground_accent_color;
		background-color: @accent_color;
		&:focus,
		&:hover {
			color: @text_color_bold;
			background-color: transparent;
			border-color: @accent_color;
		}

		&.disabled,
		&:disabled[disabled] {
			color: @foreground_accent_color;
			background-color: @accent_color;
			&:hover,
			&:focus {
				color: @foreground_accent_color;
				background-color: @accent_color;
			}
		}
	}
}

/**
* Add To Cart Button
* ----------------------------------------------------------------------------
*/
.woocommerce a.added_to_cart,
.woocommerce a.add_to_cart_button,
.woocommerce a.product_type_external,
.woocommerce a.product_type_simple,
.woocommerce a.product_type_grouped {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	opacity: 0;
	-webkit-transform: translate(-50%,-50%) scale(0.5);
	-moz-transform: translate(-50%,-50%) scale(0.5);
	-ms-transform: translate(-50%,-50%) scale(0.5);
	-o-transform: translate(-50%,-50%) scale(0.5);
	transform: translate(-50%,-50%) scale(0.5);
	background-color: @text_color_bold;
	border-color: @text_color_bold;
	color: @foreground_accent_color;
	&:focus,
	&:hover {
		border-color: @accent_color;
	}

	&.loading {
		&:after {
			display: none;
		}
		&:before {
			-webkit-animation: spin 2s linear infinite;
			-moz-animation: spin 2s linear infinite;
			animation: spin 2s linear infinite;
			content: '\f021';
			font-family: 'FontAwesome';
			display: inline-block;
			font-size: 12px;
			margin-right: 5px;
			line-height: 1;
		}
	}
}

.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button,
.woocommerce .woocommerce-message .button {
	padding-top: 8.5px;
	padding-bottom: 8.5px;
}

.woocommerce a.add_to_cart_button.added {
	display: none;
}

/**
* Product Name
* ----------------------------------------------------------------------------
*/
h3.product-name {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 7px;
	color: #1f1f1f;
	a {
		color: inherit;
		&:hover {
			color: @accent_color;
		}
	}
}


/**
* Sale CountDown
* ----------------------------------------------------------------------------
*/
.single-product-image-main-wrap {
	position: relative;
}
.product-deal-countdown{
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
	background-color: rgba(255,255,255,0.8);
	padding: 20px;
	z-index: 1;
}
.product-deal-countdown-inner {
	font-size: 0;
	text-align: center;
}
.countdown-section {
	display: inline-block;
	margin-right: 5px;
	&:last-child {
		margin-right: 0;
	}
}
.countdown-amount {
	display: block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background-color: @accent_color;
	color: @foreground_accent_color;
	font-size: 14px;
	font-weight: bold;
}
.countdown-period {
	font-size: 11px;
	display: block;
	color: @text_color_bold;
	font-weight: bold;
	margin-top: 10px;
	line-height: 1;
	text-transform: uppercase;
}
.product-deal-countdown.small {
	.countdown-amount {
		width: 36px;
		height: 36px;
		line-height: 36px;
		font-size: 12px;
	}
	.countdown-section {
		margin-right: 2px;
	}
	.countdown-period {
		text-transform: none;
	}
}

/**
* Product Category
* ----------------------------------------------------------------------------
*/
.product-category {
	img {
		width: 100%;
	}
	h3 {
		font-size: 20px;
		font-weight: bold;
		color: #1f1f1f;
		margin-bottom: 0;
		text-align: center;
		margin-top: 25px;
	}
	mark {
		padding: 0;
		background-color: transparent;
	}
}

/**
* Quantity Input
* ----------------------------------------------------------------------------
*/
.woocommerce div.product form.cart div.quantity {
	margin: 0 10px 0 0;
}
.quantity-inner {
	width: 110px;
	position: relative;
	display: inline-block;
}
.woocommerce .quantity .qty {
	width: 100%;
	height: 45px;
	padding-right: 30px;
	padding-left: 30px;
	background-color: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	color: #222;
}
.woocommerce .quantity .qty::-webkit-inner-spin-button,
.woocommerce .quantity .qty::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
.btn-number {
	position: absolute;
	width: 30px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 12px;
	color: #888;
	z-index: 1;
	cursor: pointer;
	background-color: #eee;
	top: 0;
	border: 1px solid #ddd;
}

.btn-number[data-type="plus"] {
	right: 0;
}

/**
* Single Product
* ----------------------------------------------------------------------------
*/
.single-product-image {
	position: relative;
	img {
		width: 100%;
	}
	a {
		display: block;
		position: relative;
	}
}
.single-product-image-main-wrap,
.product-image-thumb-item {
	border: 1px solid #ededed;
}
.product-image-thumb-item {
	a:before {
		z-index: 1;
		content: '';
		display: block;
		position: absolute;
		background-color: rgba(0,0,0,0.3);
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		opacity: 0;
		.transition03;
	}

	&:hover a:before{
		opacity: 1;
	}
}
.owl-item.current > .product-image-thumb-item a:before {
	opacity: 1;
}
.woocommerce div.product .product_title {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	a {
		color: inherit;
		&:hover {
			color: @accent_color;
		}
	}
}
.woocommerce .woocommerce-product-rating .star-rating {
	font-size: 15px;
	width: 102px;
	margin: 0 30px 0 0;
	top: 0;
	letter-spacing: 5px;
	span {
		color: @accent_color;
	}
}
.woocommerce div.product .woocommerce-product-rating {
	line-height: 1;
	margin-bottom: 20px;
}
.woocommerce div.product .summary-product p.price,
.woocommerce div.product .summary-product span.price {
	font-size: 28px;
	line-height: 1;
	letter-spacing: 0.05em;
	color: @accent_color;
	del {
		font-size: 26px;
	}
}
.summary-product.entry-summary div[itemprop="description"] {
	border-top: 1px solid @border_color;
	padding-top: 25px;
	margin-top: 50px;
	p {
		margin-bottom: 30px;
	}
}

.woocommerce div.product p.stock {
	font-size: 20px;
	text-transform: uppercase;
}
.woocommerce div.product .stock {
	color: @accent_color;
}
.woocommerce div.product .out-of-stock {
	color: #e32246;
}

.woocommerce div.product form.cart,
.woocommerce div.product p.cart {
	margin-bottom: 30px;
}
.single-product-function {
	.yith-wcwl-add-to-wishlist {
		display: inline-block;
		margin: 0 30px 0 0;
	}
	.yith-wcwl-add-to-wishlist .ajax-loading {
		display: none !important;
	}
	.yith-wcwl-add-to-wishlist + div.clear {
		display: none;
	}
	.yith-wcwl-add-button,
	.yith-wcwl-wishlistaddedbrowse,
	.yith-wcwl-wishlistexistsbrowse {
		a {
			font-family: @secondary_font;
			color: #202020;
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 0.02em;
			.transition03;
		}
		a:before {
			display: inline-block;
			font-family: 'FontAwesome';
			content: '\f08a';
			color: #212121;
			font-size: 16px;
			margin-right: 5px;
			.transition03;
		}
		a:hover,
		a:hover:before {
			color: @accent_color;
		}
	}
	.yith-wcwl-wishlistaddedbrowse,
	.yith-wcwl-wishlistexistsbrowse {
		a:before {
			content: '\f004';
		}
	}

	.compare {
		font-family: @secondary_font;
		color: #202020;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 0.02em;
		.transition03;
		&:before {
			display: inline-block;
			font-family: 'FontAwesome';
			content: '\f1de';
			color: #212121;
			font-size: 16px;
			margin-right: 5px;
			.transition03;
		}
		&:hover:before,
		&:hover {
			color: @accent_color;
		}
	}


	span.feedback {
		display: none;
	}
}
.product_meta {
	> span {
		display: block;
		border-top: 1px solid @border_color;
		border-bottom: 1px solid @border_color;
		line-height: 20px;
		padding: 12px 0;
		label {
			color: #202020;
			font-size: 16px;
			font-weight: bold;
			font-family: @secondary_font;
			letter-spacing: 0.02em;
			min-width: 130px;
			display: inline-block;
		}
		span,
		a {
			display: inline-block;
			&:first-child {
				padding-left: 30px;
			}
		}
		a:hover {
			color: @accent_color;
		}
	}
	> span + span {
		margin-top: -1px;
	}
}
.summary-product {
	.social-share {
		margin-top: 35px;
		label {
			font-family: @secondary_font;
			color: #202020;
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 0.02em;
			min-width: 130px;
			display: inline-block;
			.transition03;
		}
	}
}
.woocommerce div.product form.cart .variations{
	margin-bottom: 10px;
}
.woocommerce div.product form.cart .variations td,
.woocommerce div.product form.cart .variations th {
	vertical-align: middle;
	padding-bottom: 10px;
}
.woocommerce div.product form.cart .variations label {
	color: #202020;
	font-size: 16px;
	font-weight: bold;
	font-family: @secondary_font;
	letter-spacing: 0.02em;

}
.woocommerce div.product form.cart .variations select {
	min-width: 270px;
	margin: 0;
}



.woocommerce div.product form.cart .group_table td {
	vertical-align: middle;
	padding-bottom: 10px;
}
.woocommerce div.product form.cart .group_table td.label {
	padding-left: 10px;
	padding-right: 10px;
	a {
		color: @text_color_bold;
		font-weight: bold;
		font-family: @secondary_font;
		&:hover {
			color: @accent_color;
		}
	}
}
.woocommerce div.product form.cart .group_table td.price {
	color: @accent_color;
	ins {
		text-decoration: none;
	}
	p.stock {
		font-size: 14px;
		margin-bottom: 0;
	}
}

.woocommerce-variation-add-to-cart:after,
.woocommerce-variation-add-to-cart:before {
	content: '';
	display: table;
	clear: both;
}
.woocommerce-variation {
	margin-bottom: 10px;
}
.woocommerce div.product form.cart .reset_variations {
	margin-left: 10px;
	color: @text_color_bold;
	font-size: 1em;
	vertical-align: middle;
}

@media (min-width: 768px) {
	.summary-product.entry-summary {
		padding-left: 30px;
	}
	#popup-product-quick-view-wrapper .summary-product.entry-summary {
		padding-left: 0;
	}
}

/**
* Single Product Tab
* ----------------------------------------------------------------------------
*/
.woocommerce-tabs.wc-tabs-wrapper {
	border-top: 1px solid @border_color;
	padding-top: 45px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0;
	width: 290px;
	float: left;
	margin: 0;
	font-size: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border:none;
	.border-radius(0);
	padding: 0;
	margin: 0;
	background-color: transparent;
	.transition03;
	border-bottom: 1px solid @border_color;
	display: block;
	color: #202020;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-family: @secondary_font;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	padding: 12px 0;
	letter-spacing: 0.02em;
	.transition03;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background-color: transparent;
	border-bottom-color: @accent_color;
}

.woocommerce div.product .woocommerce-tabs .panel {
	padding-left: 320px;
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	h2 {
		font-size: 15px;
		margin-bottom: 40px;
		position: relative;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}
}


@media (max-width: 991px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		float: none;
		width: 100%;
		margin-bottom: 20px;
		border-bottom: 1px solid @border_color;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		display: inline-block;
		height: 44px;
		border-bottom: none;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		padding: 0 15px;
		height: 46px;
		line-height: 46px;
		position: relative;
		top: -2px;
		border-bottom: 1px solid transparent;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
		border-bottom-color: @accent_color;
	}
	.woocommerce div.product .woocommerce-tabs .panel {
		padding-left: 0;
	}
}


/**
* Reviews
* ----------------------------------------------------------------------------
*/

.woocommerce #reviews #comments ol.commentlist {
	padding-left: 0;
	padding-bottom: 40px;
	border-bottom: 1px solid @border_color;

}
.woocommerce #reviews #comments ol.commentlist li {
	margin: 0;
}
.woocommerce #reviews #comments ol.commentlist li + li {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 1px solid @border_color;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	width: 100px;
	padding: 0;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	border: none;
	position: relative;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin: 0 0 0 130px;
	padding: 0;
	border: none;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
	margin: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	margin-bottom: 10px;
	strong {
		color: #212121;
		font-weight: bold;
		font-size: 13px;
		text-transform: uppercase;
		display: inline-block;
	}
	time {
		font-size: 14px;
		letter-spacing: 0.02em;
		color: #bbb;
		display: inline-block;
	}
}

.woocommerce .woocommerce-Reviews #comments +  #review_form_wrapper {
	margin-top: 40px;
}

.woocommerce #review_form #respond label {
	color: @text_color_bold;
	font-weight: 500;
	display: block;
	margin-bottom: 5px;
}

.woocommerce #review_form #respond p.stars {
	display: inline-block;
	margin: 0;
}


.woocommerce p.stars.selected a.active:before,
.woocommerce p.stars:hover a:before {
	color: #ffb600;
}
.woocommerce p.stars a {
	height: 15px;
	width: 15px;
	margin-right: 2px;
}
.woocommerce p.stars a:before {
	height: 15px;
	width: 15px;
	font-size: 15px;
}

.woocommerce #reviews #comment {
	height: 100px;
}


.woocommerce #review_form #respond p.form-submit {
	margin-bottom: 0;
}

.woocommerce table.shop_attributes th {
	background-color: transparent;
}

@media (min-width: 768px) {
	.woocommerce #reviews .comment-form-author,
	.woocommerce #reviews .comment-form-email {
		width: 50%;
	}
}

@media (max-width: 320px) {
	.woocommerce div.product form.cart .variations select {
		min-width: 200px;
	}
}
.woocommerce-block-title {
	font-family: @secondary_font;
	font-size: 20px;
	color: @text_color_bold;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.2;
	position: relative;
	letter-spacing: 0.02em;
	margin-bottom: 25px !important;
}

.woocommerce-block-title-2 {
	font-family: @secondary_font;
	font-size: 24px;
	color: #202020;
	font-weight: bold;
	line-height: 1.2;
	position: relative;
	letter-spacing: 0.02em;
	border-bottom: 1px solid @border_color_dark;
	padding-bottom: 25px;
	margin-bottom: 40px !important;
}

/**
* Cart Page
* ----------------------------------------------------------------------------
*/
.woocommerce table.shop_table {
	.border-radius(0);
	border: none;
}
.woocommerce table.shop_table thead th {
	background-color: #222;
	color: #fff;
	font-family: @secondary_font;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	line-height: 20px;
	padding: 14px 10px;
}
.woocommerce table.shop_table td {
	padding: 25px 10px;
}


.woocommerce-cart table.cart {

	margin: 0;

	td {
		border-top: none;
		border-bottom: 1px solid @border_color_dark;
	}

	img {
		width: 70px;
		border: 1px solid #ededed;
	}
	.product-thumbnail {
		width: 105px;
	}

	.amount {
		font-family: @secondary_font;
		font-size: 16px;
		color: #868686;
	}

	.product-name a {
		text-transform: uppercase;
		color: #212121;
		font-family: @secondary_font;
		font-size: 14px;
		&:hover {
			color: @accent_color;
		}
	}

	.product-remove {
		width: 34px;
	}
	.product-price,
	.product-quantity,
	.product-subtotal {
		text-align: center;
	}


	.product-name {
		dl.variation {
			margin: 0;
			dd,
			dt {
				margin: 0 0 5px 0;
				line-height: 1;
				padding: 0;
			}

			dt {
				margin: 0 5px 5px 0;
			}
		}
	}

	td.actions {
		padding: 50px 0 0 0;
		border-bottom: none;

		.coupon .input-text {
			padding: 0 20px;
			background-color: transparent;
		}

		.button {
			line-height: 20px;
			vertical-align: middle;
		}

	}


}

@media (min-width: 769px) {
	.woocommerce-cart table.cart {
		td.actions {
			.coupon .input-text {
				min-width: 270px;
				margin: 0 10px 0 0;
			}
		}
	}
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .cross-sells {
	float: none;
	width: 100%;
}

.woocommerce .cart-collaterals .cart_totals {
	.cart_totals_inner,
	.woocommerce-shipping-calculator {
		float: left;
		width: 50%;
		position: relative;
	}
	.cart_totals_inner {
		padding-left: 15px;
	}
	.woocommerce-shipping-calculator {
		padding-right: 15px;
	}

	.shipping-calculator-form {
		display: block !important;
		p:last-of-type {
			margin-bottom: 0;
			margin-top: 20px;
		}

		input[type="text"],
		input[type="search"],
		input[type="email"],
		input[type="url"],
		input[type="password"],
		input[type="tel"],
		textarea,
		select {
			height: 48px;
		}
	}

	table.shop_table {
		border-top: 1px solid @border_color;
		border-bottom: 1px solid @border_color;
		margin: 0;
		tbody td,
		tbody th {
			font-family: @secondary_font;
			font-size: 14px;
			line-height: 20px;
			font-weight: normal;
			padding: 12px 0;
			border-color: @border_color;
			background-color: transparent !important;
		}

		tbody th {
			color: #222;
			text-transform: uppercase;
		}

		tbody td {
			color: #999;
			text-align: right;
			&:before {
				font-family: @secondary_font;
				font-size: 14px;
				color: #222;
				font-weight: normal;
				text-transform: uppercase;
			}
		}
	}

	.wc-proceed-to-checkout {
		padding: 0;
		margin-top: 30px;
		text-align: right;
		a.checkout-button {
			font-size: 13px;
			padding: 10.5px 30px;
			margin: 0;
			display: inline-block;
		}
	}
}

@media (max-width: 768px) {
	.woocommerce-cart table.cart {
		.product-remove {
			width: 100%;
		}
		td.actions {
			background-color: transparent !important;
			.button {
				float: left;
				width: 48%;
			}
			.coupon .input-text {
				margin: 0;
			}
		}
	}

	.woocommerce .cart-collaterals .cart_totals {
		.cart_totals_inner,
		.woocommerce-shipping-calculator {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}

		.woocommerce-shipping-calculator + .cart_totals_inner {
			margin-top: 50px;
		}
	}
}

@media (max-width: 320px) {
	.woocommerce-cart table.cart {
		td.actions {
			.coupon .input-text,
			.coupon input,
			.button {
				float: left !important;
				width: 100% !important;
				margin-bottom: 10px;
			}
		}
	}
	.woocommerce .cart-collaterals .cart_totals table tbody td,
	.woocommerce .cart-collaterals .cart_totals table tbody th {
		padding-left: 15px;
		padding-right: 15px;
	}
}



/**
* Checkout Pages
* ----------------------------------------------------------------------------
*/
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
	border-color: @border_color;
}

.select2-container .select2-choice {
	height: 40px;
	line-height: 40px;
	.border-radius(0);
	border: 1px solid @border_color_dark;
	color: @text_color;
	padding: 0 0 0 10px;
}
.select2-drop-active {
	border-color: @border_color_dark;
}

#order_review_heading {
	margin-top: 50px;
}

.woocommerce td.product-name dl.variation dt {
	font-weight: normal;
}

.woocommerce table.account-orders-table,
.woocommerce table.order_details,
.woocommerce table.woocommerce-checkout-review-order-table {
	border: 1px solid @border_color;
	margin-bottom: 50px;
	thead th {
		background-color: #F2F2F5;
		color: @text_color_bold;
		padding: 15px 30px;
	}

	th,
	td {
		padding: 15px 30px;
		line-height: 20px;
	}

	tbody,
	tfoot {
		th,
		td {
			font-size: 14px;
			color: #777;
			font-weight: normal;
			strong {
				font-weight: normal;
			}
		}

		td {
			color: @text_color_bold;
		}
	}

	tbody tr:first-child td {
		border-top: none;
	}



	tfoot tr:last-of-type td,
	tfoot tr:last-of-type th{
		background-color: #f4f4f4;
		border-top: none;
	}

}

.woocommerce table.customer_details {
	tbody,
	tfoot {
		th,
		td {
			font-size: 14px;
			color: #777;
			font-weight: normal;
			strong {
				font-weight: normal;
			}
		}

		td {
			color: @text_color_bold;
		}
	}

	th,
	td {
		padding: 15px 30px;
		line-height: 20px;
	}
}

/**
* Checkout Payment
* ----------------------------------------------------------------------------
*/
.woocommerce-checkout #payment {
	background-color: transparent;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

.woocommerce-checkout #payment ul.payment_methods {
	padding: 0;
	border-bottom: 0;
}
.woocommerce-checkout #payment ul.payment_methods li label {
	color: @text_color_bold;
	letter-spacing: 0.05em;
}
.woocommerce-checkout #payment ul.payment_methods li + li {
	margin-top: 20px;
}

.woocommerce-checkout #payment ul.payment_methods li input {
	margin: 0 10px 0 0;
}

.woocommerce-checkout #payment div.payment_box {
	font-size: 15px;
	color: @text_color;
	letter-spacing: 0.02em;
	background-color: transparent;
	padding: 0 0 0 30px;
	margin: 15px 0 0 0;
	line-height: 1.7;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	&:before {
		display: none;
	}
}

.woocommerce-checkout #payment div.form-row {
	padding: 0;
	margin: 20px 0 0 0;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	float: none;
}

@media (max-width: 768px) {
	.woocommerce-shipping-fields {
		margin-top: 50px;
	}
	.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
		width: auto;
		margin: 0;
	}
}


/**
* My Account Pages
* ----------------------------------------------------------------------------
*/
.woocommerce-account.logged-in .woocommerce {
	margin-left: -15px;
	margin-right: -15px;
}
.woocommerce-account .woocommerce-MyAccount-content,
.woocommerce-account .woocommerce-MyAccount-navigation {
	padding-left: 15px;
	padding-right: 15px;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 25%;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			font-family: @secondary_font;
			padding: 0;
			margin: 0;
			line-height: 20px;
			font-size: 14px;
			font-weight: bold;
			position: relative;
			color: @text_color_bold;
			text-transform: uppercase;
			a {
				display: block;
				padding: 15px 20px;
				color: inherit;
				border-bottom: solid 1px @border_color;
				.transition03;
			}
			&.is-active a,
			a:hover {
				background-color: @accent_color;
				color: @foreground_accent_color;
				border-bottom-color: @accent_color;
			}
		}
	}
}
.woocommerce-account .woocommerce-MyAccount-content {
	width: 75%;
	fieldset {
		margin-bottom: 20px;
		padding: 20px;
		border-color: @border_color_dark;
	}
}
.woocommerce table.my_account_orders {
	font-size: 1em;
}

.woocommerce table.my_account_orders .order-actions .button {
	margin: 0;
	padding-top: 8.5px;
	padding-bottom: 8.5px;
}

@media (max-width: 768px) {
	.woocommerce-account .woocommerce-MyAccount-content,
	.woocommerce-account .woocommerce-MyAccount-navigation {
		width: 100%;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation ul {
		border-bottom: 1px solid @border_color;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul li {
		display: inline-block;
		font-size: 11px;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
		border-bottom: none;
	}

	.woocommerce-account .woocommerce-MyAccount-content {
		margin-top: 50px;
	}
    #customer_login .login {
	    margin-bottom: 50px;
    }
}

/**
* WishList Page
* ----------------------------------------------------------------------------
*/
.wishlist-title h2 {
	padding: 0;
}
.woocommerce table.wishlist_table {
	font-size: 100%;
}
/* --------------------------------------------
	ORDER TRACKING
-------------------------------------------- */
.track_order {
	text-align: center;
	.input-text {
		text-align: center;
	}
}

.track_order p:first-child {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.woocommerce .track_order .form-row-first,
.woocommerce .track_order .form-row-last {
	float: none;
	margin: auto;
	margin-bottom: 20px;
}