.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/**
* Tab Navigation
* ----------------------------------------------------------------------------
*/
.g5plus-pfui-nav {
	border-bottom: 1px solid #ccc;
	margin: 10px 0 20px 0;
	width: 100%;
}

.g5plus-pfui-nav ul {
	list-style-type: none;
	margin: 0 10px;
	padding: 0;
}

.g5plus-pfui-nav ul li,
.g5plus-pfui-nav ul li a {
	float: left;
	margin: 0;
}
.g5plus-pfui-nav ul li a {
	display: block;
	color: #999;
	background-color: #eee;
	border: 1px solid #ddd;
	border-bottom: 0;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	margin-right: 5px;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: #fff 0 1px 1px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.g5plus-pfui-nav ul li a:hover {
	color: #666;
}

.g5plus-pfui-nav ul li a.current {
	background: none;
	border: 1px solid #ccc;
	border-bottom: 1px solid #f1f1f1;
	color: #464646;
	margin-bottom: -1px;
}
.g5plus-pfui-nav ul li a:focus {
	outline: none;
}

/**
* Element Block
* ----------------------------------------------------------------------------
*/
.g5plus-pfui-wrap {
	background: #fff;
	padding: 10px 15px;
	margin: 15px 0;
}

.g5plus-pfui-wrap > .g5plus-pfui-elm-block + .g5plus-pfui-elm-block {
	margin-top: 15px;
}

.g5plus-pfui-elm-block label {
	color: #666;
	display: block;
	margin-bottom: 2px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
}

.g5plus-pfui-elm-block input[type="text"],
.g5plus-pfui-elm-block textarea,
.g5plus-pfui-elm-block select,
.g5plus-pfui-elm-block .g5plus-pfui-elm-container {
	border: 1px #dfdfdf solid;
}

.g5plus-pfui-elm-block input[type="text"],
.g5plus-pfui-elm-block textarea {
	width: 100%;
}

.g5plus-pfui-elm-block textarea {
	height: 65px;
	padding-left: 8px;
}

.g5plus-pfui-elm-block input[type="text"] {
	padding-left: 8px;
}

.g5plus-pfui-elm-block .description {
	color: #999;
	display: block;
	font-size: 11px;
	line-height: 1.6;
	padding-left: 10px;
}

.g5plus-pfui-elm-block .g5plus-pfui-elm-source {
	height: 96px;
}

.g5plus-pfui-elm-block .g5plus-pfui-elm-container {
	background: #f0f0f0;
	padding: 10px;
}
.g5plus-pfui-elm-block .g5plus-pfui-elm-container p.none {
	text-align: center;
}



/**
* Gallery
* ----------------------------------------------------------------------------
*/

.g5plus-pfui-elm-block .g5plus-pfui-elm-image-gallery {
	margin: 0 0 -5px 0;
	padding: 0;
}
.g5plus-pfui-elm-block .g5plus-pfui-elm-container .gallery {
	margin: 0;
	padding-bottom: 8px;
}
.g5plus-pfui-elm-block .g5plus-pfui-elm-container .gallery li {
	display: inline-block;
	margin: 0 8px 8px 0;
	padding: 0;
}
.g5plus-pfui-elm-block .g5plus-pfui-elm-container .gallery li img {
	vertical-align: middle;
}

#g5plus-pfui-post-format-gallery .g5plus-pfui-elm-container {
	background: #fff;
}

.g5plus-pfui-gallery-picker .gallery{
	overflow: auto;
}

.g5plus-pfui-gallery-picker .gallery span{
	width: 120px;
	height: 120px;
	display: block;
	float: left;
	position: relative;
	margin: 4px;
	border: solid 1px #eeeeee;
}

.g5plus-pfui-gallery-picker .gallery span.close{
	width: 8px;
	height: 8px;
	line-height: 8px;
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	color: #000;
	text-align: center;
	display: block;
	border: none;
	cursor: pointer;
}

.g5plus-pfui-gallery-picker .gallery img{
	width: 100%;
	height: 100%;
	display: block;
}

.g5plus-pfui-gallery-picker .gallery span.g5plus-pfui-ui-state-highlight {
	width: 120px;
	height: 120px;
	display: inline-block;
	border: 1px dotted #bbbbbb;
	background: #eeeeee;
}

.g5plus-pfui-gallery-picker .gallery span {
	padding: 5px;
	border: solid 1px #EFEFEF;
}

.g5plus-pfui-gallery-picker .gallery > span:hover {
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
	box-shadow: 1px 1px 5px #999;
}

#formatdiv{
	display: none;
}



